server {
    listen 443;
    server_name arks.ch;

    ssl on;
    ssl_certificate /etc/letsencrypt/live/arks.ch/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/arks.ch/privkey.pem;

    location /static {
      root /var/ark2020;
    }

    location /media {
      root /var/ark2020;
    }

    location / {
      client_max_body_size 20m;
      proxy_pass http://127.0.0.1:8888;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";

    }
}

server {
    listen 80;
    server_name arks.ch;
    
    return 302 https://arks.ch$request_uri;
}
