<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="../public/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Ubung 5</title>
    <link rel="stylesheet" href="../public/css/app.css">
    <link rel="stylesheet" href="../public/css/feedback.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        Fische im Aquarium
                    </div>
                    <img src="../public/images/avatars/boar.svg" alt="boar">
                    <div class="user__title">
                        Vasilisa Kochetkova
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 10%">10%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen feedback">
                <h1>
                    Übung 2: Anonymes Feedback
                </h1>
                <div class="feedback__data">
                    <p>
                        Was ist der Beitrag vom Mitspieler zur Psychologischen
                        Sicherheit im Team? Schau dir zuerst das Spannungsprofil deines
                        Feedbacknehmers rechts an. Und Beantworte dann die drei Fragen für ein
                        offenes, lösungsorientiertes und anonymes Feedback. Geh ein Risiko ein und
                        schreib mit offenem Herzen...
                    </p>
                    <div class="fields-fill__wrapper"></div>
                </div>
                <div class="feedback__users">
                    <p class="bold">
                        Ergebnisse von
                        <span>
                            Constantin Constantinopol
                        </span>
                    </p>
                    <div class="rang-wrapper">
                        <div class="rang min">
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <a href="#" class="button" id="button">
                        Weiterspielen
                    </a>
                </div>
            </main>
        </div>
    </div>
</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="../public/js/AppRange.js"></script>
<script src="../public/js/AppFeedback.js"></script>
<script>
    const {log} = console;

    const data = [
        {
            name: "Vasilisa Kochetkova",
            avatar: "../public/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "../public/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "../public/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "../public/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "../public/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "../public/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "../public/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "../public/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "../public/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "../public/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "../public/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "../public/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
    ];

    new AppRange({
        container: '.rang-wrapper',
        data: data,
        load(wrapper) {
            wrapper[0].classList.add('min')
        }
    });

    new AppFeedback({
        container: '.fields-fill__wrapper',
        data,
        loadEnd(bodyItems) {
            new Swiper('.fields-fill', {
                centeredSlides: true,
                grabCursor: true,
                loop: true,
                breakpoints: {
                    1300: {
                        slidesPerView: 3,
                        spaceBetween: 30,
                    },
                    320: {
                        slidesPerView: 1,
                        spaceBetween: 30,
                    },
                },
                navigation: {
                    nextEl: '.slider-button-next',
                    prevEl: '.slider-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                },
                on: {
                    slideChange(a, b, c) {
                        const index = a.realIndex;
                        bodyItems.forEach((item, i) => {
                            item.classList.remove('active');
                        });
                        bodyItems[index].classList.add('active');
                    }
                }
            });
        }
    });


</script>
</body>
</html>
