<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="../public/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Preview</title>
    <link rel="stylesheet" href="../public/css/app.css">
    <link rel="stylesheet" href="../public/css/preview.css">
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        Fische im Aquarium
                    </div>
                    <img src="../public/images/avatars/boar.svg" alt="boar">
                    <div class="user__title">
                        Vasilisa Kochetkova
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 10%">10%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen preview">
                <div class="preview__data">
                    <h1>
                        Mission 1: Soziale Sensibilität
                    </h1>
                    <p>
                        Deine ersten Mission auf der ARCHE dient der Stärkung der sozialen Sensibilität im Team, dem
                        ersten
                        von zwei Schlüsseln zu psychologischer Sicherheit:
                    </p>
                    <ul>
                        <li>
                            Du Benennst und verstehst Spannungsfelder, die das Zusammenspiel im Team prägen und siehst
                            ob
                            dein Verhalten im Team eine ausgleichende oder spaltend Wirkung hat.
                        </li>
                        <li>
                            Und erkennst in welchem Verhältnis deine Selbst- zur Fremdwahrnehmung im Team steht.
                        </li>
                        <li>
                            Übrigens: alle Auswertungen kannst du zum Spielabschluss als PDF herunterladen.
                        </li>
                    </ul>
                    <a href="#" class="button">
                        Weiterspielen
                    </a>
                </div>
                <div class="preview__thumbnail">
                    <span class="icon-player"></span>
                    <iframe width="699" height="400" src="https://www.youtube.com/embed/4CC2yDX_yBc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>
