<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="../public/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Psychologicher</title>
    <link rel="stylesheet" href="../public/css/app.css">
    <link rel="stylesheet" href="../public/css/boxings.css">
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        Fische im Aquarium
                    </div>
                    <img src="../public/images/avatars/boar.svg" alt="boar">
                    <div class="user__title">
                        Vasilisa Kochetkova
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 10%">10%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen psychologischer">
                <h1>
                    Psychologischer Sicherheitswert
                </h1>
                <p>
                    Hier siehst du den psychologische Sicherheitswert für dein Team auf einer Skala zwischen 0 (sehr
                    unsicher) und 5 (aussergewöhnlich sicher). Wie verhält sich dieser Wert zu deiner Einschätzung der
                    gefühlten Sicherheit im Team?
                    <br/>
                    <br/>
                </p>

                <div class="psychologischer__container">
                    <div class="distry">
                        <div class="distry__description">
                            Probleme und schwierige Themen kann ich bei dir ansprechen.
                        </div>
                        <div class="distry__thumbnails">
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                        </div>
                    </div>
                    <div class="team-average">
                        <div class="team-average__wrapper">
                            <div class="team-average__range" style="width: 27%">
                                <div class="team-average__circle">2.7</div>
                            </div>
                            <div class="team-average__down">0</div>
                            <div class="team-average__up">0</div>
                        </div>
                    </div>
                    <div class="distry">
                        <div class="distry__description">
                            Probleme und schwierige Themen kann ich bei dir ansprechen.
                        </div>
                        <div class="distry__thumbnails">
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                        </div>
                    </div>
                    <div class="distry">
                        <div class="distry__description">
                            Probleme und schwierige Themen kann ich bei dir ansprechen.
                        </div>
                        <div class="distry__thumbnails">
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                        </div>
                    </div>
                    <div class="distry">
                        <div class="distry__description">
                            Probleme und schwierige Themen kann ich bei dir ansprechen.
                        </div>
                        <div class="distry__thumbnails">
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                        </div>
                    </div>
                    <div class="distry">
                        <div class="distry__description">
                            Probleme und schwierige Themen kann ich bei dir ansprechen.
                        </div>
                        <div class="distry__thumbnails">
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                        </div>
                    </div>
                    <div class="distry">
                        <div class="distry__description">
                            Probleme und schwierige Themen kann ich bei dir ansprechen.
                        </div>
                        <div class="distry__thumbnails">
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                            <div class="distry__user">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <a href="#" class="button" id="button">
                        Weiterspielen
                    </a>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>

