{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Farewell-INFO</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/arche.css">
    <!--  plugins  -->
</head>
<body>
<div class="app started">
    <div class="app__head">
        <header class="header-main">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>THE ARK</span>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen arche">
                <h1>
                    Danke für deine Reise mit der ARCHE
                </h1>
                <div class="user">
                    <img src="{{user.avatar}}" alt=""/>
                    <div class="user__data">
                        <div class="user__subname">{{game.name}}</div>
                        <div class="user__name">
                            {{user.name}}
                            {% comment %} Vasilisa<br/>
                            Kochetkova {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="options">
                    <div class="options__item">
                        <div class="icon-download" onclick="location='/game-insights/'"></div>
                        <p>
                            Spieldaten? Klicke auf das Icon um ein PDF mit der Auswertung deiner Reise mit der Arche herunterzuladen
                        </p>
                    </div>
                    <div class="options__item">
                        <a href="https://www.linkedin.com/in/dr-joachim-maier/">
                        <div class="icon-money"></div>
                        </a>
                        
                        <p>
                            Spielauswertung? Nimm'für eine professionelle Interpretation eurer Spieldaten Kontakt Dr. Joe Maier
                        </p>
                    </div>
                    <div class="options__item">
                        <div class="icon-download" onclick="location='/heatmap/'"></div>
                        <p>
                            Interessiert dich eure TEAM-HEATMAP? Klicke auf das Icon um eine Karte der Spannungen im Team zu sehen.
                        </p>
                    </div>
                    <div class="options__item">
                        <a href="https://www.paypal.me/joetheark?nsukey=Cv9DYpec9jSFBrhYMyG9ykAZjUgNbEQDsmPE6GXAwsF2Zk0d4nZh32OO2%2BLAnWMQrHpAgJar7t0TlkRgmPwi9c03UHIIRpCOepR136%2BGHLevVY1gXinDcDvAMKCqGvzkYRWiQ9vvGgd8HxfbiQZNROA2jEK58%2FHWrgQT5Kg%2FCjSbGePxGdZb7iWDX9gM5DMIyiSzSf1%2BThqtZEoJdoor9w%3D%3D">
                        <div class="icon-money"></div>
                        </a>
                        
                        <p>
                            Paypal? Gib dem Entwickler einen Kaffee aus – Joe Maier dankt es dir!
                        </p>
                    </div>
                </div>
                <button onclick="location='/game-insights/'">
                    Zurück
                </button>
            </main>
        </div>
    </div>
</div>
</body>
<script>

</script>
</html>
