{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>NEXT STEPS</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/arche.css">
    <!--  plugins  -->
</head>
<body>
<div class="app started">
    <div class="app__head">
        <header class="header-main">
            <div class="header-main__title">
                <icon classs="icon" onClick="window.open('https://info.arks.ch/');">
                <span class="icon-logo"></span>
                <span>THE ARK</span>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen arche">
                <h1>
                    {% trans "Nach der Reise ist vor der Reise." %}
                </h1>
                <div class="user">
                    <img src="{{user.avatar}}" alt=""/>
                    <div class="user__data">
                        <div class="user__subname">{{game.name}}</div>
                        <div class="user__name">
                            {{user.name}}
                            {% comment %} Vasilisa<br/>
                            Kochetkova {% endcomment %}
                        </div>
                    </div>
                </div>
                <div style="border: 1px solid #ccc; border-radius: 10px; padding: 10px;">
                <div class="options">
                    <div class="options__item">
                        <a href="https://www.liberatingstructures.com/1-1-2-4-all/" target="_blank">
                        <div class="icon-logo"></div>
                        </a>
                         <p>
                            {% trans "DEBRIEF: Arbeiten Sie in Ihren sicheren Kreisen gemeinsam an Lösungen, wobei die Kernmitglieder die Moderation übernehmen. Schwerpunkt: 1) Bestehende Faktoren, die zur psychologischen Sicherheit im Team beitragen, und 2) Erkundung von Babyschritten zur Verbesserung der psychologischen Sicherheit. Planen Sie 20 Minuten für diese Aktivität ein." %}
                        </p>
                    </div>
                    <div class="options__item">
                        <div class="icon-download" onclick="location='/potential-result/'"></div>
                        <p style="background-color: #9FE2BF; color: #626262; border-radius: 10px; padding: 0 10px;">
                            {% trans "Erkundet nochmal eure Psychologischen Safe Circles." %}
                        </p>
                    </div>
                    <div class="options__item">
                        <div class="icon-logo" onclick="location='/mission-2-ubung-2/'"></div>
                        <p style="background-color: #9FE2BF; color: #626262; border-radius: 10px; padding: 0 10px;">
                            {% trans "ANONYMES FEEDBACK (Zeitbedarf: 15 Minuten, abhängig von der Teamgröße). Wir empfehlen eine Feedbackrunde mit 3 bewährten Fragen zur Stärkung der psychologischen Sicherheit im Team. (Unbedingt empfohlen für Teams mit einem Performance-Wert unter 80)." %}
                        </p>
                    </div>
                    {% comment %}<div class="options__item">
                        <div class="icon-logo" onclick="location='/preview-2/'"></div>
                        <p style="background-color: #FAE03C; color: #626262; border-radius: 10px; padding: 0 10px;">
                            {% trans "Was jetzt: SOCIAL SENSITIVITY TRAINING? (Ca. 10 Minuten Zeitbedarf) Hilf mit die psychologische Sicherheit im Team zu verbessern: Trainiere dazu deine soziale Sensibilität und lerne einzuschätzen, wie dein Beitrag zur inneren Sicherheit von jedem einzelnen Teammitglied wahrgenommen wirst. (Empfohlen für Teams mit einem psychologischen Sicherheitswert unter 70)." %}
                        </p>
                    </div>{% endcomment %}
                    <div class="options__item">
                        <a href="https://calendly.com/joe-1116/kostenloses-vorgesprach?month=2021-12" target="_blank">
                        <div class="icon-money"></div>
                        </a>
                        <p style="background-color: #fa5252; color: white; border-radius: 10px; padding: 0 10px;">
                            {% trans "COUNSELING? Für eine professionelle Intervention nimm Kontakt mit deinem Coach oder mit Dr. Joe Maier auf. Das Ziel ist die Erweiterung eurer Psychological Safe Circles. (Empfohlen für Teams mit einem psychologischen Sicherheitswert unter 55)." %}
                        </p>
                    </div>
                    <div class="options__item">
                        <div class="icon-download" onclick="location='/heatmap/'"></div>
                        <p style="background-color: #FAE03C; color: #626262; border-radius: 10px; padding: 0 10px;">
                            {% trans "Bist du ein Coach oder vertraut mit gruppendynamischen Mustern? Dann ist die HEATMAP der Spannungen im Team etwas für dich." %}
                        </p>
                    </div>
                    <div class="options__item">
                        <div class="icon-download" onclick="location='/game-insights/'"></div>
                        <p>
                            {% trans "SPIELDATEN? Klicke auf diesen Link, um die Auswertung deiner Reise mit der Arche zu sehen. Speichere den Link, um die Auswertung später erneut anzuschauen." %}
                        </p>
                    </div>
                    <div class="options__item">
                        <a href="https://www.paypal.me/joetheark?nsukey=Cv9DYpec9jSFBrhYMyG9ykAZjUgNbEQDsmPE6GXAwsF2Zk0d4nZh32OO2%2BLAnWMQrHpAgJar7t0TlkRgmPwi9c03UHIIRpCOepR136%2BGHLevVY1gXinDcDvAMKCqGvzkYRWiQ9vvGgd8HxfbiQZNROA2jEK58%2FHWrgQT5Kg%2FCjSbGePxGdZb7iWDX9gM5DMIyiSzSf1%2BThqtZEoJdoor9w%3D%3D" target="_blank">
                        <div class="icon-money"></div>
                        </a>
                         <p style="background-color: #9FE2BF; color: #626262; border-radius: 10px; padding: 0 10px;">
                            {% trans "PAYPAL? Gönn' dem Entwickler einen Kaffee – Dr. Joe wird es dir danken!" %}
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>
                <p>
                    <p>
                        <br><br>
                    </p>
                        {% comment %}<a href="/heatmap/">
                        <button class="button" type="button">
                            {% trans "Zur Team Heatmap" %}
                        </button>{% endcomment %}

                <button onClick="window.open('https://info.arks.ch/');">
                    {% trans "Infos zur Arche" %}
                </button>
                    <p>
                        <br><br>
                    </p>

                </p>


                <div style="border: 1px solid #ccc; border-radius: 10px; padding: 10px;">      
                <p style="background-color: #52CEEC; color: #FFFFFF; border-radius: 10px; padding: 0 10px;"><br><br>
                    {% trans "Psychologische Sicherheit ist laut Google’s Aristoteles-Studie stärkster Prädiktor für Team-Performance." %}<br><br><br>
                </p>

                    <div class="google-slides-container">
                        <iframe src="https://docs.google.com/presentation/d/1xmsuoUm31ay2ecqG-FOb49HdyJkq9mTfcn97gMkzmdw/embed?start=true&loop=false&delayms=8000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                    </div>

            </div>

            </main>
        </div>
    </div>
</div>
</body>
<script>

</script>
</html>
