{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Auth Link</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/auth-link.css">
    <!--  plugins  -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
<div class="app started">
    <div class="app__head">
        <header class="header-main">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen auth-link">
                <h1 id="title-game"></h1>
                <form action="#" method="POST" id="auth-form" class="form">
                {% csrf_token %}
                    <div class="form__field">
                        <input id="nutzername" type="text" name="Nutzername" value="" required/>
                        <span class="form__placeholder">Nutzername</span>
                    </div>
                    <div class="form__field">
                        <div class="slider">
                            <label>
                                Benutzerbild
                            </label>
                            <div class="swiper-container" id="app-1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" v-for="item in avatar_list" v-bind:key="item.id">
                                        <img :src="item" alt=""/>
                                    </div>

                                    {% comment %} <div class="swiper-slide">
                                        <img src="/static/images/avatars/bear.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/boar.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/beaver.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/buffalo-1.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/buffalo.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/cat.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/chicken.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/cow.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/crow.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/dog-1.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/dog.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/donkey.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/elephant.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/fox.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/giraffe.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/hedgehog.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/hen.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/hippopotamus.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/horse.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/kangaroo.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/koala.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/leopard.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/lion.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/marten.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/monkey-1.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/monkey.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/mouse.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/octopus.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/ostrich.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/owl.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/panda.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/parrot.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                                    </div> {% endcomment %}
                                </div>
                                <input id="avatar" type="hidden" name="avatar" value="输入你要传bai递的值">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="form__field">
                        <input id="name-des-spiels" type="text" name="name-des-spiels" value="" required/>
                        <span class="form__placeholder">Name des Spiels</span>
                    </div> 
                    --> 
                    <div class="form__field">
                        <p>
                            Die Arche ist ein soziales Spiel, um das psychologische Sicherheitsgefühl in <br/>Teams zu
                            entwickeln.
                            Die
                            Spielzeit beträgt maximal eine Stunde.
                        </p>
                    </div>
                    <div class="form__field">
                        <p>
                            Teile diesen Link, um dein Team mitzunehmen:
                        </p>
                        <button>
                            Einen Link teilen:
                        </button>
                        {% if link %}
                            <input id="link" type="text" name="link" value="{{link}}"/>
                        {% else %}
                            <input id="link" type="text" name="link" value=""/>
                        {% endif %}
                        <span class="icon-link"></span>
                    </div>
                    <div class="form__field">
                        <button type="submit">
                            Weiterspielen
                        </button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/static/vue.js"></script>
<script src="/static/jquery-3.5.1.min.js"></script>

<script>
   var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-1',
        data() {
            return {
                avatar_list: [
                    'anteater.svg',
                    'bear.svg',
                    'boar.svg',
                    'beaver.svg',
                    'buffalo-1.svg',
                    'buffalo.svg',
                    'cat.svg',
                    'chicken.svg',
                    'cow.svg',
                    'crow.svg',
                    'dog-1.svg',
                    'dog.svg',
                    'donkey.svg',
                    'elephant.svg',
                    'fox.svg',
                    'giraffe.svg',
                    'hedgehog.svg',
                    'hen.svg',
                    'hippopotamus.svg',
                    'horse.svg',
                    'kangaroo.svg',
                    'koala.svg',
                    'leopard.svg',
                    'lion.svg',
                    'marten.svg',
                    'monkey-1.svg',
                    'monkey.svg',
                    'mouse.svg',
                    'octopus.svg',
                    'ostrich.svg',
                    'owl.svg',
                    'panda.svg',
                    'parrot.svg',
                    'penguin-1.svg',
                ],
            }
        },
        created(){
            this.avatar_list.sort(function(){return Math.random()>0.5?-1:1;}); 
            var uu = 0;
            while (uu < this.avatar_list.length){
                var temp = this.avatar_list[uu];
                var result = '/static/images/avatars/' + temp;
                this.avatar_list[uu] = result;
                uu += 1;
            }
        }
    })

 

    var mySwiper = new Swiper('.swiper-container', {
        slidesPerView: 4,
        spaceBetween: 40,
        grabCursor: true,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    function check(){
        var temp = app.avatar_list[mySwiper.realIndex];
        $('#avatar').val(temp);
        //$('#avatar').val(mySwiper.realIndex);
    }
    setInterval("check()", 100);

    window.addEventListener('load', defaultLoad);
    window.addEventListener('resize', defaultLoad);

    function defaultLoad() {
        const el = document.getElementById('title-game');
        el.innerHTML = window.innerWidth < 768 ? 'Spiel erstellen' : 'Wie steht es um eure Psychologische Sicherheit?'
    }

</script>
</body>
</html>
