{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Initiate-GAME</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/auth.css">
    <!--  plugins  -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
<div class="app started">
    <div class="app__head">
        <header class="header-main container">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                    </div>
                    <img src="{{user.avatar}}" alt="">
                    <div class="user__title">
                        {{user.name}}
                    </div>
                </div>
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>

            <div class="language-selector" style="display:inline-block;">
                    <form action="{% url 'set_language' %}" method="post" style="vertical-align:middle;">{% csrf_token %}
                        <input name="next" type="hidden" value="">
                        <select onchange="this.form.submit()" name="language" id="select_" style="width: 20px;">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        <img id="flag" src="" style="width:45%;vertical-align:middle;padding-left:1px">
                    </form>
                    
            </div>

        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen auth">
                <h1 id="title-game">
                    {% trans "Wie steht es um eure Psychologische Sicherheit?" %}
                </h1>
                <p>
                    {% trans "Die Arche ist eine Online-Gruppen-Challenge, um das psychologische Sicherheitsgefühl in Teams zu entwickeln. Die Spielzeit beträgt je nach Gruppengrösse 45-90 Minuten." %}<br>
                    {% trans "Spiel bitte mit einem Firefox, Chrome oder Opera Browser." %}

                </p>
                <span class="terms_str">{% trans "Das sind die" %}
                  <span class="terms" style="text-decoration:underline;">{% trans "Nutzungsbedingungen" %}</span>

                </span>
                <form id="form_" action="#" method="POST" id="auth-form" class="form" onkeypress="javascript: if (event.keyCode==13 || event.onclick){check_game_name();return false;}">
                {% csrf_token %}
                    <div class="form__field">
                        <input maxlength="20" minlength="2" id="nutzername" type="text" name="Nutzername" value="" required autofocus/>
                        <span class="form__placeholder">{% trans "Nutzername" %}</span>
                    </div>
                    <div class="form__field">
                        <input maxlength="20" minlength="2" id="name-des-spiels" type="text" name="name-des-spiels" value="" required/>
                        <span class="form__placeholder">{% trans "Name des Spiels" %}</span>
                    </div>
                    <div class="form__field">
                        <div class="slider">
                            <label>
                                {% trans "Benutzerbild" %}
                            </label>
                            <div class="swiper-container" id="app-1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" v-for="item in avatar_list" v-bind:key="item.id">
                                        <img :src="item" alt=""/>
                                    </div>
                                    {% comment %}
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/bear.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/boar.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/beaver.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/buffalo-1.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/buffalo.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/cat.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/chicken.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/cow.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/crow.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/dog-1.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/dog.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/donkey.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/elephant.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/fox.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/giraffe.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/hedgehog.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/hen.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/hippopotamus.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/horse.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/kangaroo.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/koala.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/leopard.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/lion.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/marten.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/monkey-1.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/monkey.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/mouse.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/octopus.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/ostrich.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/owl.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/panda.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/parrot.svg" alt=""/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                                    </div> {% endcomment %}
                                </div>
                                <input id="avatar" type="hidden" name="avatar" value="输入你要传bai递的值">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form__field">
                        <p style="display: block;">
                            {% trans "Teile diesen Link, um dein Team mitzunehmen:" %}
                        </p>
                        <button style="display: none;">
                            {% trans "Diesen Link teilen:" %}
                        </button>
                        <input id="link" type="hidden" name="link" value="" readonly="readonly"/>
                        <input id="link_url" type="text" name="link_url" value="" readonly="readonly"/>
                        <!-- <button type="button" class="icon-link" id="icon-link" data-clipboard-target="#link" alt="Copy to clipboard"></button> -->
                        <span id="icon-link" class="icon-link" data-clipboard-target="#link_url">
                        </span>
                    </div>
                    <div class="form__field">
                        <button id="submit_button" type="button">
                            {% trans "Weiterspielen" %}
                        </button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/static/vue.js"></script>
<script src="/static/axios.min.js"></script>
<script src="/static/jquery-3.5.1.min.js"></script>
  <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script>
    // Copy and tooltip
    new ClipboardJS('.icon-link');
    let linkSpan = tippy(document.querySelector('.icon-link'));
    tippy('.icon-link', {
      content: 'Copy to clipboard',
    });
    tippy('.icon-link', {
      trigger: 'click',
      content: 'Copied',
    });
    //Terms of use
    tippy('.terms', {
      content: `Terms of use: You are participating in a research project. Your contribution to our research project
      will enable scientists to find out more about organizational dynamics, dimensions of psychological safety, fields of
      tension, as well as self- and external perceptions within teams. We also use aggregated game data to improve our
      software and to identify patterns in the context of our research questions. By using the software, you acknowledge
      your acceptance of the terms of use. Your participation is voluntary. You can stop the experiment at any time
      by closing your browser.`,
    });

    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-1',
        data() {
            return {
                avatar_list: [
                    'anteater.svg',
                    'bear.svg',
                    'boar.svg',
                    'beaver.svg',
                    'buffalo-1.svg',
                    'buffalo.svg',
                    'cat.svg',
                    'chicken.svg',
                    'cow.svg',
                    'crow.svg',
                    'dog-1.svg',
                    'dog.svg',
                    'donkey.svg',
                    'elephant.svg',
                    'fox.svg',
                    'giraffe.svg',
                    'hedgehog.svg',
                    'hen.svg',
                    'hippopotamus.svg',
                    'horse.svg',
                    'kangaroo.svg',
                    'koala.svg',
                    'leopard.svg',
                    'lion.svg',
                    'marten.svg',
                    'monkey-1.svg',
                    'monkey.svg',
                    'mouse.svg',
                    'octopus.svg',
                    'ostrich.svg',
                    'owl.svg',
                    'panda.svg',
                    'parrot.svg',
                    'penguin-1.svg',
                ],
            }
        },
        created(){
            this.avatar_list.sort(function(){return Math.random()>0.5?-1:1;});
            var uu = 0;
            while (uu < this.avatar_list.length){
                var temp = this.avatar_list[uu];
                var result = '/static/images/avatars/' + temp;
                this.avatar_list[uu] = result;
                uu += 1;
            }
        }
    })

    var mySwiper = new Swiper('.swiper-container', {
        slidesPerView: 1,
        spaceBetween: 20,
        grabCursor: true,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        slideToClickedSlide: true,
        centeredSlides: true,
        breakpoints: {
            320: {
                slidesPerView: 1,
            },
            398: {
                slidesPerView: 3,
                spaceBetween: 20,
            },
            500: {
                slidesPerView: 4,
                spaceBetween: 40,
            }

        }
    });

    function check(){
        var temp = app.avatar_list[mySwiper.realIndex];
        //console.log(temp);
        $('#avatar').val(temp);
        //console.log(mySwiper.realIndex);

        //var game_name = $('#name-des-spiels').val();
    }
    setInterval("check()", 100)
    var a = Date.now();
    var temp_link = btoa(a);
    var url_host = window.location.host;
    var temp_link_ = url_host + '/link/' + temp_link + '/';
    $('#link').val(temp_link);
    $('#link_url').val(temp_link_);

    //console.log(mySwiper.realIndex);
    //$('.swiper-button-prev').click(function(){
    //    console.log(mySwiper.realIndex);
    //})
    //$('.swiper-button-next').click(function(){
    //    console.log(mySwiper.realIndex);
    //})

    //function check(){
    //    if(mySwiper.isTouched){
    //        console.log(mySwiper.realIndex);
    //
    //    }else{
    //        console.log(mySwiper.realIndex);
    //    }
    //}
    //setInterval("check()", 100)


    window.addEventListener('load', defaultLoad);
    window.addEventListener('resize', defaultLoad);

    function defaultLoad() {
        const el = document.getElementById('title-game');
        el.innerHTML = window.innerWidth < 768 ? 'Spiel erstellen' : "{% trans 'Wie steht es um eure Psychologische Sicherheit?' %}"
    }

    function check_game_name(){
        var game_name = $('#name-des-spiels').val();
        if (game_name === ''){
            return
        }
        
        var data_ = {'game_name': game_name};
        axios
            .post(`/api/check_game_name/`, data_)
            .then(function(response){
                var result = response.data.result;
                if (result === 1){
                    console.log(111)
                    // valid game name
                    var input1 = $('#nutzername').val()
                    var input2 = $('#name-des-spiels').val()
                    input1 = input1.replace(/\s*/g,"")
                    input2 = input2.replace(/\s*/g,"")
                    $('#nutzername').val(input1)
                    $('#name-des-spiels').val(input2)
                    if ((input1.length > 2)&&(input2.length > 2)){
                        var form_submit = document.getElementById('form_');
                        form_submit.submit()
                        return 
                    }else{
                        alert("The user-name and the game-name should have more than 2 characters");
                        $('#nutzername').val('')
                        $('#name-des-spiels').val('')
                        return 
                    }


                }else{
                    // have same name
                    alert("The game-name is already taken. Please chose another name.");
                    $('#name-des-spiels').val('');
                    return
                }
            })
    }

    $('#icon-link').click(function(){
        console.log('click');
        check_game_name();
    })

    $('#submit_button').click(function(){
        console.log('click');
        check_game_name();
    })

    // Safari 3.0+ "[object HTMLElementConstructor]" 
    var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));
    console.log(isSafari)
    if (isSafari){
        alert('We detect that you are using Safari. We suggest you to choose Firefox, Chrome or Opera so that you can have a better user experience.')
    }
    
    var lang_code = $('#select_').val()
    if (lang_code == 'zh-hans'){
        $("#flag").attr("src", "{% static 'images/flags/4_zh-hans_transparent.png'%}");
    } else if (lang_code == 'de'){
        $("#flag").attr("src", "{% static 'images/flags/1_de_transparent.png'%}");
    } else if (lang_code == 'en'){
        $("#flag").attr("src", "{% static 'images/flags/2_en_transparent.png'%}");
    } else if (lang_code == 'fr'){
        $("#flag").attr("src", "{% static 'images/flags/3_fr_transparent.png'%}");
    }

</script>
</body>
</html>
