{% comment %} [
    {
        range: [1, 99],
        labelRange: ['Ehrlichkeit', 'Betrug'],
        data: [
            {
                name: 'Bob Stampton',
                avatar: '/static/images/avatars/hen.svg',
                statusSide: 10
            },
            {
                name: 'Garry Garrison',
                avatar: '/static/images/avatars/horse.svg',
                statusSide: 20
            },
            {
                name: 'Johny Depp',
                avatar: '/static/images/avatars/crow.svg',
                statusSide: 45
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
                statusSide: 49
            },
            {
                name: 'Bruce Vilis',
                avatar: '/static/images/avatars/bear.svg',
                statusSide: 49
            },
            {
                name: 'Donkey kong',
                avatar: '/static/images/avatars/dog.svg',
                statusSide: 49
            },
            {
                name: 'Mister V',
                avatar: '/static/images/avatars/beaver.svg',
                statusSide: 49
            },
            {
                name: 'Graf Dracula',
                avatar: '/static/images/avatars/buffalo.svg',
                statusSide: 49
            },
            {
                name: 'Anthony Hopkins',
                avatar: '/static/images/avatars/kangaroo.svg',
                statusSide: 49
            },
            {
                name: 'Vladimir',
                avatar: '/static/images/avatars/donkey.svg',
                statusSide: 60
            },
            {
                name: 'Irina Shake',
                avatar: '/static/images/avatars/giraffe.svg',
                statusSide: 70
            },
            {
                name: 'Conan Barbarian',
                avatar: '/static/images/avatars/fox.svg',
                statusSide: 99
            },

        ]
    },
    {
        range: [1, 99],
        labelRange: ['Ehrlichkeit', 'Betrug'],
        data: [
            {
                statusSide: 10
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
                statusSide: 20
            },
            {
                statusSide: 45
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 60
            },
            {
                statusSide: 70
            },
            {
                statusSide: 99
            },
        ]
    },
    {
        range: [1, 99],
        labelRange: ['Ehrlichkeit', 'Betrug'],
        data: [
            {
                statusSide: 10
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
                statusSide: 20
            },
            {
                statusSide: 45
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 60
            },
            {
                statusSide: 70
            },
            {
                statusSide: 99
            },
        ]
    },
    {
        range: [1, 99],
        labelRange: ['Ehrlichkeit', 'Betrug'],
        data: [
            {
                statusSide: 10
            },
            {
                statusSide: 45
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
                statusSide: 70
            },
            {
                statusSide: 70
            },
            {
                statusSide: 99
            },
        ]
    },
    {
        range: [1, 99],
        labelRange: ['Ehrlichkeit', 'Betrug'],
        data: [
            {
                statusSide: 10
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
                statusSide: 20
            },
            {
                statusSide: 45
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 60
            },
            {
                statusSide: 70
            },
            {
                statusSide: 99
            },
        ]
    },
    {
        range: [1, 99],
        labelRange: ['Ehrlichkeit', 'Betrug'],
        data: [
            {
                statusSide: 10
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
                statusSide: 20
            },
            {
                statusSide: 45
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 60
            },
            {
                statusSide: 70
            },
            {
                statusSide: 99
            },
        ]
    },
    {
        range: [1, 99],
        labelRange: ['Ehrlichkeit', 'Betrug'],
        data: [
            {
                statusSide: 10
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
                statusSide: 20
            },
            {
                statusSide: 45
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 60
            },
            {
                statusSide: 70
            },
            {
                statusSide: 99
            },
        ]
    },
    {
        range: [1, 99],
        labelRange: ['Ehrlichkeit', 'Betrug'],
        data: [
            {
                statusSide: 10
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
                statusSide: 20
            },
            {
                statusSide: 45
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 60
            },
            {
                statusSide: 70
            },
            {
                statusSide: 99
            },
        ]
    },
    {
        range: [1, 99],
        labelRange: ['Ehrlichkeit', 'Betrug'],
        data: [
            {
                statusSide: 10
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
                statusSide: 20
            },
            {
                statusSide: 45
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 60
            },
            {
                statusSide: 70
            },
            {
                statusSide: 99
            },
        ]
    },
    {
        range: [1, 99],
        labelRange: ['Ehrlichkeit', 'Betrug'],
        data: [
            {
                statusSide: 10
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
                statusSide: 20
            },
            {
                statusSide: 45
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 60
            },
            {
                statusSide: 70
            },
            {
                statusSide: 99
            },
        ]
    },
    {
        range: [1, 99],
        labelRange: ['Ehrlichkeit', 'Betrug'],
        data: [
            {
                statusSide: 10
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
                statusSide: 20
            },
            {
                statusSide: 45
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 60
            },
            {
                statusSide: 70
            },
            {
                statusSide: 99
            },
        ]
    },
    {
        range: [1, 99],
        labelRange: ['Ehrlichkeit', 'Betrug'],
        data: [
            {
                statusSide: 10
            },
            {
                statusSide: 45
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 49
            },
            {
                statusSide: 60
            },
            {
                statusSide: 70
            },
            {
                statusSide: 83
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
                statusSide: 99
            },
        ]
    }
];{% endcomment %}


mission-2-ubung-2

    {% comment %} [
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
    ]; {% endcomment %}

assessment.html

{% comment %}
    const dataFeedback = [
        {
            name: 'Bob Stampton',
            avatar: '/static/images/avatars/hen.svg',
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: 'Garry Garrison',
            avatar: '/static/images/avatars/horse.svg',
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: 'Johny Depp',
            avatar: '/static/images/avatars/crow.svg',
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: 'Bruce Vilis',
            avatar: '/static/images/avatars/bear.svg',
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: 'Donkey kong',
            avatar: '/static/images/avatars/dog.svg',
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: 'Mister V',
            avatar: '/static/images/avatars/beaver.svg',
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: 'Graf Dracula',
            avatar: '/static/images/avatars/buffalo.svg',
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: 'Anthony Hopkins',
            avatar: '/static/images/avatars/kangaroo.svg',
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: 'Vladimir',
            avatar: '/static/images/avatars/donkey.svg',
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: 'Irina Shake',
            avatar: '/static/images/avatars/giraffe.svg',
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: 'Conan Barbarian',
            avatar: '/static/images/avatars/fox.svg',
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
    ];

    appfeed = new AppFeedback({
        container: '.fields-fill__wrapper',
        data: dataFeedback,
        loadEnd(bodyItems) {
            new Swiper('.fields-fill', {
                centeredSlides: true,
                grabCursor: true,
                loop: true,
                breakpoints: {
                    1400: {
                        slidesPerView: 5,
                        spaceBetween: 30,
                    },
                    1300: {
                        slidesPerView: 3,
                        spaceBetween: 30,
                    },
                    320: {
                        slidesPerView: 1,
                        spaceBetween: 30,
                    },
                },
                navigation: {
                    nextEl: '.slider-button-next',
                    prevEl: '.slider-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                },
                on: {
                    slideChange(a, b, c) {
                        const index = a.realIndex;
                        bodyItems.forEach((item, i) => {
                            item.classList.remove('active');
                        });
                        bodyItems[index].classList.add('active');
                    }
                }
            });
        }
    });{% endcomment %}