<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Heatmap</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/heatmap.css">


</head>
<body>
  <div class="app">
      <div class="app__head">
          <header class="header-main container">
              <div class="header-main__title">
                  <span class="icon-logo"></span>
                  <span>ARK</span>
              </div>
              <div class="header-main__user">
                  <div class="user">
                      <div class="user__subtitle">
                          Fische im Aquarium
                      </div>
                      <img src="/static/images/avatars/boar.svg" alt="boar">
                      <div class="user__title">
                          Vasilisa Kochetkova
                      </div>
                  </div>
              </div>
              <div class="header-main__progress">
                  <div class="progress">
                      <label>Mission 1</label>
                      <div class="progress__bar">
                          <div style="width: 10%">10%</div>
                      </div>
                  </div>
              </div>
          </header>
      </div>
    <div class="app__body">
        <div class="container">
          <h1>Heatmap</h1>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="heatmap">

          <div class="main-column left">
            <div class="corner"></div>
            <div class="corner"></div>
            <div class="heat_value average_by_players">73</div>
            <div class="heat_value average_by_players">76</div>
            <div class="heat_value average_by_players">81</div>
            <div class="heat_value average_by_players">93</div>
            <div class="heat_value average_by_players">126</div>
            <div class="corner"></div>
          </div>



          <div class="main-column player">
            <div class="heat_value over_player">400</div>
            <div class="heat_player">
              <div class="name">Paula Fernandes</div>
              <img src="/static/images/avatars/bear.svg" alt="">
            </div>
            <div class="heat_value four">114</div>
            <div class="heat_value one">80</div>
            <div class="heat_value two">72</div>
            <div class="heat_value one">70</div>
            <div class="heat_value three">30</div>
            <div class="heat_value average-by-player">121</div>
          </div>

          <div class="main-column player">
            <div class="heat_value over_player">300</div>
            <div class="heat_player">
              <div class="name">Paula Fernandes</div>
              <img src="/static/images/avatars/bear.svg" alt="">
            </div>
            <div class="heat_value four">103</div>
            <div class="heat_value two">58</div>
            <div class="heat_value one">95</div>
            <div class="heat_value three">73</div>
            <div class="heat_value one">50</div>
            <div class="heat_value average-by-player">100</div>
          </div>

          <div class="main-column player">
            <div class="heat_value over_player">250</div>
            <div class="heat_player">
              <div class="name">Paula Fernandes</div>
              <img src="/static/images/avatars/bear.svg" alt="">
            </div>
            <div class="heat_value one">114</div>
            <div class="heat_value three">113</div>
            <div class="heat_value one">125</div>
            <div class="heat_value four">37</div>
            <div class="heat_value two">76</div>
            <div class="heat_value average-by-player">99</div>
          </div>

          <div class="main-column player">
            <div class="heat_value over_player">150</div>
            <div class="heat_player">
              <div class="name">Paula Fernandes</div>
              <img src="/static/images/avatars/bear.svg" alt="">
            </div>
            <div class="heat_value four">90</div>
            <div class="heat_value one">99</div>
            <div class="heat_value three">78</div>
            <div class="heat_value two">70</div>
            <div class="heat_value one">67</div>
            <div class="heat_value average-by-player">64</div>
          </div>

          <div class="main-column player">
            <div class="heat_value over_player">100</div>
            <div class="heat_player">
              <div class="name">Paula Fernandes</div>
              <img src="/static/images/avatars/bear.svg" alt="">
            </div>
            <div class="heat_value one">183</div>
            <div class="heat_value two">149</div>
            <div class="heat_value one">127</div>
            <div class="heat_value four">68</div>
            <div class="heat_value three">101</div>
            <div class="heat_value average-by-player">65</div>
          </div>



          <div class="main-column prop">
            <div class="corner"></div>
            <div class="corner"></div>
            <div class="property">
              <p class="property_one">Generosity</p>
              <p class="property_two">Evil</p>
            </div>
            <div class="property">
              <p class="property_one">Curative</p>
              <p class="property_two">Narcissism</p>
            </div>
            <div class="property">
              <p class="property_one">Ambition</p>
              <p class="property_two">Enforcement</p>
            </div>
            <div class="property">
              <p class="property_one">Victory</p>
              <p class="property_two">Dominance</p>
            </div>
            <div class="property">
              <p class="property_one">Pain</p>
              <p class="property_two">Invisibility</p>
            </div>
            <div class="corner"></div>
          </div>

          <div class="main-column right">
            <div class="corner"></div>
            <div class="corner"></div>
            <div class="heat_value property_value">100</div>
            <div class="heat_value property_value">200</div>
            <div class="heat_value property_value">250</div>
            <div class="heat_value property_value">300</div>
            <div class="heat_value property_value">350</div>
            <div class="corner"></div>
          </div>

        </div>
    </div>
  </div>


</body>
</html>
