<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="../public/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Heatmap</title>
    <link rel="stylesheet" href="../public/css/heatmap1.css">
    <link rel="stylesheet" href="../public/css/app.css">

</head>
<body>
  <div class="app">
      <div class="app__head">
          <header class="header-main container">
              <div class="header-main__title">
                  <span class="icon-logo"></span>
                  <span>ARK</span>
              </div>
              <div class="header-main__user">
                  <div class="user">
                      <div class="user__subtitle">
                          Fische im Aquarium
                      </div>
                      <img src="../public/images/avatars/boar.svg" alt="boar">
                      <div class="user__title">
                          Vasilisa Kochetkova
                      </div>
                  </div>
              </div>
              <div class="header-main__progress">
                  <div class="progress">
                      <label>Mission 1</label>
                      <div class="progress__bar">
                          <div style="width: 10%">10%</div>
                      </div>
                  </div>
              </div>
          </header>
      </div>
      <div class="container-table">
    
      <div class="corner"></div>
      <div class="player">Paula </div>
      <div class="player">Paula <img class="ava" src="../public/images/avatars/boar.svg" alt=""></div>
      <div class="player">Paula <img class="ava" src="../public/images/avatars/boar.svg" alt=""></div>
      <div class="player">Paula <img class="ava" src="../public/images/avatars/boar.svg" alt=""></div>
      <div class="player">Paula <img class="ava" src="../public/images/avatars/boar.svg" alt=""></div>
      <div class="corner"></div>
    
   
      <div class="average_all_players">73</div>
      <div class="heat">114</div>
      <div class="heat">80</div>
      <div class="heat">72</div>
      <div class="heat">70</div>
      <div class="heat">30</div>
      <div class="property">
        <p>generosity</p>
        <p>evil</p>
      </div>
    
      <div class="average_all_players">76</div>
      <div class="heat">103</div>
      <div class="heat">58</div>
      <div class="heat">95</div>
      <div class="heat">73</div>
      <div class="heat">50</div>
      <div class="property">
        <p>curative</p>
        <p>narcissism</p>
      </div>
   
      <div class="average_all_players">81</div>
      <div class="heat">90</div>
      <div class="heat">99</div>
      <div class="heat">78</div>
      <div class="heat">70</div>
      <div class="heat">67</div>
      <div class="property">
        <p>ambition</p>
        <p>enforcement</p>
      </div>

  
      <div class="average_all_players">93</div>
      <div class="heat">114</div>
      <div class="heat">113</div>
      <div class="heat">125</div>
      <div class="heat">37</div>
      <div class="heat">76</div>
      <div class="property">
        <p>victory</p>
        <p>dominance</p>
      </div>

      <div class="average_all_players">126</div>
      <div class="heat">183</div>
      <div class="heat">149</div>
      <div class="heat">127</div>
      <div class="heat">68</div>
      <div class="heat">101</div>
      <div class="property">
        <p>pain</p>
        <p>invisibility</p>
      </div>
  
      <div class="corner"></div>
      <div class="player_average">121</div>
      <div class="player_average">100</div>
      <div class="player_average">99</div>
      <div class="player_average">64</div>
      <div class="player_average">65</div>
      <div class="corner"></div>
    
  </div>
  </div>

  

</body>
</html>
