<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="../public/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Heatmap</title>
    <link rel="stylesheet" href="../public/css/heatmap.css">
    <link rel="stylesheet" href="../public/css/app.css">

</head>
<body>
  <div class="app">
      <div class="app__head">
          <header class="header-main container">
              <div class="header-main__title">
                  <span class="icon-logo"></span>
                  <span>ARK</span>
              </div>
              <div class="header-main__user">
                  <div class="user">
                      <div class="user__subtitle">
                          Fische im Aquarium
                      </div>
                      <img src="../public/images/avatars/boar.svg" alt="boar">
                      <div class="user__title">
                          Vasilisa Kochetkova
                      </div>
                  </div>
              </div>
              <div class="header-main__progress">
                  <div class="progress">
                      <label>Mission 1</label>
                      <div class="progress__bar">
                          <div style="width: 10%">10%</div>
                      </div>
                  </div>
              </div>
          </header>
      </div>
  </div>

  <table class='heat_table'>
  	<thead>
  		<tr>
        <th><h2 class="corner"></h2></th>
  			<th><h2 class="player">Sam</h2></th>
  			<th><h2 class="player">Paula</h2></th>
  			<th><h2 class="player">Rio</h2></th>
  			<th><h2 class="player">Elvis</h2></th>
  			<th><h2 class="player">Peach</h2></th>
  			<th><h2 class="corner"></h2></th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td class="average_all_players">73</td>
  			<td class="heat">114</td>
  			<td class="heat">80</td>
  			<td class="heat">72</td>
  			<td class="heat">70</td>
  			<td class="heat">30</td>
  			<td class="property">generosity<br>evil</td>
  		</tr>
  		<tr>
  			<td class="average_all_players">76</td>
  			<td class="heat">103</td>
  			<td class="heat">58</td>
  			<td class="heat">95</td>
  			<td class="heat">73</td>
  			<td class="heat">50</td>
  			<td class="property">curative<br>narcissism</td>
  		</tr>
  		<tr>
  			<td class="average_all_players">81</td>
  			<td class="heat">90</td>
  			<td class="heat">99</td>
  			<td class="heat">78</td>
  			<td class="heat">70</td>
  			<td class="heat">67</td>
  			<td class="property">ambition<br>enforcement</td>
  		</tr>
  		<tr>
  			<td class="average_all_players">93</td>
  			<td class="heat">114</td>
  			<td class="heat">113</td>
  			<td class="heat">125</td>
  			<td class="heat">37</td>
  			<td class="heat">76</td>
  			<td class="property">victory<br>dominance</td>
  		</tr>
  		<tr>
  			<td class="average_all_players">126</td>
  			<td class="heat">183</td>
  			<td class="heat">149</td>
  			<td class="heat">127</td>
  			<td class="heat">68</td>
  			<td class="heat">101</td>
  			<td class="property">pain<br>invisibility</td>
  		</tr>
  		<tr>
  			<td class="corner"></td>
  			<td class="player_average">121</td>
  			<td class="player_average">100</td>
  			<td class="player_average">99</td>
  			<td class="player_average">64</td>
  			<td class="player_average">65</td>
  			<td class="corner"></td>
  		</tr>
  	</tbody>
  </table>

</body>
</html>
