{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Development-FEEDBACK</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/feedback.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <script src="/static/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                    </div>
                    <img src="{{user.avatar}}" alt="">
                    <div class="user__title">
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 2</label>
                    <div class="progress__bar">
                        <div style="width: 80%">80%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body" id='app-1'>
        <div class="container"
        v-loading="loading"
        element-loading-text="Waiting for your teammates"
        element-loading-background="rgba(0, 0, 0, 0.8)">
            <main class="screen feedback">
                <h1>
                    Letzte Aufgabe: Anonymes Feedback
                </h1>
                <div class="feedback__data">
                    <p>
                        Was ist der Beitrag vom Mitspieler zur Psychologischen
                        Sicherheit im Team? Schau dir zuerst das Spannungsprofil deines
                        Feedbacknehmers rechts an. Und Beantworte dann die drei Fragen für ein
                        offenes, lösungsorientiertes und anonymes Feedback. Geh ein Risiko ein und
                        schreib mit offenem Herzen...
                    </p>
                    <div class="fields-fill__wrapper"></div>
                </div>
                <div class="feedback__users">
                    <p class="bold">
                        Ergebnisse von
                        <span>
                            Constantin Constantinopol
                        </span>
                    </p>
                    <div class="rang-wrapper">
                        <div class="rang min">
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="#" method="POST" class="form">
                {% csrf_token %}
                    <div class="center">
                        <input id="data" type="hidden" name="data" value=""/>
                        <button type="submit" id="button">
                            Weiterspielen
                        </button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/static/js/AppRange.js"></script>
<script src="/static/js/AppFeedback.js"></script>
<script src="/static/jquery-3.5.1.min.js"></script>
<script src="/static/axios.min.js"></script>
<script>
    const {log} = console;
    var member_list = {{ json_list|safe }};

    function format_list(member_list){
        var num = member_list.length;
        var uu = 0;
        var result = [];
        while (uu < num){
            var temp = {
                id: member_list[uu]['id'],
                name: member_list[uu]['name'],
                avatar: member_list[uu]['avatar'],
                statusSide: member_list[uu]['statusSide'],
                feedback: [
                    {
                        title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                        text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                    },
                    {
                        title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                        text: ''
                    },
                    {
                        title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                        text: ''
                    }
                ],
            };
            result.push(temp);
            uu += 1;
        }
        return result;
    }

    var data = format_list(member_list);

    {% comment %} [
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
        {
            name: "Vasilisa Kochetkova",
            avatar: "/static/images/avatars/boar.svg",
            statusSide: 49,
            feedback: [
                {
                    title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                    text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
                },
                {
                    title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                    text: ''
                },
                {
                    title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                    text: ''
                }
            ]
        },
    ]; {% endcomment %}

    new AppRange({
        container: '.rang-wrapper',
        data: data,
        load(wrapper) {
            wrapper[0].classList.add('min')
        }
    });

    appfeed = new AppFeedback({
        container: '.fields-fill__wrapper',
        data,
        loadEnd(bodyItems) {
            new Swiper('.fields-fill', {
                centeredSlides: true,
                grabCursor: true,
                loop: true,
                breakpoints: {
                    1300: {
                        slidesPerView: 3,
                        spaceBetween: 30,
                    },
                    320: {
                        slidesPerView: 1,
                        spaceBetween: 30,
                    },
                },
                navigation: {
                    nextEl: '.slider-button-next',
                    prevEl: '.slider-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                },
                on: {
                    slideChange(a, b, c) {
                        const index = a.realIndex;
                        bodyItems.forEach((item, i) => {
                            item.classList.remove('active');
                        });
                        bodyItems[index].classList.add('active');
                    }
                }
            });
        }
    });

    //console.log(app.data);

    function refresh(){
        var st = JSON.stringify(appfeed.data);
        $('#data').val(st);
        //console.log(appfeed.data);
    }
    setInterval("refresh()", 100);


    var app1 = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-1',
        data(){
            return{
                loading: false,
            }
        },
        created(){
            var loading_ = '{{ loading }}'
            if (loading_ === '0'){
                this.loading = false
            }else{
                this.loading = true
            }
        }
    })

    function check_finish(){
        if (app1.loading === true){
            var data_ = {'link': '{{game.link}}'}
            axios
                .post(`/api/last_stop_check/`, data_)
                .then(function(response){
                    var result = response.data.result
                    if (result === 1){
                        window.location.href = '/goodbye/'
                    }else{
                        return
                    }
                })
                .catch(function(error){
                    console.log(error)
                })
        }
    }
    check_finish()
    setInterval("check_finish()", 2000)
    

</script>
<script src="/static/js/update_fix.js"></script>
</body>
</html>
