{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Development-FEEDBACK</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/feedback.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <script src="/static/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                    </div>
                    <img src="{{user.avatar}}" alt="">
                    <div class="user__title">
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 2</label>
                    <div class="progress__bar">
                        <div style="width: 80%">80%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body" id='app-1'>
        <div class="container"
        v-loading="loading"
        element-loading-text="Waiting for your teammates"
        element-loading-background="rgba(0, 0, 0, 0.8)">
            <main class="screen feedback">
                <h1>
                    Letzte Aufgabe: Anonymes Feedback
                </h1>
                <div class="feedback__data">
                    <p>
                        Was ist der Beitrag vom Mitspieler zur Psychologischen
                        Sicherheit im Team? Schau dir zuerst das Spannungsprofil deines
                        Feedbacknehmers rechts an. Und Beantworte dann die drei Fragen für ein
                        offenes, lösungsorientiertes und anonymes Feedback. Geh ein Risiko ein und
                        schreib mit offenem Herzen...
                    </p>
                    <div class="fields-fill__wrapper"></div>
                </div>
                <div class="feedback__users">
                    <p class="bold">
                        Spannungsfelder von
                        <span>
                            Constantin Constantinopol
                        </span>
                    </p>
<!--                     <div class="rang-wrapper">
                        <div class="rang min">
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                            <div class="rang__item">
                                <div class="rang__item-name">
                                    Freundlichkeit
                                </div>
                                <div class="rang__item-count">
                                    49
                                </div>
                                <div class="rang__item-name">
                                    Aufrichtigkeit
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <form id="form_" action="#" method="POST" class="form">
                {% csrf_token %}
                    <p>
                        <b>Weiss</b> = Spannungsfreiheit<br>
                            <b>Rot</b> = Selbstwahrnehmung außerhalb Safe Zone<br>
                            <b>Gelb</b> = Wahrnehmung der Anderen außerhalb Safe Zone<br>
                            <b>Schwarz</b> = Selbst- & Fremdwahrnehmung ausserhalb Safe Zone
                    </p>
                    <div class="center">
                        <input id="data" type="hidden" name="data" value=""/>
                        <button type="button" id="button" @click="check_submit()">
                            Weiterspielen
                        </button>
                        <button id="test"  type="button" style="position: absolute; visibility: hidden;">Weiterspielen</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>

<!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
<script src="/static/js/AppRange.js"></script>
<script src="/static/js/AppFeedback.js"></script>
<script src="/static/jquery-3.5.1.min.js"></script>
<script src="/static/axios.min.js"></script>
<script src="/static/js/utils.js"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script>


    const {log} = console;
    let userCurrent = "{{ user }}";
    let jsonAll = {{ json_list_all|safe }};
    
    // let dataCur = "{{ json_list }}";
    var member_list = {{ json_list|safe }}.filter(item => item.name);

    function format_list(member_list){
        var num = member_list.length;
        var uu = 0;
        var result = [];
        while (uu < num){
            var temp = {
                id: member_list[uu]['id'],
                name: member_list[uu]['name'],
                avatar: member_list[uu]['avatar'],
                statusSide: member_list[uu]['statusSide'],
                feedback: [
                    {
                        title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
                        text: ''
                    },
                    {
                        title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
                        text: ''
                    },
                    {
                        title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
                        text: ''
                    }
                ],
            };
            result.push(temp);
            uu += 1;
        }
        return result;
    }



    // function arrayForFeedback(json, nameArray) {
    //     let arr = []
    //     for (let name of nameArray) {
    //         for (let item of json) {
    //             if(item.name == name) {
    //                 arr.push({
    //                     'name':item.name,
    //                     'id':item.id,
    //                     'avatar': item.avatar,
    //                     'feedback': [
    //                         {
    //                             title: 'MEHR davon: Ich schätze deinen Beitrag zum gelingenden Zusammenspiel im Team…',
    //                             text: 'On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying'
    //                         },
    //                         {
    //                             title: 'ÄNDERN: du könntest zur psychologischen Sicherheit im Team beitragen, in dem...',
    //                             text: ''
    //                         },
    //                         {
    //                             title: 'FRAGEZEICHEN: ich wollte dich schon immer mal fragen…',
    //                             text: ''
    //                         }
    //                     ],
    //                 });
    //                 break
    //             }
    //         }
    //     }
    //     return arr
    // }

    let dataFeedback = arrayForFeedback(jsonAll, nameArray(jsonAll));
    let curentUser = dataFeedback[0].name;


    // function traitArray(json_list) {
    //   let arr = new Set();
    //   json_list.forEach((item) => {
    //     arr.add(item.value)
    //   })
    //   let result = Array.from(arr);
    //   return(result)
    // }

    // function arrayForGraph(json) {
    //     let arr = [];
    //     for (let item of json) {
    //         tempObj = {};
    //         if(item.name == curentUser) {
    //             tempObj['name'] = item.target_user;
    //             tempObj['avatar'] = item.target_user_avatar;
    //             tempObj['statusSide'] = item.statusSide;
    //             tempObj['value'] = item.value;
    //             tempObj['status'] = item.statusSide.toString();
    //             arr.push(tempObj);
    //         }
    //     }
    //     return arr
    // }

    // let dataForRange = () => {
    //   let result = [];
    //   for (let value of traitArray(jsonAll)) {
    //     datas = arrayForGraph(jsonAll).filter(jso => jso.value == value);
    //     let others = 0;
    //     let self = 0;
    //     datas.forEach((item, i) => {
    //       if(item.name != '{{user}}') {
    //         others += item.statusSide;
    //       }
    //       else {
    //         self = item.statusSide;
    //       }
    //     });
    //     others = Math.round(others/(datas.length-1));
    //     temp = {
    //       'value':value,
    //       'self':self,
    //       'others':others,
    //       'tension':self - others,
    //     };
    //     result.push(temp);
    //   }
    //   return(result)
    // }

    var data = format_list(member_list);


    // let range = new AppRange({
    //     container: '.rang-wrapper',
    //     data: dataForRange(jsonAll, 'init'),
    //     innerWrapper: 'rang min',
    //     load(wrapper) {
    //         wrapper[0].classList.add('min')
    //     }
    // });




    let appfeed = new AppFeedback({
        container: '.fields-fill__wrapper',
        data: dataFeedback,
        loadEnd(bodyItems) {
            // new Swiper('.fields-fill', {
            //     centeredSlides: true,
            //     grabCursor: true,
            //     loop: false,
            //     breakpoints: {
            //         1300: {
            //             slidesPerView: 3,
            //             spaceBetween: 30,
            //         },
            //         320: {
            //             slidesPerView: 1,
            //             spaceBetween: 30,
            //         },
            //     },
            //     navigation: {
            //         nextEl: '.slider-button-next',
            //         prevEl: '.slider-button-prev',
            //     },
            //     pagination: {
            //         el: '.swiper-pagination',
            //         clickable: true
            //     },
            //     on: {
            //         slideChange(a, b, c) {
            //             const index = a.realIndex;
            //             let rang = document.querySelectorAll('.rang-wrapper');
            //             document.querySelector('.feedback__users .bold span').innerText = dataFeedback[index].name;
            //             bodyItems.forEach((item, i) => {
            //                 item.classList.remove('active');
            //             });
            //             bodyItems[index].classList.add('active');
            //             rang.forEach((item,i) => {
            //                 item.classList.remove('active');
            //             })
            //             rang[index].classList.add('active');
            //             let textBox = document.querySelector('.fields-fill__field-wrapper.active').children[1].querySelector('textarea');
            //             console.log(textBox);
            //             textBox.focus();
            //         }
            //     }
            // });
            document.querySelector('.fields-fill__body').children[0].classList.add('active');
            document.querySelector('.feedback__users .bold span').innerText = dataFeedback[0].name;
            document.querySelector('.rang-wrapper').classList.add('active');
            setTimeout(() => {document.querySelector('textarea').focus();}, 500)
            // document.querySelector('.fields-fill__field-wrapper.active').children[0].focus();

        }
    });

    //console.log(app.data);

    function refresh(){
        var st = JSON.stringify(appfeed.data);
        $('#data').val(st);
        //console.log(appfeed.data);
    }
    setInterval("refresh()", 100);


    var app1 = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-1',
        data(){
            return{
                loading: false,
            }
        },
        created(){
            var loading_ = '{{ loading }}'
            if (loading_ === '0'){
                this.loading = false
            }else{
                this.loading = true
            }
        },
        methods:{
            check_submit(){
                if (formValidator(containers) === true){
                    var form_submit = document.getElementById('form_')
                    form_submit.submit()
                    return
                }else{
                    this.$message({
                        showClose: true,
                        message: 'Every textarea must be more than 25 characters',
                        type: 'error',
                        center: true
                    })
                }
            }
        }
    })

    // function cardsPainting(unifiedData) {
    //   let collection = document.querySelectorAll('.rang__item');
    //   collection.forEach((item, i) => {
    //     let low = document.querySelector(`.slide-${i}`).children[0].getAttribute('low')
    //     let high = document.querySelector(`.slide-${i}`).children[0].getAttribute('high')
    //     let selfInSafe = unifiedData[i].self>low && unifiedData[i].self<high;
    //     let othersInSafe = unifiedData[i].others>low && unifiedData[i].others<high;
    //     if (selfInSafe && othersInSafe) {item.classList.add('white__card');}
    //     if (selfInSafe && !othersInSafe) { item.classList.add('yellow__card');}
    //     if (!selfInSafe && othersInSafe) { item.classList.add('red__card');}
    //     if (!selfInSafe && !othersInSafe) { item.classList.add('black__card');}
    //   });

    // }
    // cardsPainting(dataForRange());

        //dropdown
    $('.fields-fill__connect').click(function () {
        $(this).attr('tabindex', 1).focus();
        $(this).toggleClass('active');
        $(this).find('.dropdown-menu').slideToggle(300);
    });
    $('.fields-fill__connect').focusout(function () {
        $(this).removeClass('active');
        $(this).find('.dropdown-menu').slideUp(300);
    });
    $('.fields-fill__connect .dropdown-menu li').click(function () {
        let choosenUser = $(this).text();
        let index = $(this).index();
        let bodyItems = document.querySelectorAll('.fields-fill__field-wrapper');
        let rang = document.querySelectorAll('.rang-wrapper');
        let selected = document.querySelector('.fields-fill__connect');
        //Change user
        selected.querySelector('img').src = appfeed.data[index].avatar;
        selected.querySelector('.fields-fill__connect-name').innerText = choosenUser;
        //Change feedback forms.
        bodyItems.forEach((item, i) => {
            item.classList.remove('active');
        });
        bodyItems[index].classList.add('active');
        //Change cards.
        rang.forEach((item,i) => {
            item.classList.remove('active');
        })
        rang[index].classList.add('active');
        //Change name above cards.
        document.querySelector('.feedback__users .bold span').innerText = dataFeedback[index].name;
        
        setTimeout(() => {bodyItems[index].querySelector('textarea').focus();}, 500);
    });

    let containers = document.querySelectorAll('.fields-fill__field-wrapper');

    function formValidator(containers) {
        console.log(containers)
        let menu = document.querySelector('#menu');
        let result = true; 
        outer: for(let [c, cont] of containers.entries()){
         
            let textarea = cont.querySelectorAll('textarea');
            for(let [i, item] of textarea.entries()) {
                // console.log(i, item);
                if(item.textLength < 25) {
                    console.log(c, i, "bad form");
                    menu.children[c].click();
                    menu.children[c].click();
                    setTimeout(() => {item.focus();}, 1000);
                    let tooltip = tippy(item);
                    tooltip.setProps({trigger: 'manual'});
                    tooltip.setContent('Must be more than 25 characters');
                    tooltip.show(); 
                    result = false;
                    return result
                    break outer;
                    
                }


                
            };
        };
        return result;
    } 

    function cardsPlacing(jsonAll) {
        divCollection = document.createDocumentFragment()
        for(let name of nameArray(jsonAll)) {
            let div = document.createElement('div');
            div.classList.add('rang-wrapper');
            div.classList.add(`${name}`);
            divCollection.append(div);



        }
        document.querySelector('.feedback__users form').before(divCollection);
        for(let name of nameArray(jsonAll)){
            let data = dataForRange(jsonAll, name);
            let range = new AppRange({
                container: `.rang-wrapper.${name}`,
                data: data,
                innerWrapper: 'rang min',
                load(wrapper) {
                    wrapper[0].classList.add('min')
                }
            });

            
            let selectors = document.querySelectorAll(`.rang-wrapper.${name} .rang__item`);
            cardsPainting(data, selectors);
        }
    }
    cardsPlacing(jsonAll);

    // function formValidator(containers) {
    //     console.log(containers)
    //     let menu = document.querySelector('#menu');
    //     let result = true; 
        
    //         let textarea = document.querySelectorAll('textarea');
    //         for(let [i, item] of textarea.entries()) {
    //             // console.log(i, item);
    //             if(item.textLength < 25) {
    //                 //setTimeout(() => {item.focus();}, 1000);
    //                 let tooltip = tippy(item);
    //                 tooltip.setProps({trigger: 'manual'});
    //                 tooltip.setContent('Must be more than 25 characters');
    //                 tooltip.show(); 
    //                 result = false;
                
    //             }

    //     };
    //     return result;
    // }

    // document.querySelector('#test').addEventListener('click', () => {
    //     formValidator(containers);
    // })

    // $('.form').submit(function() {
    //     if(formValidator(containers)) {
    //         return true
    //     }
    //     else {
    //         return false
    //     }
    // })

    // $('#test').click(function() {
    //     if(formValidator(containers)) {
    //         console.log('true')
    //         $('#button').click();
    //     }
    //     else {
    //         console.log('false')
    //         return 
    //     }
    // })

    // document.querySelectorAll('.fields-fill__field-wrapper').forEach((cont, c) => {
    //     cont.querySelectorAll('textarea').forEach((item, i) => {
    //         console.log(c, i, item);
    //     })
    // })

    function sleep (time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    async function check_finish(){
        while (1){
            await sleep(5000).then(() => {
                if (app1.loading === true){
                    var data_ = {'link': '{{game.link}}'}
                    axios
                        .post(`/api/last_stop_check/`, data_)
                        .then(function(response){
                            var result = response.data.result
                            if (result === 1){
                                window.location.href = '/assessment/'
                            }else{

                            }
                        })
                        .catch(function(error){
                            console.log(error)
                        })
                }
            })
        }
    }
    check_finish()


 

</script>
<script src="/static/js/update_fix.js"></script>
</body>
</html>
