{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>First-Mission-INFO</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/preview.css">
</head>
<body>
  {% get_current_language as LANGUAGE_CODE %}
  <!-- Current language: {{ LANGUAGE_CODE }} -->
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>

            <div class="header-main__user">
              <div class="language-selector" style="display:block;">
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="">
                    <select onchange="this.form.submit()" name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </form>
              </div>
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                        <span class="icon-link" data-clipboard-text="#link_url"></span>
                    </div>
                    <img src="{{user.avatar}}" alt="">
                    <div class="user__title">
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 5%">1%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen preview">
                <h1>
                    {% trans "Mission 1: Soziale Sensibilität" %}
                </h1>
                <div class="preview__main">
                    <div class="preview__data">
                        <p>
                            {% blocktrans "Deine ersten Mission auf der ARCHE dient der Stärkung der sozialen Sensibilität im Team, dem ersten von zwei Schlüsseln zu psychologischer Sicherheit:" %}
                        </p>
                        <ul>
                            <li>
                                {% blocktrans %}Spielerisch benennst und verstehst du Spannungsfelder, die das Zusammenspiel im Team prägen.{% endblocktrans %}
                            </li>
                            <li>
                                {% blocktrans %}Dabei erkennst du in welchem Verhältnis deine Selbst- zur Fremdwahrnehmung im Team steht.{% endblocktrans %}
                            </li>
                            <li>
                                {% blocktrans %}Und siehst dabei, ob dein wahrgenommenes Verhalten im Team eine ausgleichende oder spaltend Wirkung hat.{% endblocktrans %}
                            </li>
                        </ul>
                        <p>
                            {% blocktrans %}Übrigens: alle Ergebnisse kannst du zum Spielabschluss als PDF herunterladen.{% endblocktrans %}
                        </p>
                    </div>
                    <div class="preview__thumbnail">
                        <span class="icon-player"></span>
                        <iframe src="https://player.vimeo.com/video/459639983" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/459639983">How Google builds the perfect team</a> from <a href="https://vimeo.com/user123496204">Joachim Maier</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                    <a href="/ubung-1/" class="button"> {% trans "Weiterspielen" %} </a>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script>
  // Copy and tooltip
  new ClipboardJS('.icon-link');
  tippy('.icon-link', {
    content: 'Copy to clipboard',
  });
  tippy('.icon-link', {
    trigger: 'click',
    content: 'Copied',
  });

  // Link creation
  // TODO Code bellow Link must be from backend.
  var temp_link = '{{game.link}}';
  var url_host = window.location.host;
  var temp_link_ = url_host + '/link/' + temp_link + '/';
  document.querySelector('.icon-link').dataset.clipboardText = temp_link_;

</script>
</html>
