{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Second-Mission-INFO</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/preview-2.css">
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                    </div>
                    <img src="{{user.avatar}}" alt="">
                    <div class="user__title">
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 2</label>
                    <div class="progress__bar">
                        <div style="width: 57%">57%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen preview-2">
                <h1>
                    Mission 2: Jede Stimme zählt
                </h1>
                <div class="preview__main">
                    <div class="preview__data">
                        <p>
                            Hilf mit an der psychologischen Sicherheit im Team zu arbeiten:
                        </p>
                        <ul>
                            <li>
                                Trainiere dazu deine soziale Sensibilität. Lerne einzuschätzen, wie du von deinen Teammitgliedern wahrgenommen wirst.
                            </li>
                            <li>
                                Gib dann anonymes 1 zu 1 Feedback, um alle in einen psychologisch sichereren Raum mitzunehmen.
                            </li>
                            <li>
                                Am Ende von Mission Zwei erwartet dich anonymes, wertschätzendes und entwicklungsorientiertes Feedback, bei dem alle Stimmen gleichberechtigt gehört werden.
                            </li>
                        </ul>
                        <p>
                            Der zweite Schlüssel zu mehr psychologischer Sicherheit ist eine gleichmäßig verteilte Redezeit. Im Fachjargon: equivalent turn-taking. Denn jede Stimme zählt!
                        </p>
                        <!-- <a href="/mission-2-ubung-1/" class="button">
                            Weiterspielen
                        </a> -->
                    </div>
                    <div class="preview__thumbnail">
                        <span class="icon-player"></span>
                        <iframe src="https://player.vimeo.com/video/459637808" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/459637808">The Secret To Making Business Teams Successful</a> from <a href="https://vimeo.com/user123496204">Joachim Maier</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        <a href="/mission-2-ubung-1/" class="button">
                            Weiterspielen
                        </a>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>
