{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="Web site"/>
    <title>Team-Tensions-RESULT</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/app_graph.css">
    <link rel="stylesheet" href="/static/css/spannungsfelder.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                    </div>
                    <img src="{{user.avatar}}" alt="">
                    <div class="user__title">
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 55%">55%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen spannungsfelder">
                <h1>
                    Spannungsfelder
                </h1>
                <p>
                    Der grüne Bereich ist die Safe Zone deines Teams. Wird dein Beitrag zur Teamdynamik eher als ausgleichend oder polarisierend wahrgenommen? Wie erklärst du die Unterschiede zwischen deiner Selbstwahrnehmung und der Fremdwahrnehmung durch das Team?
                </p>

                <div id="graph-slider" class="swiper-container">
                    <div class="swiper-wrapper"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="custom-graph1"></div>
                <div class="custom-graph2"></div>
                <div id="rang-slider" class="swiper-container">
                    <div class="swiper-wrapper">
                    
                    </div>
                </div>
                <div class="custom-graph-info">
                    <div class="custom-graph-info__item small" data-text="Others">
                        {{ others }}
                    </div>
                    <div class="custom-graph-info__item base" data-text="Self">
                        {{ himself }}
                    </div>
                    <div class="custom-graph-info__item large" data-text="Tension">
                        {{ tension }}
                    </div>
                </div>
                <p>
                    Diese Kräfte beschreiben deinen Einfluss auf eure
                    Teamdynamik:
                </p>
                <ul>
                    <li>
                        <b>Weiss</b> = Spannungsfreiheit
                    </li>
                    <li>
                        <b>Werte über 16</b> = Spannungen im Team
                    </li>
                    <li>
                        <b>Rot</b> = deine Selbstwahrnehmung liegt ausserhalb der
                        Safe Zone
                    </li>
                    <li>
                        <b>Gelb</b> = deine Wahrnehmung durch die anderen liegt außerhalb der Safe Zone
                    </li>
                    <li>
                        <b>Schwarz</b> = deine Selbst- und die Fremdwahrnehmung liegen ausserhalb der
                        Safe Zone deines Teams
                    </li>
                </ul>
                <p>
                    Möchtest du erraten, wie du von jedem einzelnen Teammitglied eingeschätzt wirst? Dann spiel weiter!
                </p>
                <div class="center">
                    <a href="/preview-2/" class="button" id="button">
                        Weiterspielen
                    </a>
                </div>

            </main>
        </div>
    </div>
</div>
<script src="/static/js/AppRange.js"></script>
<script src="/static/js/AppGraph.js"></script>
<script src="/static/swiper-bundle.min.js"></script>
<script src="/static/js/utils.js"></script>
<script>
    var jsonAll = {{ json_list|safe }};
    let curentUser = "{{ user }}";


    const isMobile = () => window.innerWidth <= 1200;


    const wrapper = document.querySelector('#graph-slider .swiper-wrapper');
    let htmlWrappers = ``;

    dataForGraph(jsonAll, curentUser).forEach((item, i) => {
        htmlWrappers += `<div class="swiper-slide slide-${i}"></div>`;
    });

    wrapper.innerHTML = htmlWrappers;

    let newapp = new AppRange({
        container: '#rang-slider',
        innerWrapper: isMobile() ? 'rang swiper-wrapper' : 'rang',
        data:dataForRange(jsonAll, curentUser),
        callback(item, i) {
            if (!isMobile()) {
                const itemClickable = document.querySelectorAll('#graph-slider .swiper-pagination-bullet');
                itemClickable[i].click();
                item.classList.add('active');
                bottomValues = document.querySelector('.custom-graph-info').children;
                bottomValues[0].innerText = this.data[i].others;
                bottomValues[1].innerText = this.data[i].self;
                bottomValues[2].innerText = this.data[i].tension;
            }
        },
        update(item) {
            if (!isMobile()) {
                item.classList.remove('active');
            }
        },
        loadEnd() {
            $self = this;
            bottomValues = document.querySelector('.custom-graph-info').children;
            bottomValues[0].innerText = $self.data[0].others;
            bottomValues[1].innerText = $self.data[0].self;
            bottomValues[2].innerText = $self.data[0].tension;
            
            if (isMobile()) {
                let swipeMob = new Swiper(this.container, {
                    slidesPerView: 6,
                    spaceBetween: 0,
                    centeredSlides: true,
                    grabCursor: true,
                    loop: false,
                    breakpoints: {
                        768: {
                            slidesPerView: 3,
                            spaceBetween: 0,
                        },
                        480: {
                            slidesPerView: 2,
                            spaceBetween: 0,
                        },
                        320: {
                            slidesPerView: 1,
                            spaceBetween: 0,
                        },
                    },
                    navigation: {
                        nextEl: '.rang-button-next',
                        prevEl: '.rang-button-prev',
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    on: {
                        slideChange(a, b, c) {
                            const index = a.realIndex;
                            const itemClickable = document.querySelectorAll('#graph-slider .swiper-pagination-bullet');
                            itemClickable[index].click();
                            bottomValues = document.querySelector('.custom-graph-info').children;
                            bottomValues[0].innerText = $self.data[index].others;
                            bottomValues[1].innerText = $self.data[index].self;
                            bottomValues[2].innerText = $self.data[index].tension;
                        }
                    }
                });
            }
        }
    });

    dataForGraph(jsonAll, curentUser).forEach((item, i) => {
        appgraph = new AppGraph({
            container: `.swiper-slide.slide-${i}`,
            range: item.range,
            labelRange: item.labelRange,
            mobile: 1200,
            statistic: true,
            data: item.data,
            safezoneData: safezoneData(jsonAll, item.data[0].value),
            graphNumber: i,
        });

        
    });

    let swipeGraph = new Swiper('#graph-slider', {
        grabCursor: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        },
        on: {
            slideChange(a, b, c) {
                let index = a.realIndex;
                if (window.innerWidth < 1200) {
                    let pages = document.querySelector('#rang-slider .swiper-pagination').children
                    pages[index].click();
                }
                if (window.innerWidth > 1200) {
                    let items = document.body.querySelector('.rang').children;
                    items[index].click()
                }

            }
        }
    });

    cardsPainting(dataForRange(jsonAll, curentUser), document.querySelectorAll(".rang__item"));



</script>
<style>
    
</style>
</body>
</html>
