{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="Web site"/>
    <title>Team-Tensions-RESULT</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/app_graph.css">
    <link rel="stylesheet" href="/static/css/spannungsfelder.css">
    <link rel="stylesheet" href="/static/css/assessment.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="/static/dom-to-image.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
</head>
<body>
  {% get_current_language as LANGUAGE_CODE %}
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <icon classs="icon" onClick="window.open('https://info.arks.ch/');">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                    </div>
                    <img src="{{user.avatar}}" alt="">
                    <div class="user__title">
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>{% trans "INDIVIDUUM" %}</label>
                    <div class="progress__bar">
                        <div style="width: 80%">80%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen spannungsfelder">
                <h1>
                    {% trans "Bitte nimm Dir 3 Minuten Zeit, um Deinen Beitrag zur gefühlten Sicherheit im Team zu begreifen" %}
                </h1>
                <p>
                    {% trans "Das grüne Band zeigt die Safe-Zone Deines Teams:" %}
                </p>
                        <ul>
                            <li>
                                {% trans "Was ist Dein Beitrag zu den Sicherheits-Ankern und Trigger-Themen im Team?" %}
                            </li>
                            <li>
                                {% trans "Wer sieht Deinen Beitrag zur gefühlten Sicherheit innerhalb, wer ausserhalb, dieser Safe-Zone?"%}
                            </li>
                            <li>
                                {% trans "Wie erklärst du die Spannung zwischen Deiner Selbstwahrnehmung und der Fremdwahrnehmung durch das Team?"%}
                            </li>
                        </ul>
                <p>
                    {% trans "Unsere Hypothese: Spannung erzeugt Unsicherheit. Eine gute gefühlte Sicherheit macht Defensivreaktionen überflüssig (Fight, Flight & Freeze) und lässt Dich achtsam mit Dir und anderen umgehen." %}
                </p>

                <div id="graph-slider" class="swiper-container">
                    <div class="swiper-wrapper"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="custom-graph-info">
                    <div class="custom-graph-info__item small" data-text={% trans "Andere" %}>
                        {{ others }}
                    </div>
                    <div class="custom-graph-info__item base" data-text={% trans "Selbst" %}>
                        {{ himself }}
                    </div>
                    <div class="custom-graph-info__item large" data-text={% trans "Spannung" %}>
                        {{ tension }}
                    </div>
                </div>
                <div class="custom-graph1"></div>
                <div class="custom-graph2"></div>
                <div id="rang-slider" class="swiper-container">
                    <div class="swiper-wrapper">
                    
                    </div>
                </div>
                <p>
                    {% trans "Hier eine Interpretationshilfe:" %}
                </p>
                <ul>
                    <li>
                        {% trans "Grün = Spannungsfreiheit" %}
                    </li>
                    <li>
                        {% trans "Spannungs-Werte über 16 = deuten auf Spannungen mit dem Team hin" %}
                    </li>
                    <li>
                        {% trans "Negatives Spannungs-Vorzeichen = hier schätzt Du Deinen Beitrag zur gefühlten Sicherheit im Team eher zu positiv ein" %}
                    </li>
                    <li>
                        {% trans "Positives Spannungs-Vorzeichen = hier schätzt Du Deinen Beitrag zur gefühlten Sicherheit im Team eher zu kritisch ein" %}
                    </li>                    
                    <li>
                        {% trans "Rot = Deine Selbstwahrnehmung liegt ausserhalb der Safe-Zone" %}
                    </li>
                    <li>
                        {% trans "Gelb = die Wahrnehmung Deines Beitrags zur gefühlten Sicherheit durch die anderen liegt außerhalb der Safe-Zone" %}
                    </li>
                    <li>
                        {% trans "Schwarz = die Selbst- und die Fremdwahrnehmung Deines Beitrags zur gefühlten Sicherheit liegen ausserhalb der Safe-Zone" %}
                    </li>
                </ul>
                <div class="center">
                    <p>
                    <a href="/farewell/" class="button" id="button">
                        {% trans "Zum Abschluss." %}
                    </a>
                </p>
                </div>

            </main>
        </div>
    </div>
</div>
<script src="/static/js/AppRange.js"></script>
<script src="/static/js/AppGraph.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/static/js/utils.js"></script>
<script>
    var jsonAll = {{ json_list|safe }};
    var lang_code = '{{LANGUAGE_CODE}}'
    //console.log('jsonall', jsonAll)
    jsonAll.forEach((item)=>{
        item['value'] = item['ubung1_power_i18n'][lang_code] + ' ' + item['ubung3_drainer_i18n'][lang_code]
    })
    //var value_i18n = jsonAll.value
    let curentUser = "{{ user }}";
    // function deal_json(json_list, num){
    //     var new_json_list = [];
    //     var uu = 0;
    //     while (uu < json_list.length){
    //         if (uu == num){
    //             new_json_list.push(json_list[uu]);
    //         }else{
    //             var temp = {
    //                 statusSide:json_list[uu]['statusSide'],
    //                 value: json_list[uu]['value'],
    //             };
    //             new_json_list.push(temp);
    //         }
    //         uu += 1;
    //     }
    //     return new_json_list;
    // }

    //console.log(json_list);
    //console.log(deal_json(json_list, 0));

    // function format_data(json_list){
    //     var num = json_list.length;
    //     var result = [];
    //     var uu = 0;
    //     while (uu < num){
    //         var temp = {
    //             range: [1, 99],
    //             labelRange: ['Low', 'High'],
    //             data: deal_json(json_list, uu)
    //         };
    //         result.push(temp);
    //         uu += 1;
    //     }
    //     return result;
    // }


    // function traitArray(json_list) {
    //   let arr = new Set();
    //   json_list.forEach((item) => {
    //     arr.add(item.value)
    //   })
    //   let result = Array.from(arr);
    //   return(result)
    // }

    // function arrayForGraph(json) {
    //     let arr = [];
    //     for (let item of json) {
    //         tempObj = {};
    //         if(item.target_user == curentUser) {
    //             tempObj['name'] = item.name;
    //             tempObj['avatar'] = item.avatar;
    //             tempObj['statusSide'] = item.statusSide;
    //             tempObj['value'] = item.value;
    //             tempObj['status'] = item.statusSide.toString();
    //             arr.push(tempObj);
    //         }
    //     }
    //     return arr
    // }

    // function arrayGraphModifier(item) {
    //   const {name, avatar, status, statusSide, value} = item;
    //   if(item.name == "{{user}}") {
    //     return(
    //       {'name':name,
    //       'avatar':avatar,
    //       'status':status,
    //       'statusSide':statusSide,
    //       'value':value}
    //     )
    //   }
    //   else {
    //     return(
    //       {'status':status,
    //       'statusSide':statusSide,
    //       'value':value}
    //     )
    //   }
    // }

    // function safezoneData(value) {
    //     let arr = [];
    //     for (let item of json_list) {
    //         if (item.value == value) {
    //             arr.push(item.statusSide);
    //         }
    //     }
    //     return arr

    // }

    // let dataForGraph = () => {
    //   let result = [];
    //   for (let value of traitArray(json_list)) {
    //     dataRaw = arrayForGraph(json_list).filter(jso => jso.value == value);
    //     datas = dataRaw.map(arrayGraphModifier);
    //     temp = {
    //   		'data':datas,
    //   		'labelRange':value.split(' '),
    //   		'range':[1,99],
    //   	}
    //     result.push(temp);
    //   }
    //   return(result)
    // }

    // let dataForRange = () => {
    //   let result = [];
    //   for (let value of traitArray(json_list)) {
    //     datas = arrayForGraph(json_list).filter(jso => jso.value == value);
    //     let others = 0;
    //     let self = 0;
    //     datas.forEach((item, i) => {
    //       if(item.name != '{{user}}') {
    //         others += item.statusSide;
    //       }
    //       else {
    //         self = item.statusSide;
    //       }
    //     });
    //     others = Math.round(others/(datas.length-1));
    //     temp = {
    //       'value':value,
    //       'self':self,
    //       'others':others,
    //       'tension':self - others,
    //     };
    //     result.push(temp);
    //   }
    //   return(result)
    // }


    const isMobile = () => window.innerWidth <= 1200;
    // const data = format_data(json_list);


    const wrapper = document.querySelector('#graph-slider .swiper-wrapper');
    let htmlWrappers = ``;

    dataForGraph(jsonAll, curentUser).forEach((item, i) => {
        htmlWrappers += `<div class="swiper-slide slide-${i}"></div>`;
    });

    wrapper.innerHTML = htmlWrappers;

    let newapp = new AppRange({
        container: '#rang-slider',
        innerWrapper: isMobile() ? 'rang swiper-wrapper' : 'rang',
        // data: data.map(({data}) => {
        //     const dataSort = data.filter(el => el.name);
        //     const {name, avatar, statusSide, value} = dataSort[0];
        //     return {
        //         name,
        //         avatar,
        //         statusSide,
        //         value,
        //     }
        // }),
        data:dataForRange(jsonAll, curentUser),
        callback(item, i) {
            if (!isMobile()) {
                const itemClickable = document.querySelectorAll('#graph-slider .swiper-pagination-bullet');
                itemClickable[i].click();
                item.classList.add('active');
                bottomValues = document.querySelector('.custom-graph-info').children;
                bottomValues[0].innerText = this.data[i].others;
                bottomValues[1].innerText = this.data[i].self;
                bottomValues[2].innerText = this.data[i].tension;
            }
        },
        update(item) {
            if (!isMobile()) {
                item.classList.remove('active');
            }
        },
        loadEnd() {
            $self = this;
            bottomValues = document.querySelector('.custom-graph-info').children;
            bottomValues[0].innerText = $self.data[0].others;
            bottomValues[1].innerText = $self.data[0].self;
            bottomValues[2].innerText = $self.data[0].tension;
            
            // let contNum = i;
            if (isMobile()) {
                let swipeMob = new Swiper(this.container, {
                    slidesPerView: 6,
                    spaceBetween: 0,
                    centeredSlides: true,
                    grabCursor: true,
                    loop: false,
                    breakpoints: {
                        768: {
                            slidesPerView: 3,
                            spaceBetween: 0,
                        },
                        480: {
                            slidesPerView: 2,
                            spaceBetween: 0,
                        },
                        320: {
                            slidesPerView: 1,
                            spaceBetween: 0,
                        },
                    },
                    navigation: {
                        nextEl: '.rang-button-next',
                        prevEl: '.rang-button-prev',
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    on: {
                        slideChange(a, b, c) {
                            const index = a.realIndex;
                            const itemClickable = document.querySelectorAll('#graph-slider .swiper-pagination-bullet');
                            itemClickable[index].click();
                            bottomValues = document.querySelector('.custom-graph-info').children;
                            // console.log($self.data);
                            bottomValues[0].innerText = $self.data[index].others;
                            bottomValues[1].innerText = $self.data[index].self;
                            bottomValues[2].innerText = $self.data[index].tension;
                        }
                    }
                });
            }
        }
    });

    dataForGraph(jsonAll, curentUser).forEach((item, i) => {
        appgraph = new AppGraph({
            container: `.swiper-slide.slide-${i}`,
            range: item.range,
            labelRange: item.labelRange,
            mobile: 1200,
            statistic: true,
            data: item.data,
            safezoneData: safezoneData(jsonAll, item.data[0].value),
            graphNumber: i,
        });

        //console.log(this.data);
        // if (window.innerWidth <= appgraph.mobile) {
        //   css_change(`.statistic .custom-graph__items:before{
        //     left:calc((100% - ${halfAvatar}px) * ${low/100} + ${halfAvatar}px);
        //     width:calc((100% - ${halfAvatar}px) * ${blue_range/100});
        //     }`);
        // } else {
        //     css_change(`.statistic .custom-graph__items:before{
        //       bottom:calc((100% - ${halfAvatar}px) * ${low/100} + ${halfAvatar}px);
        //       height:calc((100% - ${halfAvatar}px) * ${blue_range/100});
        //       }`);
        // }

        // function css_change(t, s) {
        //     s = document.createElement('style');
        //     s.innerText = `.slide-0 .statistic .custom-graph__items:before{
        //         left:calc((100% - ${halfAvatar}px) * ${appgraph.low/100} + ${halfAvatar}px);
        //         width:calc((100% - ${halfAvatar}px) * ${blue_range/100});
        //         }`;
        //     document.body.appendChild(s);
        // };
        
    });

    let swipeGraph = new Swiper('#graph-slider', {
        grabCursor: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        },
        on: {
            slideChange(a, b, c) {
                let index = a.realIndex;
                if (window.innerWidth < 1200) {
                    let pages = document.querySelector('#rang-slider .swiper-pagination').children
                    pages[index].click();
                }
                if (window.innerWidth > 1200) {
                    let items = document.body.querySelector('.rang').children;
                    items[index].click()
                }

                // console.log(isMobile());
                // let index = a.realIndex;
                // let prevIndex = a.previousIndex;
                // if (isMobile()) {
                //     let btnNext = document.querySelector('#rang-slider .rang-button-next');
                //     let btnPrev = document.querySelector('#rang-slider .rang-button-prev');
                //     if (index > prevIndex) { 
                //         btnNext.click() 
                //     }
                //     if (index < prevIndex) { 
                //         btnPrev.click() 
                //     }

                // }
                // if(!isMobile()) {
                //     let cont = document.querySelector('#rang-slider .rang');
                //     cont.children[index].click();
                // }
            }
        }
    });

    // function graphUnifier(data) {
    //   // compile all graph in one with all players active
    //   let arr = [];
    //   for(let graph of data) {
    //     let user = graph.data.filter(item => item.name)[0];
    //     arr.push(user);
    //   }
    //   return(arr)
    // }
    //
    // unifiedData = graphUnifier(data);

    // function cardsPainting(unifiedData) {
    //   let collection = document.querySelectorAll('.rang__item');
    //   collection.forEach((item, i) => {
    //     let low = document.querySelector(`.slide-${i}`).children[0].getAttribute('low')
    //     let high = document.querySelector(`.slide-${i}`).children[0].getAttribute('high')
    //     let selfInSafe = unifiedData[i].self>low && unifiedData[i].self<high;
    //     let othersInSafe = unifiedData[i].others>low && unifiedData[i].others<high;
    //     if (selfInSafe && othersInSafe) {item.classList.add('white__card');}
    //     if (selfInSafe && !othersInSafe) { item.classList.add('yellow__card');}
    //     if (!selfInSafe && othersInSafe) { item.classList.add('red__card');}
    //     if (!selfInSafe && !othersInSafe) { item.classList.add('black__card');}
    //   });

    // }
    cardsPainting(dataForRange(jsonAll, curentUser), document.querySelectorAll(".rang__item"));

    // var css_change = function(t,s){
    //     s = document.createElement('style');
    //     s.innerText = t;
    //     document.body.appendChild(s);
    // };


</script>
<style>
    
</style>
</body>
</html>
