{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Team potential</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/app_graph.css">
    <link rel="stylesheet" href="/static/css/team-potential.css">
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                    </div>
                    <img src="{{ user.avatar }}" alt="boar">
                    <div class="user__title">
                        {{ user.name }}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 10%">10%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen team-potential">
                <h1>
                    Team Potential Einschätzung
                </h1>
                <p>
                    Ist dein Team High oder Low Performing? Unsere Hypothese lautet: bessere Performance entsteht dank höherer Psychologischer Sicherheit.
                    <br/>
                    <br/>
                </p>
                <div class="custom-graph-info">
                    <div class="custom-graph-info__item small" data-text="Minimal">
                        {{ minimal }}
                    </div>
                    <div class="custom-graph-info__item base" data-text="Median">
                        {{ median }}
                    </div>
                    <div class="custom-graph-info__item large" data-text="Maximal">
                        {{ maximal }}
                    </div>
                </div>
                <div class="custom-graph-wrapper"></div>
                <div class="center">
                    <a href="/psychologischer/" class="button" id="button">
                        Weiterspielen
                    </a>
                </div>
            </main>
        </div>
    </div>
</div>
<script src="/static/js/AppGraph.js"></script>
<script>
    const {log} = console;

    const app = new AppGraph({
        container: ".custom-graph-wrapper",
        range: [1, 99],
        labelRange: ['Ehrlichkeit', 'Betrug'],
        statistic: true,
        mobile: 1200,
        data: {{ all_result|safe }}
        {% comment %} [
            {
               statusSide: 10
            },
            {
               statusSide: 20
            },
            {
               statusSide: 45
            },
            {
               statusSide: 49
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
               statusSide: 49
            },
            {
               statusSide: 49
            },
            {
               statusSide: 49
            },
            {
               statusSide: 49
            },
            {
               statusSide: 60
            },
            {
               statusSide: 70
            },
            {
               statusSide: 99
            },
        ] {% endcomment %}
    });

    console.log({{ all_result|safe }});
    {% comment %} var css_change = function(t,s){
        s = document.createElement('style');
        s.innerText = t;
        document.body.appendChild(s);
    };
    
    var median = {{ median }};
    var low = median - 16;
    var high = median + 16;
    if (low < 0){
        low = 0;
    }
    if (high > 100){
        high = 100;
    }
    var blue_range = high - low;
    css_change(`.statistic .custom-graph__items:before{left:${low}%;width:min(${blue_range}%);}`); {% endcomment %}


    //document.getElementById('button').addEventListener('click', function (e) {
    //    e.preventDefault();
    //    log(app.getData())
    //});

</script>
</body>
</html>
