{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Team-Potential-RESULT</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/app_graph.css">
    <link rel="stylesheet" href="/static/css/team-potential.css">
    <script src="/static/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                    </div>
                    <img src="{{ user.avatar }}" alt="boar">
                    <div class="user__title">
                        {{ user.name }}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 45%">45%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body" id="app-1">
        <div class="container"
        v-loading="loading"
        element-loading-text="Waiting for others to finish"
        element-loading-background="rgba(0, 0, 0, 0.8)">
            <main class="screen team-potential">
                <h1>
                    Team Potential Einschätzung
                </h1>
                <p>
                    Ist dein Team High oder Low Performing? Unsere Hypothese lautet: bessere Performance entsteht dank höherer Psychologischer Sicherheit.
                    <br/>
                    <br/>
                </p>
                <div class="custom-graph-info">
                    <div class="custom-graph-info__item small" data-text="Minimal">
                        {{ minimal }}
                    </div>
                    <div class="custom-graph-info__item base" data-text="Average">
                        {{ median }}
                    </div>
                    <div class="custom-graph-info__item large" data-text="Maximal">
                        {{ maximal }}
                    </div>
                </div>
                <div class="custom-graph-wrapper"></div>
                <form id="form_" action="#" method="POST" id="auth-form" class="form">
                {% csrf_token %}
                    <div class="center">
                        {% comment %} <a href="/psychologischer/" class="button" id="button">
                            Weiterspielen
                        </a>  {% endcomment %}
                        <input type="hidden" name="flag" value="">
                        <button type="submit" id="button">
                            Weiterspielen
                        </button> 
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
<script src="/static/js/AppGraph.js"></script>
<script src="/static/axios.min.js"></script>
<script>

    var app1 = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-1',
        data(){
            return{
                loading: false,
            } 
        },
        created(){
            var loading_ = '{{ loading }}';
            console.log('loading', loading_)
            if (loading_ === '0'){
                this.loading = false;
            }else{
                this.loading = true;
            }
        },
        mounted(){
            {% comment %} function check_finish(){
                if (this.loading === true){
                    var data_ = {'link': '{{game.link}}'};
                    axios
                        .post(`/api/check_ubung5_finish/`, data_)
                        .then(function(response){
                            var result = response.data.result;
                            if (result === 1){
                                // everybody finish the ubung-5
                                window.location.href('/psychologischer/');
                            }else{
                                return;
                            }
                        })
                        .catch(function(error){
                            console.log(error);
                        })
                }
            }  {% endcomment %}
            //setInterval(check_finish(),2000);
        }
    })

    let data = {{ all_result|safe }};
    let safezoneData = () => {
        let arr = [];
        for(let item of data) {
            arr.push(item.statusSide);
        }
        return arr
    }

    const {log} = console;

    const app = new AppGraph({
        container: ".custom-graph-wrapper",
        range: [1, 99],
        labelRange: ['Low', 'High'],
        statistic: true,
        mobile: 1200,
        data: data,
        safezoneData: safezoneData(),
        {% comment %} [
            {
               statusSide: 10
            },
            {
               statusSide: 20
            },
            {
               statusSide: 45
            },
            {
               statusSide: 49
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
               statusSide: 49
            },
            {
               statusSide: 49
            },
            {
               statusSide: 49
            },
            {
               statusSide: 49
            },
            {
               statusSide: 60
            },
            {
               statusSide: 70
            },
            {
               statusSide: 99
            },
        ] {% endcomment %}
    });

    console.log({{ all_result|safe }});
    {% comment %} var css_change = function(t,s){
        s = document.createElement('style');
        s.innerText = t;
        document.body.appendChild(s);
    };

    var median = {{ median }};
    var low = median - 16;
    var high = median + 16;
    if (low < 0){
        low = 0;
    }
    if (high > 100){
        high = 100;
    }
    var blue_range = high - low;
    console.log('median',median,low,high);
    css_change(`.statistic .custom-graph__items:before{left:${low}%;width:min(${blue_range}%);}`); {% endcomment %}


    //document.getElementById('button').addEventListener('click', function (e) {
    //    e.preventDefault();
    //    log(app.getData())
    //});


    function sleep (time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    async function check_finish(){
        while (1){
            await sleep(5000).then(() =>{
                if (app1.loading === true){
                    var data_ = {'link': '{{game.link}}'};
                    axios
                        .post(`/api/check_ubung5_finish/`, data_)
                        .then(function(response){
                            var result = response.data.result;
                            //console.log('result',result);
                            if (result === 1){
                                // everybody finish the ubung-5
                                window.location.href = '/psychologischer/';
                            }else if (result === 2){
                                window.location.href = '/ubung-5/'
                            }else{

                            }
                        })
                        .catch(function(error){
                            console.log(error);
                        })
                }
            })
        }
    }
    check_finish()

</script>
</body>
</html>
