{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Ubung 1</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/ubung-1.css">
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                    </div>
                    <img src="{{user.avatar}}" alt="">
                    <div class="user__title">
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 10%">10%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <form action="#" method="POST" id="ubung-1-form" class="form">
            {% csrf_token %}
                <main class="screen ubung-1">
                    <h1>
                        Übung 1: Kraftquelle des Teams.
                    </h1>
                    <p>
                        Die erste Aufgabe ist anspruchsvoll und bestimmt die Struktur des Spiels: welche Kraft hälst du
                        für's gute Zusammenspiel im Team für wesentlich?
                        <br/>
                        <br/>
                    </p>
                    <input type="text" placeholder="Kraftquelle" name="kraftquelle"/>
                    <labe>*Diese Qualität wurde bereits von einem anderen Spieler ausgewählt.</labe>
                    <p>
                        <b>
                            Schreib in das leere Feld oder beweg den passenden Begriff.
                        </b>
                    </p>
                    <div class="tags">
                        <span id="Freundlichkeit" class="tag">Freundlichkeit</span>
                        <span id="Ehrlichkeit" class="line-through" class="tag">Ehrlichkeit</span>
                        <span id="Selbstvertrauen" class="tag">Selbstvertrauen</span>
                        <span id="Empfänglichkeit" class="tag">Empfänglichkeit</span>
                        <span id="Großzügigkeit" class="tag">Großzügigkeit</span>
                        <span id="Wahrhaftigkeit" class="line-through" class="tag">Wahrhaftigkeit</span>
                        <span id="Harte-Arbeit" class="tag">Harte Arbeit</span>
                        <span id="Die-Geduld" class="tag">Die Geduld</span>
                        <span id="Eifer" class="tag">Eifer</span>
                        <span id="Empathie" class="line-through" class="tag">Empathie</span>
                        <span id="Friedlichkeit" class="tag">Friedlichkeit</span>
                        <span id="Moral" class="tag">Moral</span>
                        <span id="Aufrichtigkeit" class="tag">Aufrichtigkeit</span>
                        <span id="Treue" class="tag">Treue</span>
                        <span id="Humor" class="tag">Humor</span>
                    </div>
                    <input id="tags" type="hidden" name="tags" value="输入你要传bai递的值">
                    <div class="center">
                        <button href="#" class="submit">
                            Weiterspielen
                        </button>
                    </div>
                </main>
            </form>
        </div>
    </div>
</div>

<script
  src="http://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
  
<script>

    function check_tag(){
        var tag_str_list = '';
        $('.tag').each(function(i,e){
            if ($(this).is('.line-through')){
            }
            else{
                tag_str_list = tag_str_list + $(this).text() + ',';
            }
        })
        $('#tags').val(tag_str_list);
        //console.log(tag_str_list)
    }

    setInterval("check_tag()", 100);
    

    $('#Freundlichkeit').on("click",function(){
        if ($('#Freundlichkeit').is('.line-through')){
            $("#Freundlichkeit").removeClass("line-through");
        }
        else{
            $("#Freundlichkeit").addClass("line-through");
        }
    })

    $('#Ehrlichkeit').on("click",function(){
        if ($('#Ehrlichkeit').is('.line-through')){
            $("#Ehrlichkeit").removeClass("line-through");
        }
        else{
            $("#Ehrlichkeit").addClass("line-through");
        }
    })

    $('#Selbstvertrauen').on("click",function(){
        if ($('#Selbstvertrauen').is('.line-through')){
            $("#Selbstvertrauen").removeClass("line-through");
        }
        else{
            $("#Selbstvertrauen").addClass("line-through");
        }
    })

    $('#Empfänglichkeit').on("click",function(){
        if ($('#Empfänglichkeit').is('.line-through')){
            $("#Empfänglichkeit").removeClass("line-through");
        }
        else{
            $("#Empfänglichkeit").addClass("line-through");
        }
    })

    $('#Großzügigkeit').on("click",function(){
        if ($('#Großzügigkeit').is('.line-through')){
            $("#Großzügigkeit").removeClass("line-through");
        }
        else{
            $("#Großzügigkeit").addClass("line-through");
        }
    })

    $('#Wahrhaftigkeit').on("click",function(){
        if ($('#Wahrhaftigkeit').is('.line-through')){
            $("#Wahrhaftigkeit").removeClass("line-through");
        }
        else{
            $("#Wahrhaftigkeit").addClass("line-through");
        }
    })

    $('#Harte-Arbeit').on("click",function(){
        if ($('#Harte-Arbeit').is('.line-through')){
            $("#Harte-Arbeit").removeClass("line-through");
        }
        else{
            $("#Harte-Arbeit").addClass("line-through");
        }
    })

    $('#Die-Geduld').on("click",function(){
        if ($('#Die-Geduld').is('.line-through')){
            $("#Die-Geduld").removeClass("line-through");
        }
        else{
            $("#Die-Geduld").addClass("line-through");
        }
    })

    $('#Eifer').on("click",function(){
        if ($('#Eifer').is('.line-through')){
            $("#Eifer").removeClass("line-through");
        }
        else{
            $("#Eifer").addClass("line-through");
        }
    })

    $('#Empathie').on("click",function(){
        if ($('#Empathie').is('.line-through')){
            $("#Empathie").removeClass("line-through");
        }
        else{
            $("#Empathie").addClass("line-through");
        }
    })

    $('#Friedlichkeit').on("click",function(){
        if ($('#Friedlichkeit').is('.line-through')){
            $("#Friedlichkeit").removeClass("line-through");
        }
        else{
            $("#Friedlichkeit").addClass("line-through");
        }
    })

    $('#Moral').on("click",function(){
        if ($('#Moral').is('.line-through')){
            $("#Moral").removeClass("line-through");
        }
        else{
            $("#Moral").addClass("line-through");
        }
    })

    $('#Aufrichtigkeit').on("click",function(){
        if ($('#Aufrichtigkeit').is('.line-through')){
            $("#Aufrichtigkeit").removeClass("line-through");
        }
        else{
            $("#Aufrichtigkeit").addClass("line-through");
        }
    })

    $('#Treue').on("click",function(){
        if ($('#Treue').is('.line-through')){
            $("#Treue").removeClass("line-through");
        }
        else{
            $("#Treue").addClass("line-through");
        }
    })

    $('#Humor').on("click",function(){
        if ($('#Humor').is('.line-through')){
            $("#Humor").removeClass("line-through");
        }
        else{
            $("#Humor").addClass("line-through");
        }
    })
</script>

</body>
</html>


