<!-- {% load static %} -->
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Safety-Score-VOTE-4</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/ubung-4.css">

    <script src="/static/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                    </div>
                    <img src="{{user.avatar}}" alt="">
                    <div class="user__title">
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 25%">25%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen ubung-4">
                <h1>
                    {% trans "Teste eure Psychologische Sicherheit!" %}
                </h1>
                <p>
                    {% trans "Bewege jeden Spieler zu der Aussage, die am ehesten passt! Beziehe deine Einschätzung auf alltägliche Situationen im Team, die sich bei dir eingeprägt haben." %}
                    <br/>
                    <br/>
                </p>
                <div class="distribution__wrapper"></div>

                <form id="form_" action="#" method="POST" class="form">
                {% csrf_token %}
                    <div class="center" id="app-1">
                        <input id="row0" type="hidden" name="row-0" value=""/>
                        <input id="row1" type="hidden" name="row-1" value=""/>
                        <input id="row2" type="hidden" name="row-2" value=""/>
                        <input id="row3" type="hidden" name="row-3" value=""/>
                        <input id="row4" type="hidden" name="row-4" value=""/>
                        <input id="row5" type="hidden" name="row-5" value=""/>
                        <p>
                        <button type="button" id="button" @click="check_submit()" >
                            {% trans "Weiterspielen" %}
                        </button>
                    </p>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="/static/jquery-3.5.1.min.js"></script>
<script>


    class Dnd {
        constructor({container, containersTo, data, after}) {
            this.container = document.querySelector(container);
            this.containersTo = containersTo;
            this.data = data;
            this.after = after;
            window.addEventListener('load', () => {
                this.render();

            });
            this.saveDndItem = {};
            this.saveDndItemIndex = 0;
            this.cloned = {};
            this.saveX = 0;
            this.saveY = 0;
        }

        handlers() {
            const $self = this;
            let start = false;
            let replace = false;
            const usersFrom = document.querySelectorAll('.user-connect--to');
            const body = document.body;

            const usersDistr = document.querySelectorAll('.distry__user');
            let name = '';
            let whichContainer = 0;
            let player = {};


            if (window.innerWidth > 1200) {
                usersFrom.forEach((item, i) => {
                    if (item.closest('.active')) {
                        item.addEventListener('mousedown', function (e) {
                            $self.saveDndItem = item;
                            $self.cloned = item.cloneNode(true);
                            body.appendChild($self.cloned);
                            item.ondragstart = () => false;
                            item.classList.remove('active')
                            $self.cloned.style.position = 'fixed';
                            $self.cloned.style.zIndex = 1000;
                            $self.saveX = e.offsetX;
                            $self.saveY = e.offsetY;
                            $self.saveDndItemIndex = i;
                            start = true;
                        });
                    }
                });
                //Добавляем перемещение уже выбранного игрока
                if (usersDistr) {
                  usersDistr.forEach((item, i) => {
                    item.addEventListener('mousedown', function (e) {
                      name = event.target.parentNode.getAttribute('data-tippy-content');
                      $self.saveDndItem = item;
                      $self.cloned = item.cloneNode(true);
                      body.appendChild($self.cloned);
                      item.ondragstart = () => false;
                      $self.cloned.style.position = 'fixed';
                      $self.cloned.style.zIndex = 1000;
                      $self.saveX = e.offsetX;
                      $self.saveY = e.offsetY;
                      $self.saveDndItemIndex = i;
                      whichContainer = event.target.parentNode.parentNode.parentNode.getAttribute('data-id');
                      player = $self.containersTo[whichContainer].items.find(item => item.name == name);
                      replace = true;
                    });
                  });

                }

                document.onmousemove = event => {
                    if (start) {
                        const distry = event.target.closest('.distry');
                        if (distry) {
                            distry.classList.add('active')
                        } else {
                            document.querySelectorAll('.distry').forEach((item, i) => {
                                item.classList.remove('active')
                            });
                        }

                        $self.cloned.style.position = 'fixed';
                        $self.cloned.style.top = event.clientY - $self.saveY + 'px';
                        $self.cloned.style.left = event.pageX - $self.saveX + 'px';
                    }
                    if (replace) {
                        const distry = event.target.closest('.distry');
                        if (distry) {
                            distry.classList.add('active')
                        } else {
                            document.querySelectorAll('.distry').forEach((item, i) => {
                                item.classList.remove('active')
                            });
                        }

                        $self.cloned.style.position = 'fixed';
                        $self.cloned.style.top = event.clientY - $self.saveY + 'px';
                        $self.cloned.style.left = event.pageX - $self.saveX + 'px';
                    }

                };

                document.addEventListener('mouseup', function (e) {
                    if (start) {
                        const toElemnet = e.target;
                        const toElementId = toElemnet.parentNode.getAttribute('data-id');
                        $self.saveX = 0;
                        $self.saveY = 0;
                        $self.cloned.remove();
                        start = false;
                        if (toElementId) {
                            const testItem = $self.data[$self.saveDndItemIndex]
                            $self.data[$self.saveDndItemIndex] = {
                                ...testItem,
                                hidden: true
                            };
                            $self.containersTo[toElementId].items.push(testItem);
                            $self.render();
                        } else {
                            $self.saveDndItem.classList.add('active')
                        }
                    }
                    if (replace) {
                      const toElemnet = e.target;
                      const toElementId = toElemnet.parentNode.getAttribute('data-id');
                      $self.saveX = 0;
                      $self.saveY = 0;
                      $self.cloned.remove();
                      replace = false;
                      if (toElementId) {
                        $self.containersTo[toElementId].items.push(player);
                        let contItems = $self.containersTo[whichContainer].items.filter(item => item.name != name);
                        $self.containersTo[whichContainer].items = contItems;
                        $self.render();

                      }
                      else {
                        let contItems = $self.containersTo[whichContainer].items.filter(item => item.name != name);
                        $self.containersTo[whichContainer].items = contItems;
                        $self.data.forEach((item, i) => {
                          if (item.name == name) {item.hidden = false}
                        });
                        $self.render();
                      }
                    }

                });

                // Действие по клику на выбраном игроке, чтобы вернуть в пул.
                if (usersDistr) {
                  usersDistr.forEach((item, i) => {
                    item.addEventListener('click', function (event) {
                      name = event.target.parentNode.getAttribute('data-tippy-content');
                      whichContainer = event.target.parentNode.parentNode.parentNode.getAttribute('data-id');
                      let contItems = $self.containersTo[whichContainer].items.filter(item => item.name != name);
                      $self.containersTo[whichContainer].items = contItems;
                      $self.data.forEach((item, i) => {
                        if (item.name == name) {item.hidden = false}
                      });
                      $self.render();
                    })
                  });
                }

            }

            if (window.innerWidth <= 1200) {
                usersFrom.forEach((item, i) => {
                    if (item.closest('.active')) {
                        // add event listener to every active user banner
                        item.addEventListener('click', function (e) {
                            item.classList.add('outline');
                            // item = <div class="user-connect active user-connect--to">
                            $self.saveDndItem = item;
                            start = true;
                            $self.saveDndItemIndex = i;
                        });
                    }
                });

                document.querySelectorAll('.distry').forEach((item) => {
                    item.addEventListener('click', function (e) {
                        if (start) {
                            const toElementId = this.getAttribute('data-id');
                            $self.saveDndItem.classList.remove('outline')
                            start = false;
                            if (this.getAttribute('data-id')) {
                                const testItem = $self.data[$self.saveDndItemIndex]
                                $self.data[$self.saveDndItemIndex] = {
                                    ...testItem,
                                    hidden: true
                                };
                                $self.containersTo[toElementId].items.push(testItem);
                                $self.render();
                            } else {
                                $self.saveDndItem.classList.add('active')
                            }
                        }
                        if (replace) {
                            const toElemnet = e.target;
                            console.log(e.target)
                            const toElementId = toElemnet.parentNode.getAttribute('data-id');
                            replace = false;
                            if (toElementId) {
                                $self.containersTo[toElementId].items.push(player);
                                let contItems = $self.containersTo[whichContainer].items.filter(item => item.name != name);
                                $self.containersTo[whichContainer].items = contItems;
                                $self.render();

                            }
                            else {
                                let contItems = $self.containersTo[whichContainer].items.filter(item => item.name != name);
                                $self.containersTo[whichContainer].items = contItems;
                                $self.data.forEach((item, i) => {
                                    if (item.name == name) {item.hidden = false}
                                });
                                $self.render();
                            }
                        }
                    });
                })
                //Replace player
                if (usersDistr) {
                  usersDistr.forEach((item, i) => {
                    item.addEventListener('click', function (e) {
                        item.classList.add('outline');
                        console.log(event.target);
                        name = event.target.parentNode.getAttribute('data-tippy-content');
                        $self.saveDndItem = item;
                        $self.saveDndItemIndex = i;
                        whichContainer = event.target.parentNode.parentNode.parentNode.getAttribute('data-id');
                        player = $self.containersTo[whichContainer].items.find(item => item.name == name);
                        replace = true;
                        console.log(name, $self.saveDndItem, $self.saveDndItemIndex, whichContainer, player)
                    });
                  });
                }
                

            }

        }

        renderContainersTo(item, i) {
            const {name, items} = item;

            return `<div class="distribution__item">
                        <div class="distry" data-id="${i}">
                            <div class="distry__description">
                                ${name}
                            </div>
                            <div class="distry__thumbnails" >
                            ${items.map(({name, avatar}) => {
                return `<div class="distry__user" data-tippy-content="${name}"><img src="${avatar}" alt=""></div>`
            })}
                            </div>
                        </div>
                    </div>`;
        }

        renderDataItems() {

            return `<div class="distribution__item">
                   <div class="distribution__users">
                            ${this.data.map(({name, avatar, hidden}, i) => {
                const isActive = hidden ? '' : 'active';
                return `<div class="user-connect ${isActive} user-connect--to">
                                <img src="${avatar}" alt=""/>
                                <div class="user-connect__name">
                                    ${name}
                                </div>
                            </div>`
            })}
                        </div>
                </div>`;

        }

        render() {


            const renderHtml = ` <div class="distribution">
                 ${this.containersTo.map((item, i) => {

                if (this.after === i + 1) {
                    return this.renderContainersTo(item, i) + this.renderDataItems();
                }

                return this.renderContainersTo(item, i)
            })}
                </div>`;

            this.container.innerHTML = renderHtml.split(`,`).join('');
            // console.log(renderHtml.__proto__);
            this.handlers();
            // With the above scripts loaded, you can call `tippy()` with a CSS
            // selector and a `content` prop:
            tippy('[data-tippy-content]');
            tippy(document.querySelectorAll('div[data-tippy-content]'));
        }

        getData() {
            return this.containersTo;
        }
    }


    const app = new Dnd({
        container: '.distribution__wrapper',
        containersTo: [
            {
                name: "{% trans 'Schwierige Themen können wir meist gut zusammen anschauen.' %}",
                items: []
            },
            {
                name: "{% trans 'Ich beobachte wie du gelegentlich Menschen im Team ausschliesst.' %}",
                items: []
            },
            {
                name: "{% trans 'Für mich bist du im Team nicht immer sichtbar.' %}",
                items: []
            },
            {
                name: "{% trans 'Ich fühle wie meine Talente von dir gesehen und einbezogen werden.' %}",
                items: []
            },
            {
                name: "{% trans 'Ich habe das Gefühl du reagierst auf Fehler mit Schuldzuweisungen an Einzelne im Team.' %}",
                items: []
            },
            {
                name: "{% trans 'Mir fällt es mitunter schwer dich um Hilfe zu bitten.' %}",
                items: []
            },

        ],
        data:{{ member_list|safe }},

        {% comment %} data: [
            {
                name: 'Constantin Constantinopol',
                avatar: '/static/images/avatars/boar.svg'
            },
            {
                name: 'Some test',
                avatar: '/static/images/avatars/boar.svg'
            },
            {
                name: 'Some test123',
                avatar: '/static/images/avatars/boar.svg'
            },
            {
                name: 'Some test222',
                avatar: '/static/images/avatars/boar.svg'
            },
            {
                name: 'Some test333',
                avatar: '/static/images/avatars/boar.svg'
            },
            {
                name: 'Some test444',
                avatar: '/static/images/avatars/boar.svg'
            },
            {
                name: 'Some test1',
                avatar: '/static/images/avatars/boar.svg'
            }
        ], {% endcomment %}
        after: 2
    });

    //document.getElementById('button').addEventListener('click', function (e) {
    //   e.preventDefault();
    //   console.log(app.getData())
    //});

    function get_id(in_value){
        var uu = 0;
        var output = [];
        while (uu < in_value.length){
            output.push(in_value[uu]['id']);
            uu += 1;
        }
        return output;
    }

    function refresh(){
        $('#row0').val(get_id(app.containersTo[0].items));
        $('#row1').val(get_id(app.containersTo[1].items));
        $('#row2').val(get_id(app.containersTo[2].items));
        $('#row3').val(get_id(app.containersTo[3].items));
        $('#row4').val(get_id(app.containersTo[4].items));
        $('#row5').val(get_id(app.containersTo[5].items));
        //console.log(app.containersTo[0].items);
    }
    setInterval("refresh()", 1000);

    var app1 = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-1',
        methods:{
            check_submit(){
                var member_num = {{member_list|safe}}.length
                var done_list = app.getData()
                var done_num = 0
                var uu = 0
                while (uu < done_list.length){
                    done_num = done_num + done_list[uu].items.length
                    uu += 1
                }
                if (member_num === done_num){
                    var form_submit = document.getElementById('form_');
                    form_submit.submit()
                }else{
                    this.$message({
                        showClose: true,
                        message: 'Please move all avatars',
                        type: 'error',
                        center: true
                    })
                    
                }
            }
        }
    })

</script>

</body>
</html>
