{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Ubung 3</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/ubung-1.css">
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        Fische im Aquarium
                    </div>
                    <img src="/static/images/avatars/boar.svg" alt="boar">
                    <div class="user__title">
                        Vasilisa Kochetkova
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 10%">10%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
        <form action="#" method="POST" id="ubung-1-form" class="form">
        {% csrf_token %}
                <main class="screen ubung-1">
                    <h1>
                        Übung 3: Energiefresser im Team?
                    </h1>
                    <p>
                        Benenne nun bitte den mutmasslichen Gegenspieler, die Kraft die der vollen
                        Entfaltung des Teampotentials gegenübersteht.
                        <br/>
                        <br/>
                    </p>
                    <input type="text" placeholder="Energiefresser" name="energiefresser"/>
                    <labe>*Diese Qualität wurde bereits von einem anderen Spieler ausgewählt.</labe>
                    <p>
                        <b>
                            Benenne nun bitte den mutmasslichen Gegenspieler, die Kraft die der vollen
                            Entfaltung des Teampotentials gegenübersteht.
                        </b>
                    </p>
                    <div class="tags">
                        <span id="Zorn" class="tag">Zorn</span>
                        <span id="Der-Neid" class="tag" class="line-through">Der Neid</span>
                        <span id="Arroganz" class="tag">Arroganz</span>
                        <span id="Grausamkeit" class="tag">Grausamkeit</span>
                        <span id="Betrug" class="tag">Betrug</span>
                        <span id="Selbstsucht" class="tag">Selbstsucht</span>
                        <span id="Heuchelei" class="tag">Heuchelei</span>
                        <span id="Gier" class="tag">Gier</span>
                        <span id="Rache" class="tag" class="line-through">Rache</span>
                        <span id="Frechheit" class="tag">Frechheit</span>
                        <span id="Empathie" class="tag">Empathie</span>
                        <span id="Verantwortungslosigkeit" class="tag">Verantwortungslosigkeit</span>
                        <span id="Gesprächigkeit" class="tag">Gesprächigkeit</span>
                    </div>
                    <input id="tags" type="hidden" name="tags" value="输入你要传bai递的值">
                    <div class="center">
                        <button href="#" class="submit">
                            Weiterspielen
                        </button>
                    </div>
                </main>
            </form>
        </div>
    </div>
</div>


<script
  src="http://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>

<script>

    function check_tag(){
        var tag_str_list = '';
        $('.tag').each(function(i,e){
            if ($(this).is('.line-through')){
            }
            else{
                tag_str_list = tag_str_list + $(this).text() + ',';
            }
        })
        $('#tags').val(tag_str_list);
        //console.log(tag_str_list)
    }

    setInterval("check_tag()", 100);
    

    $('#Zorn').on("click",function(){
        if ($('#Zorn').is('.line-through')){
            $("#Zorn").removeClass("line-through");
        }
        else{
            $("#Zorn").addClass("line-through");
        }
    })

    $('#Der-Neid').on("click",function(){
        if ($('#Der-Neid').is('.line-through')){
            $("#Der-Neid").removeClass("line-through");
        }
        else{
            $("#Der-Neid").addClass("line-through");
        }
    })

    $('#Arroganz').on("click",function(){
        if ($('#Arroganz').is('.line-through')){
            $("#Arroganz").removeClass("line-through");
        }
        else{
            $("#Arroganz").addClass("line-through");
        }
    })

    $('#Grausamkeit').on("click",function(){
        if ($('#Grausamkeit').is('.line-through')){
            $("#Grausamkeit").removeClass("line-through");
        }
        else{
            $("#Grausamkeit").addClass("line-through");
        }
    })

    $('#Betrug').on("click",function(){
        if ($('#Betrug').is('.line-through')){
            $("#Betrug").removeClass("line-through");
        }
        else{
            $("#Betrug").addClass("line-through");
        }
    })

    $('#Selbstsucht').on("click",function(){
        if ($('#Selbstsucht').is('.line-through')){
            $("#Selbstsucht").removeClass("line-through");
        }
        else{
            $("#Selbstsucht").addClass("line-through");
        }
    })

    $('#Heuchelei').on("click",function(){
        if ($('#Heuchelei').is('.line-through')){
            $("#Heuchelei").removeClass("line-through");
        }
        else{
            $("#Heuchelei").addClass("line-through");
        }
    })

    $('#Gier').on("click",function(){
        if ($('#Gier').is('.line-through')){
            $("#Gier").removeClass("line-through");
        }
        else{
            $("#Gier").addClass("line-through");
        }
    })

    $('#Rache').on("click",function(){
        if ($('#Rache').is('.line-through')){
            $("#Rache").removeClass("line-through");
        }
        else{
            $("#Rache").addClass("line-through");
        }
    })

    $('#Frechheit').on("click",function(){
        if ($('#Frechheit').is('.line-through')){
            $("#Frechheit").removeClass("line-through");
        }
        else{
            $("#Frechheit").addClass("line-through");
        }
    })

    $('#Empathie').on("click",function(){
        if ($('#Empathie').is('.line-through')){
            $("#Empathie").removeClass("line-through");
        }
        else{
            $("#Empathie").addClass("line-through");
        }
    })

    $('#Verantwortungslosigkeit').on("click",function(){
        if ($('#Verantwortungslosigkeit').is('.line-through')){
            $("#Verantwortungslosigkeit").removeClass("line-through");
        }
        else{
            $("#Verantwortungslosigkeit").addClass("line-through");
        }
    })

    $('#Gesprächigkeit').on("click",function(){
        if ($('#Gesprächigkeit').is('.line-through')){
            $("#Gesprächigkeit").removeClass("line-through");
        }
        else{
            $("#Gesprächigkeit").addClass("line-through");
        }
    })

</script>



</body>
</html>
