{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Ubung 3</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/ubung-1.css">
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                    </div>
                    <img src="{{user.avatar}}" alt="">
                    <div class="user__title">
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 10%">10%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
        <form action="#" method="POST" id="ubung-1-form" class="form">
        {% csrf_token %}
                <main class="screen ubung-1">
                    <h1>
                        Übung 3: Energiefresser im Team?
                    </h1>
                    <p>
                        Benenne nun bitte den mutmasslichen Gegenspieler, die Kraft die der vollen
                        Entfaltung des Teampotentials gegenübersteht.
                        <br/>
                        <br/>
                    </p>
                    <input type="text" placeholder="Energiefresser" name="energiefresser"/>
                    <labe>*Diese Qualität wurde bereits von einem anderen Spieler ausgewählt.</labe>
                    <p>
                        <b>
                            Benenne nun bitte den mutmasslichen Gegenspieler, die Kraft die der vollen
                            Entfaltung des Teampotentials gegenübersteht.
                        </b>
                    </p>
                    <div class="tags">
                        <span id="Abhängigkeit" class="tag">Abhängigkeit</span>
                        <span id="Achtlosigkeit" class="tag" class="line-through">Achtlosigkeit</span>
                        <span id="Angepasstheit" class="tag">Angepasstheit</span>
                        <span id="Angsẗ" class="tag">Angst</span>
                        <span id="Aufgeregtheit" class="tag">Aufgeregtheit</span>
                        <span id="Desinteresse" class="tag">Desinteresse</span>
                        <span id="Distanz" class="tag">Distanz</span>
                        <span id="Egoismus" class="tag">Egoismus</span>
                        <span id="Ehrlosigkeit" class="tag" class="line-through">Ehrlosigkeit</span>
                        <span id="Einfallslosigkeit" class="tag">Einfallslosigkeit</span>
                        <span id="Feindseligkeit" class="tag">Feindseligkeit</span>
                        <span id="Gehorsam" class="tag">Gehorsam</span>
                        <span id="Gleichgültigkeit" class="tag">Gleichgültigkeit</span>
                        <span id="Leistungsschwäche" class="tag" class="line-through">Leistungsschwäche</span>
                        <span id="Müßiggang" class="tag">Müßiggang</span>
                        <span id="Neid" class="tag">Neid</span>
                        <span id="Rangordnung" class="tag">Rangordnung</span>
                        <span id="Rechthaberei" class="tag">Rechthaberei</span>
                        <span id="Risiko" class="tag">Risiko</span>
                        <span id="Sinnlosigkeit" class="tag">Sinnlosigkeit</span>
                        <span id="Starrheit" class="tag" class="line-through">Starrheit</span>
                        <span id="Treulosigkeit" class="tag">Treulosigkeit</span>
                        <span id="Unachtsamkeit" class="tag">Unachtsamkeit</span>
                        <span id="Unterordnung" class="tag">Unterordnung</span>
                        <span id="Unzuverlässigkeit" class="tag">Unzuverlässigkeit</span>
                        <span id="Verbot" class="tag">Verbot</span>
                        <span id="Verkrampftheit" class="tag">Verkrampftheit</span>
                        <span id="Versagen" class="tag">Versagen</span>
                        <span id="Willkür" class="tag">Willkür</span>
                    </div>
                    <input id="tags" type="hidden" name="tags" value="输入你要传bai递的值">
                    <div class="center">
                        <button href="#" class="submit">
                            Weiterspielen
                        </button>
                    </div>
                </main>
            </form>
        </div>
    </div>
</div>


<script
  src="http://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>

<script>

    function check_tag(){
        var tag_str_list = '';
        $('.tag').each(function(i,e){
            if ($(this).is('.line-through')){
            }
            else{
                tag_str_list = tag_str_list + $(this).text() + ',';
            }
        })
        $('#tags').val(tag_str_list);
        //console.log(tag_str_list)
    }

    setInterval("check_tag()", 100);
    

    $('#Zorn').on("click",function(){
        if ($('#Zorn').is('.line-through')){
            $("#Zorn").removeClass("line-through");
        }
        else{
            $("#Zorn").addClass("line-through");
        }
    })

    $('#Der-Neid').on("click",function(){
        if ($('#Der-Neid').is('.line-through')){
            $("#Der-Neid").removeClass("line-through");
        }
        else{
            $("#Der-Neid").addClass("line-through");
        }
    })

    $('#Arroganz').on("click",function(){
        if ($('#Arroganz').is('.line-through')){
            $("#Arroganz").removeClass("line-through");
        }
        else{
            $("#Arroganz").addClass("line-through");
        }
    })

    $('#Grausamkeit').on("click",function(){
        if ($('#Grausamkeit').is('.line-through')){
            $("#Grausamkeit").removeClass("line-through");
        }
        else{
            $("#Grausamkeit").addClass("line-through");
        }
    })

    $('#Betrug').on("click",function(){
        if ($('#Betrug').is('.line-through')){
            $("#Betrug").removeClass("line-through");
        }
        else{
            $("#Betrug").addClass("line-through");
        }
    })

    $('#Selbstsucht').on("click",function(){
        if ($('#Selbstsucht').is('.line-through')){
            $("#Selbstsucht").removeClass("line-through");
        }
        else{
            $("#Selbstsucht").addClass("line-through");
        }
    })

    $('#Heuchelei').on("click",function(){
        if ($('#Heuchelei').is('.line-through')){
            $("#Heuchelei").removeClass("line-through");
        }
        else{
            $("#Heuchelei").addClass("line-through");
        }
    })

    $('#Gier').on("click",function(){
        if ($('#Gier').is('.line-through')){
            $("#Gier").removeClass("line-through");
        }
        else{
            $("#Gier").addClass("line-through");
        }
    })

    $('#Rache').on("click",function(){
        if ($('#Rache').is('.line-through')){
            $("#Rache").removeClass("line-through");
        }
        else{
            $("#Rache").addClass("line-through");
        }
    })

    $('#Frechheit').on("click",function(){
        if ($('#Frechheit').is('.line-through')){
            $("#Frechheit").removeClass("line-through");
        }
        else{
            $("#Frechheit").addClass("line-through");
        }
    })

    $('#Empathie').on("click",function(){
        if ($('#Empathie').is('.line-through')){
            $("#Empathie").removeClass("line-through");
        }
        else{
            $("#Empathie").addClass("line-through");
        }
    })

    $('#Verantwortungslosigkeit').on("click",function(){
        if ($('#Verantwortungslosigkeit').is('.line-through')){
            $("#Verantwortungslosigkeit").removeClass("line-through");
        }
        else{
            $("#Verantwortungslosigkeit").addClass("line-through");
        }
    })

    $('#Gesprächigkeit').on("click",function(){
        if ($('#Gesprächigkeit').is('.line-through')){
            $("#Gesprächigkeit").removeClass("line-through");
        }
        else{
            $("#Gesprächigkeit").addClass("line-through");
        }
    })

    $('#Der-Neid').on("click",function(){
        if ($('#Der-Neid').is('.line-through')){
            $("#Der-Neid").removeClass("line-through");
        }
        else{
            $("#Der-Neid").addClass("line-through");
        }
    })

    $('#Arroganz').on("click",function(){
        if ($('#Arroganz').is('.line-through')){
            $("#Arroganz").removeClass("line-through");
        }
        else{
            $("#Arroganz").addClass("line-through");
        }
    })

    $('#Grausamkeit').on("click",function(){
        if ($('#Grausamkeit').is('.line-through')){
            $("#Grausamkeit").removeClass("line-through");
        }
        else{
            $("#Grausamkeit").addClass("line-through");
        }
    })

    $('#Betrug').on("click",function(){
        if ($('#Betrug').is('.line-through')){
            $("#Betrug").removeClass("line-through");
        }
        else{
            $("#Betrug").addClass("line-through");
        }
    })

    $('#Selbstsucht').on("click",function(){
        if ($('#Selbstsucht').is('.line-through')){
            $("#Selbstsucht").removeClass("line-through");
        }
        else{
            $("#Selbstsucht").addClass("line-through");
        }
    })

    $('#Heuchelei').on("click",function(){
        if ($('#Heuchelei').is('.line-through')){
            $("#Heuchelei").removeClass("line-through");
        }
        else{
            $("#Heuchelei").addClass("line-through");
        }
    })

    $('#Gier').on("click",function(){
        if ($('#Gier').is('.line-through')){
            $("#Gier").removeClass("line-through");
        }
        else{
            $("#Gier").addClass("line-through");
        }
    })

    $('#Rache').on("click",function(){
        if ($('#Rache').is('.line-through')){
            $("#Rache").removeClass("line-through");
        }
        else{
            $("#Rache").addClass("line-through");
        }
    })

    $('#Frechheit').on("click",function(){
        if ($('#Frechheit').is('.line-through')){
            $("#Frechheit").removeClass("line-through");
        }
        else{
            $("#Frechheit").addClass("line-through");
        }
    })

    $('#Empathie').on("click",function(){
        if ($('#Empathie').is('.line-through')){
            $("#Empathie").removeClass("line-through");
        }
        else{
            $("#Empathie").addClass("line-through");
        }
    })

    $('#Verantwortungslosigkeit').on("click",function(){
        if ($('#Verantwortungslosigkeit').is('.line-through')){
            $("#Verantwortungslosigkeit").removeClass("line-through");
        }
        else{
            $("#Verantwortungslosigkeit").addClass("line-through");
        }
    })

    $('#Gesprächigkeit').on("click",function(){
        if ($('#Gesprächigkeit').is('.line-through')){
            $("#Gesprächigkeit").removeClass("line-through");
        }
        else{
            $("#Gesprächigkeit").addClass("line-through");
        }
    })
    
    
</script>



</body>
</html>
