{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Ubung 1</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/ubung-1.css">
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                    </div>
                    <img src="{{user.avatar}}" alt="">
                    <div class="user__title">
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 10%">10%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <form action="#" method="POST" id="ubung-1-form" class="form">
            {% csrf_token %}
                <main class="screen ubung-1">
                    <h1>
                        Übung 1: Kraftquelle des Teams.
                    </h1>
                    <p>
                        Die erste Aufgabe ist anspruchsvoll und bestimmt die Struktur des Spiels: welche Kraft hälst du
                        für's gute Zusammenspiel im Team für wesentlich?
                        <br/>
                        <br/>
                    </p>
                    <input type="text" placeholder="Kraftquelle" name="kraftquelle"/>
                    <labe>*Diese Qualität wurde bereits von einem anderen Spieler ausgewählt.</labe>
                    <p>
                        <b>
                            Schreib in das leere Feld oder beweg den passenden Begriff.
                        </b>
                    </p>
                    <div class="tags">
                        <span id="Aufmüpfigkeit" class="tag">Aufmüpfigkeit</span>
                        <span id="Autonomie" class="line-through" class="tag">Autonomie</span>
                        <span id="Dominanz" class="tag">Dominanz</span>
                        <span id="Effizienz" class="tag">Effizienz</span>
                        <span id="Ehrgeiz" class="tag">Ehrgeiz</span>
                        <span id="Einzigartigkeit" class="line-through" class="tag">Einzigartigkeit</span>
                        <span id="Erfolg" class="tag">Erfolg</span>
                        <span id="Flexibilität" class="tag">Flexibilität</span>
                        <span id="Freundschaft" class="tag">Freundschaft</span>
                        <span id="Gelassenheit" class="line-through" class="tag">Gelassenheit</span>
                        <span id="Gerechtigkeit" class="tag">Gerechtigkeit</span>
                        <span id="Geselligkeit" class="tag">Geselligkeit</span>
                        <span id="Gleichberechtigung" class="tag">Gleichberechtigung</span>
                        <span id="Großzügigkeit" class="tag">Großzügigkeit</span>
                        <span id="Imagination" class="tag">Imagination</span>
                        <span id="Leidenschaft" class="line-through" class="tag">Leidenschaft</span>
                        <span id="Loyalität" class="tag">Loyalität</span>
                        <span id="Mut" class="tag">Mut</span>
                        <span id="Nachhaltigkeit" class="tag">Nachhaltigkeit</span>
                        <span id="Neugier" class="line-through" class="tag">Neugier</span>
                        <span id="Offenheit" class="tag">Offenheit</span>
                        <span id="Sicherheit" class="tag">Sicherheit</span>
                        <span id="Sinnhaftigkeit" class="tag">Sinnhaftigkeit</span>
                        <span id="Solidarität" class="line-through" class="tag">Solidarität</span>
                        <span id="Sorgfalt" class="tag">Sorgfalt</span>
                        <span id="Vergnügen" class="tag">Vergnügen</span>
                        <span id="Vertrautheit" class="tag">Vertrautheit</span>
                        <span id="Würde" class="tag">Würde</span>
                        <span id="Zuverlässigkeit" class="tag">Zuverlässigkeit</span>
                    </div>
                    <input id="tags" type="hidden" name="tags" value="输入你要传bai递的值">
                    <div class="center">
                        <button href="#" class="submit">
                            Weiterspielen
                        </button>
                    </div>
                </main>
            </form>
        </div>
    </div>
</div>

<script
  src="http://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
  
<script>

    function check_tag(){
        var tag_str_list = '';
        $('.tag').each(function(i,e){
            if ($(this).is('.line-through')){
            }
            else{
                tag_str_list = tag_str_list + $(this).text() + ',';
            }
        })
        $('#tags').val(tag_str_list);
        //console.log(tag_str_list)
    }

    setInterval("check_tag()", 100);
    

    $('#Aufmüpfigkeit').on("click",function(){
        if ($('#Aufmüpfigkeit').is('.line-through')){
            $("#Aufmüpfigkeit").removeClass("line-through");
        }
        else{
            $("#Aufmüpfigkeit").addClass("line-through");
        }
    })

    $('#Autonomie').on("click",function(){
        if ($('#Autonomie').is('.line-through')){
            $("#Autonomie").removeClass("line-through");
        }
        else{
            $("#Autonomie").addClass("line-through");
        }
    })

    $('#Dominanz').on("click",function(){
        if ($('#Dominanz').is('.line-through')){
            $("#Dominanz").removeClass("line-through");
        }
        else{
            $("#Dominanz").addClass("line-through");
        }
    })

    $('#Effizienz').on("click",function(){
        if ($('#Effizienz').is('.line-through')){
            $("#Effizienz").removeClass("line-through");
        }
        else{
            $("#Effizienz").addClass("line-through");
        }
    })

    $('#Ehrgeiz').on("click",function(){
        if ($('#Ehrgeiz').is('.line-through')){
            $("#Ehrgeiz").removeClass("line-through");
        }
        else{
            $("#Ehrgeiz").addClass("line-through");
        }
    })

    $('#Einzigartigkeit').on("click",function(){
        if ($('#Einzigartigkeit').is('.line-through')){
            $("#Einzigartigkeit").removeClass("line-through");
        }
        else{
            $("#Einzigartigkeit").addClass("line-through");
        }
    })

    $('#Erfolg').on("click",function(){
        if ($('#Erfolg').is('.line-through')){
            $("#Erfolg").removeClass("line-through");
        }
        else{
            $("#Erfolg").addClass("line-through");
        }
    })

    $('#Flexibilität').on("click",function(){
        if ($('#Flexibilität').is('.line-through')){
            $("#Flexibilität").removeClass("line-through");
        }
        else{
            $("#Flexibilität").addClass("line-through");
        }
    })

    $('#Freundschaft').on("click",function(){
        if ($('#Freundschaft').is('.line-through')){
            $("#Freundschaft").removeClass("line-through");
        }
        else{
            $("#Freundschaft").addClass("line-through");
        }
    })

    $('#Gelassenheit').on("click",function(){
        if ($('#Gelassenheit').is('.line-through')){
            $("#Gelassenheit").removeClass("line-through");
        }
        else{
            $("#Gelassenheit").addClass("line-through");
        }
    })

    $('#Gerechtigkeit').on("click",function(){
        if ($('#Gerechtigkeit').is('.line-through')){
            $("#Gerechtigkeit").removeClass("line-through");
        }
        else{
            $("#Gerechtigkeit").addClass("line-through");
        }
    })

    $('#Geselligkeit').on("click",function(){
        if ($('#Geselligkeit').is('.line-through')){
            $("#Geselligkeit").removeClass("line-through");
        }
        else{
            $("#Geselligkeit").addClass("line-through");
        }
    })

    $('#Gleichberechtigung').on("click",function(){
        if ($('#Gleichberechtigung').is('.line-through')){
            $("#Gleichberechtigung").removeClass("line-through");
        }
        else{
            $("#Gleichberechtigung").addClass("line-through");
        }
    })
   
    $('#Großzügigkeit').on("click",function(){
        if ($('#Großzügigkeit').is('.line-through')){
            $("#Großzügigkeit").removeClass("line-through");
        }
        else{
            $("#Großzügigkeit").addClass("line-through");
        }
    })

    $('#Imagination').on("click",function(){
        if ($('#Imagination').is('.line-through')){
            $("#Imagination").removeClass("line-through");
        }
        else{
            $("#Imagination").addClass("line-through");
        }
    })

    $('#Leidenschaft').on("click",function(){
        if ($('#Leidenschaft').is('.line-through')){
            $("#Leidenschaft").removeClass("line-through");
        }
        else{
            $("#Leidenschaft").addClass("line-through");
        }
    })
    
    $('#Loyalität').on("click",function(){
        if ($('#Loyalität').is('.line-through')){
            $("#Loyalität").removeClass("line-through");
        }
        else{
            $("#Loyalität").addClass("line-through");
        }
    })
    
    $('#Mut').on("click",function(){
        if ($('#Mut').is('.line-through')){
            $("#Mut").removeClass("line-through");
        }
        else{
            $("#Mut").addClass("line-through");
        }
    })
    
    $('#Aufrichtigkeit').on("click",function(){
        if ($('#Aufrichtigkeit').is('.line-through')){
            $("#Aufrichtigkeit").removeClass("line-through");
        }
        else{
            $("#Aufrichtigkeit").addClass("line-through");
        }
    })
    
    $('#Nachhaltigkeit').on("click",function(){
        if ($('#Nachhaltigkeit').is('.line-through')){
            $("#Nachhaltigkeit").removeClass("line-through");
        }
        else{
            $("#Nachhaltigkeit").addClass("line-through");
        }
    })
    
    $('#Neugier').on("click",function(){
        if ($('#Neugier').is('.line-through')){
            $("#Neugier").removeClass("line-through");
        }
        else{
            $("#Neugier").addClass("line-through");
        }
    })

    $('#Offenheit').on("click",function(){
        if ($('#Offenheit').is('.line-through')){
            $("#Offenheit").removeClass("line-through");
        }
        else{
            $("#Offenheit").addClass("line-through");
        }
    })

    $('#Sicherheit').on("click",function(){
        if ($('#Sicherheit').is('.line-through')){
            $("#Sicherheit").removeClass("line-through");
        }
        else{
            $("#Sicherheit").addClass("line-through");
        }
    })
    
    $('#Sinnhaftigkeit').on("click",function(){
        if ($('#Sinnhaftigkeit').is('.line-through')){
            $("#Sinnhaftigkeit").removeClass("line-through");
        }
        else{
            $("#Sinnhaftigkeit").addClass("line-through");
        }
    })

    $('#Solidarität').on("click",function(){
        if ($('#Solidarität').is('.line-through')){
            $("#Solidarität").removeClass("line-through");
        }
        else{
            $("#Solidarität").addClass("line-through");
        }
    })

    $('#Sorgfalt').on("click",function(){
        if ($('#Sorgfalt').is('.line-through')){
            $("#Sorgfalt").removeClass("line-through");
        }
        else{
            $("#Sorgfalt").addClass("line-through");
        }
    })
    
    $('#Vergnügen').on("click",function(){
        if ($('#Vergnügen').is('.line-through')){
            $("#Vergnügen").removeClass("line-through");
        }
        else{
            $("#Vergnügen").addClass("line-through");
        }
    })

    $('#Vertrautheit').on("click",function(){
        if ($('#Vertrautheit').is('.line-through')){
            $("#Vertrautheit").removeClass("line-through");
        }
        else{
            $("#Vertrautheit").addClass("line-through");
        }
    })

    $('#Würde').on("click",function(){
        if ($('#Würde').is('.line-through')){
            $("#Würde").removeClass("line-through");
        }
        else{
            $("#Würde").addClass("line-through");
        }
    })
    
    $('#Zuverlässigkeit').on("click",function(){
        if ($('#Zuverlässigkeit').is('.line-through')){
            $("#Zuverlässigkeit").removeClass("line-through");
        }
        else{
            $("#Zuverlässigkeit").addClass("line-through");
        }
    })
    
</script>

</body>
</html>


