{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Ubung 4</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/ubung-4.css">
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        Fische im Aquarium
                    </div>
                    <img src="/static/images/avatars/boar.svg" alt="boar">
                    <div class="user__title">
                        Vasilisa Kochetkova
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 10%">10%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen ubung-4">
                <h1>
                    Übung 4: Teste eure Psychologische Sicherheit!
                </h1>
                <p>
                    Bewege jeden Spieler zu der Aussage, die am ehesten passt! Beziehe deine Einschätzung auf
                    alltägliche Situationen im Team, die sich bei dir eingeprägt haben.
                    <br/>
                    <br/>
                </p>
                <div class="distribution__wrapper"></div>

                <div class="center">
                    <a href="#" class="button" id="button" data-tippy-content="Another Tooltip">
                        Weiterspielen
                    </a>
                </div>
            </main>
        </div>
    </div>
</div>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>


    class Dnd {
        constructor({container, containersTo, data, after}) {
            this.container = document.querySelector(container);
            this.containersTo = containersTo;
            this.data = data;
            this.after = after;
            window.addEventListener('load', () => {
                this.render();

            });
            this.saveDndItem = {};
            this.saveDndItemIndex = 0;
            this.cloned = {};
            this.saveX = 0;
            this.saveY = 0;
        }

        handlers() {
            const $self = this;
            let start = false;
            const usersFrom = document.querySelectorAll('.user-connect--to');


            const body = document.body;


            if (window.innerWidth > 768) {
                usersFrom.forEach((item, i) => {
                    if (item.closest('.active')) {
                        item.addEventListener('mousedown', function (e) {
                            $self.saveDndItem = item;
                            $self.cloned = item.cloneNode(true);
                            body.appendChild($self.cloned);
                            item.ondragstart = () => false;
                            item.classList.remove('active')
                            $self.cloned.style.position = 'fixed';
                            $self.cloned.style.zIndex = 1000;
                            $self.saveX = e.offsetX;
                            $self.saveY = e.offsetY;
                            $self.saveDndItemIndex = i;
                            start = true;
                        });
                    }
                });

                document.onmousemove = event => {
                    if (start) {
                        const distry = event.target.closest('.distry');
                        if (distry) {
                            distry.classList.add('active')
                        } else {
                            document.querySelectorAll('.distry').forEach((item, i) => {
                                item.classList.remove('active')
                            });
                        }

                        $self.cloned.style.position = 'fixed';
                        $self.cloned.style.top = event.clientY - $self.saveY + 'px';
                        $self.cloned.style.left = event.pageX - $self.saveX + 'px';
                    }
                };

                document.addEventListener('mouseup', function (e) {
                    if (start) {
                        const toElemnet = e.target;
                        const toElementId = toElemnet.getAttribute('data-id');
                        $self.saveX = 0;
                        $self.saveY = 0;
                        $self.cloned.remove();
                        start = false;
                        if (toElemnet.getAttribute('data-id')) {
                            const testItem = $self.data[$self.saveDndItemIndex]
                            $self.data[$self.saveDndItemIndex] = {
                                ...testItem,
                                hidden: true
                            };
                            $self.containersTo[toElementId].items.push(testItem);
                            $self.render();
                        } else {
                            $self.saveDndItem.classList.add('active')
                        }
                    }
                });
            }

            if (window.innerWidth <= 768) {
                usersFrom.forEach((item, i) => {
                    if (item.closest('.active')) {
                        item.addEventListener('click', function (e) {
                            item.classList.add('outline');
                            $self.saveDndItem = item;
                            start = true;
                            $self.saveDndItemIndex = i;
                        });
                    }
                });

                document.querySelectorAll('.distry__thumbnails').forEach((item) => {
                    item.addEventListener('click', function (e) {
                        if (start) {
                            const toElementId = this.getAttribute('data-id');
                            $self.saveDndItem.classList.remove('outline')
                            start = false;
                            if (this.getAttribute('data-id')) {
                                const testItem = $self.data[$self.saveDndItemIndex]
                                $self.data[$self.saveDndItemIndex] = {
                                    ...testItem,
                                    hidden: true
                                };
                                $self.containersTo[toElementId].items.push(testItem);
                                $self.render();
                            } else {
                                $self.saveDndItem.classList.add('active')
                            }
                        }
                    });
                })


            }

        }

        renderContainersTo(item, i) {
            const {name, items} = item;

            return `<div class="distribution__item">
                        <div class="distry">
                            <div class="distry__description">
                                ${name}
                            </div>
                            <div class="distry__thumbnails" data-id="${i}">
                            ${items.map(({name, avatar}) => {
                return `<div class="distry__user" data-tippy-content="${name}"><img src="${avatar}" alt=""></div>`
            })}
                            </div>
                        </div>
                    </div>`;
        }

        renderDataItems() {

            return `<div class="distribution__item">
                   <div class="distribution__users">
                            ${this.data.map(({name, avatar, hidden}, i) => {
                const isActive = hidden ? '' : 'active';
                return `<div class="user-connect ${isActive} user-connect--to">
                                <img src="${avatar}" alt=""/>
                                <div class="user-connect__name">
                                    ${name}
                                </div>
                            </div>`
            })}
                        </div>
                </div>`;

        }

        render() {


            const renderHtml = ` <div class="distribution">
                 ${this.containersTo.map((item, i) => {

                if (this.after === i + 1) {
                    return this.renderContainersTo(item, i) + this.renderDataItems();
                }

                return this.renderContainersTo(item, i)
            })}
                </div>`;

            this.container.innerHTML = renderHtml.split(`,`).join('');
            this.handlers();
            // With the above scripts loaded, you can call `tippy()` with a CSS
            // selector and a `content` prop:
            tippy('[data-tippy-content]');
            tippy(document.querySelectorAll('div[data-tippy-content]'));
        }

        getData() {
            return this.containersTo;
        }
    }


    const app = new Dnd({
        container: '.distribution__wrapper',
        containersTo: [
            {
                name: 'Probleme und schwierige Themen kann ich bei dir ansprechen.',
                items: []
            },
            {
                name: 'Du schliesst manchmal Menschen aus dem Team aus, weil sie anders sind.',
                items: []
            },
            {
                name: 'Du arbeitest manchmal im Team auch gegen mich.',
                items: []
            },
            {
                name: 'Meine Talente werden von dir gesehen, geschätzt und ausgeschöpft.',
                items: []
            },
            {
                name: 'Wenn im Team Fehler passieren, verwendest du das gegen die Betroffenen.',
                items: []
            },
            {
                name: 'Es fällt mir schwer, dich um Hilfe zu bitten. ',
                items: []
            },

        ],
        data: [
            {
                name: 'Constantin Constantinopol',
                avatar: '/static/images/avatars/boar.svg'
            },
            {
                name: 'Some test',
                avatar: '/static/images/avatars/boar.svg'
            },
            {
                name: 'Some test123',
                avatar: '/static/images/avatars/boar.svg'
            },
            {
                name: 'Some test222',
                avatar: '/static/images/avatars/boar.svg'
            },
            {
                name: 'Some test333',
                avatar: '/static/images/avatars/boar.svg'
            },
            {
                name: 'Some test444',
                avatar: '/static/images/avatars/boar.svg'
            },
            {
                name: 'Some test1',
                avatar: '/static/images/avatars/boar.svg'
            }
        ],
        after: 2
    });

    document.getElementById('button').addEventListener('click', function (e) {
        e.preventDefault();
        console.log(app.getData())
    });

</script>

</body>
</html>
