{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Ubung 5</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/ubung-5.css">
</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                    </div>
                    <img src="{{user.avatar}}" alt="">
                    <div class="user__title">
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 30%">30%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen ubung-5">
                <h1>
                    Übung 5: Spannungsfelder einschätzen
                </h1>
                <p>
                    Bewege bitte alle Spielfiguren an den Punkt auf der Skala, der aus deiner Sicht am Besten zum
                    Verhalten jedes Spielers in für dich wichtigen Alltagssituationen passt.
                </p>
                <div class="custom-graph-wrapper"></div>

                {% comment %} <form action="#" method="POST" class="form">
                {% csrf_token %}
                    <div class="center">
                        <input id="data" type="hidden" name="data" value=""/>
                        <button type="submit" id="button">
                            Weiterspielen
                        </button>
                    </div>
                </form> {% endcomment %}

                    <div class="center">
                        <input id="data" type="hidden" name="data" value=""/>
                        <input type="hidden" name="ubung1_id" value="{{ubung1.id}}">
                        <input type="hidden" name="ubung3_id" value="{{ubung3.id}}">
                        <button type="submit" id="button">
                            Weiterspielen
                        </button>
                    </div>

            </main>
        </div>
    </div>
</div>
<script src="/static/js/AppGraph.js"></script>
<script src="/static/jquery-3.5.1.min.js"></script>
<script src="/static/axios.min.js"></script>
<script src="/static/vue.js"></script>
<script>

    function data_submit(){
        var data_ = {
            'link': '{{game.link}}',
            'user_id': '{{user.id}}',
            'data': $('#data').val(),
            'ubung1_id': '{{ubung1.id}}',
            'ubung3_id': '{{ubung3.id}}',
        }
        console.log('data', data_);
        axios
            .post(`/api/ubung5_data/`, data_)
            .then(function(response){
                var result = response.data.result;
                if (result === 1){
                    //window.location.href="/team-potential/";
                    window.location.href="/ubung-5/";
                }else{
                    return;
                }
            })
            .catch(function(error){
                console.log(error);
            })
    }

    $('#button').click(function(){
        data_submit();
        console.log('click');
    })

    const {log} = console;

    const app = new AppGraph({
        container: ".custom-graph-wrapper",
        range: [1, 99],
        //labelRange: ['Low', 'High'],
        //labelRange: ['Kraftquelle', 'Energiefresser'],
        labelRange: ['{{ubung1.power}}', '{{ubung3.drainer}}'],

        mobile: 1200,
        data: {{ member_list|safe }},
{% comment %}
        [
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
            },
        ] {% endcomment %}
    });

    document.getElementById('button').addEventListener('click', function (e) {
        //e.preventDefault();
        log(app.getData());
    });

    function refresh(){
        var result = app.getData();
        var st = JSON.stringify(result);
        $('#data').val(st);
        //console.log(st);
    }
    setInterval("refresh()", 100);

</script>
</body>
</html>
