{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Waiting-Room-SQUAD</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/wartezimmer.css">
    <link rel="stylesheet" href="/static/css/app_graph.css">
    <link rel="stylesheet" href="/static/css/team-potential.css">
    <link rel="stylesheet" href="/static/css/assessment.css">
    <link rel="stylesheet" href="/static/css/load.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"> -->
    <script src="/static/jspdf.umd.min.js"></script>
    <script src="/static/dom-to-image.min.js"></script>
    <script src="/static/vue.js"></script>
        <!-- 引入样式 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://cdn.staticfile.org/element-ui/2.15.9/index.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- <script src="/static/html2canvas.min.js"></script> -->

    <!-- vue cdn  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <icon classs="icon" onClick="window.open('https://info.arks.ch/');">
                <span class="icon-logo"></span>
                <span>ARKS</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                        <span class="icon-link" data-clipboard-text="#link_url"></span>
                    </div>
                    <img src="{{avatar}}" alt="boar">
                    <div class="user__title">
                        <!-- Vasilisa Kochetkova  -->
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>EVERYONE HERE?</label>
                    <div class="progress__bar">
                        <div style="width: 70%; border-radius: 10px;">70%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen wartezimmer">
                <div class="wartezimmer__data">
                    <h1>
                        {% trans "Wartezimmer" %}
                    </h1>
                    <div style="background-color: #FFFFFF; border: 1px solid #ccc; border-radius: 10px; padding: 10px;">
                      <p style="background-color: #9FE2BF; border-radius: 10px; padding: 0 10px;"><br>
                        {% trans "Erinnerst du dich an deine Einschätzung der Team-Performance? Hier siehst du euer Ergebnis:" %}
                        <br><br>

                        <div class="custom-graph-info">
                          <div class="custom-graph-info__item small" data-text="{% trans 'Minimal' %}">
                            {{ minimal }}
                          </div>
                          <div class="custom-graph-info__item base" data-text="{% trans 'Durchschnitt' %}">
                            {{ median }}
                          </div>
                          <div class="custom-graph-info__item large" data-text="{% trans 'Maximal' %}">
                            {{ maximal }}
                          </div>
                        </div>
                      </p>

                      <!-- BEGIN: Assessment‑identische Wrapper -->
                      <div class="custom-graph-wrapper"></div>
                      <!-- END: Assessment‑identische Wrapper -->

                    </div>




                <div class="google-slides-container">
                        <iframe style="padding: 0 10px;" src={% trans "https://docs.google.com/presentation/d/1gyEYqnALw4y9yLPUTb1VYQO9IADDD4r-1-yf0sgkvo4/embed?start=true&loop=false&delayms=8000"  %} frameborder="0" width="850" height="400" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        
                        <style>
                        .google-slides-container{
                        position: relative;
                        width: 100%;
                        padding-top: 56.25%;
                        overflow: hidden;
                        background-color: #9FE2BF;
                        border-radius: 10px
                        }
                        .google-slides-container iframe{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #9FE2BF;
                        border-radius: 10px
                        }
                        .controls {
                        position: absolute;
                        top: 10px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: flex;
                        gap: 10px;
                        }
                        .control-button {
                        padding: 10px 20px;
                        background-color: #007BFF;
                        color: white;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        }
                        </style>

                </div>

                <div style="background-color: #FFFFFF; border: 1px solid #ccc; border-radius: 10px; padding: 10px;">

                </div>

                <p>
                <div class="wartezimmer__addition" id="app-1">
                    <div class="user-connect active" v-for='(value, index) in waiting_list_active'>
                        <img :src="value.avatar" alt=""/>
                        <div class="user-connect__name">
                            [[ value.name ]]
                        </div>
                            <div class="user-connect__now">
                                    <span class="now-terms" style="text-transform: uppercase;">
                                      [[ value.item_power ]] / [[ value.item_drainer ]]
                                    </span>
                            </div>
                        </div>


                    <div class="user-connect" v-for='(value, index) in waiting_list_yet'>
                        <img :src="value.avatar" alt=""/>
                        <div class="user-connect__name">
                            [[ value.name ]]
                        </div>
                        <div class="user-connect__now">
                            {% trans "..." %}
                        </div>
                    </div>
                </div>
            </p>
            </main>
            <form action="#" method="POST" class="form">
            {% csrf_token %}
                <div class="center">
                    <button id='main_btn' type="button" onclick="choosePopup()">
                        {% trans "Weiter" %}
                    </button>
                    <p>
                        <br><br>
                    </p>
                    <p style="background-color: #52CEEC; color: #FFFFFF; border-radius: 10px; padding: 0 10px;"><br>
                        {% trans "Die Reise kann weitergehen, sobald alle Mitspieler hier im Warteraum angekommen sind." %}<br><br>
                    </p>
                </div>
                    <p style="text-align: center; font-size: 10px;"><br><br>
                        <a href="https://github.com/joe-the-ark/ark" target="_blank">ARKS is published under a GPLv3</a> license by 
                        <a href="https://www.linkedin.com/in/dr-joe-maier/" target="_blank">Dr. Joe Maier</a>.
                    </p>
            </form>
        </div>
    </div>
</div>





<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script src="/static/js/utils.js"></script>


<script>

    //Button remover
    function buttonRemover() {
      let initiator = "{{host}}";
      let user = "{{player_name}}";
      console.log(initiator, user);
      let btn = document.querySelector('#main_btn')
      if (initiator != user) {
        btn.style.display = 'none'
      }
    }
    buttonRemover();

    // Copy and tooltip
    new ClipboardJS('.icon-link');
    tippy('.icon-link', {
      content: 'Copy gamelink to clipboard',
    });
    tippy('.icon-link', {
      trigger: 'click',
      content: 'Copied',
    });

    // Link creation
    // TODO Code bellow Link must be from backend.
    var temp_link = '{{game.link}}';
    var url_host = window.location.host;
    var temp_link_ = url_host + '/link/' + temp_link + '/';
    document.querySelector('.icon-link').dataset.clipboardText = temp_link_;

    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-1',
        data() {
            return {
                activeIndex: '1',
                message: 'Hello Vue!',
                waiting_list_active: [
                {
                    'id': -1,
                    'name': '',
                    'avatar': '',
                }],
                waiting_list_yet:[{
                    'id': -1,
                    'name': '',
                    'avatar': '',
                }],
            }
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
        },
    })


    function popupOpen(selector) {
      console.log('opened', selector);
      selector.classList.add('open');
    }

    function popupClose(selector, timeout) {
      console.log('closed', selector);
      setTimeout(() => {selector.classList.remove('open')}, timeout);

    }

    function choosePopup() {
      let userList = document.querySelectorAll('.user-connect');
      let readyCount = 0;
      for (let item of userList) {
        if(item.classList.contains('active')) {
          readyCount++;
        }
      }
      if (userList.length < 3) {
        morePlayersNeeded();
      }
      else if (userList.length >= 3 && readyCount < 3) {
        letsWaitMorePlayers();
      }
      else if (userList.length >= 3 && readyCount >=3 && userList.length > readyCount){
        waitOrGo();
        console.log('waitOrGo')
      }
      else if (userList.length == readyCount) {
        start();
      }
    }

    function morePlayersNeeded() {
      let popup = document.querySelector('#popup_less_players');
      popupOpen(popup);
      popupClose(popup, 1500);
    }

    function letsWaitMorePlayers() {
      let popup = document.querySelector('#popup_less_ready_players');
      popupOpen(popup);
      popupClose(popup, 1500);
    }

    function waitOrGo() {
      let popup = document.querySelector('#popup_buttons');
      popupOpen(popup);
      let closeBtn = document.querySelector('.modal_button[type=button]')
      console.log(closeBtn);
      closeBtn.addEventListener('click', () => {popupClose(popup)})
    }

    function start() {
      document.forms[0].submit();
    }

    function sleep (time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    async function get_mem_list(){
        while (1){
            var waiting_post = {"player_id": "{{player_id}}","link":"{{link}}"};
            await sleep(3000).then(() => {
                axios
                    .post(`/api/waiting_room2_active/`,waiting_post)
                    .then(function(response){
                        var result = response.data.result;
                        //console.log('result', result);
                        app.waiting_list_active.splice(0);
                        var uu = 0;
                        while (uu < result.length){
                            app.waiting_list_active.push((result)[uu]);
                            uu += 1;
                        }
                        app.waiting_list_active = result;

                        axios
                            .post(`/api/waiting_room2_yet/`,waiting_post)
                            .then(function(response){
                                var result = response.data.result;
                                //console.log('result', result);
                                app.waiting_list_yet.splice(0);
                                var uu = 0;
                                while (uu < result.length){
                                    app.waiting_list_yet.push((result)[uu]);
                                    uu += 1;
                                }
                                app.waiting_list_yet = result;

                            })
                            .catch(function(error) { // 请求失败处理
                                console.log(error);
                            });

                    })
                    .catch(function(error) { // 请求失败处理
                        console.log(error);
                    });
            })
            
        }
    }

    async function check_game_start(){
        var uu = 0
        while (1){
            if (uu%10 === 9){
                alert("Time-out. Please click, if you are ready to continue.")
            }
            var data_ = {'link': '{{link}}'};
            await sleep(10000).then(() => {
                axios
                    .post(`/api/waiting_room2_game_start/`, data_)
                    .then(function(response){
                        var result = response.data.result;
                            if (result === 1){
                                window.location.href="/psychologischer/";
                            }else{
                                uu += 1
                                console.log(uu)
                            }
                        })
                    .catch(function(error){
                        console.log(error);
                    });
            })
        }
    }  

    get_mem_list()
    check_game_start()







</script>

  <!-- Externe JS‑Bibliotheken (jeweils nur einmal einbinden) -->
  <script src="/static/js/AppGraph.js"></script>
  <script src="/static/axios.min.js"></script>
  <script src="/static/js/AppRange.js"></script>
  <script src="/static/js/AppFeedback.js"></script>

  <!-- Graph & Feedback initialisieren -->
  <script>
    // Haupt‑Graph
    new AppGraph({
      container: ".custom-graph-wrapper",
      data: {{ all_result|safe }},
      safezoneData: (()=>{
        let arr = [];
        for(let item of {{ all_result|safe }}) arr.push(item.statusSide);
        return arr;
      })(),
      range: [1,99],
      labelRange: ['High','Low'],
      statistic: true,
      mobile: 1200
    });

      // Mini‑Graph für User (wie in assessment.html)
      let dataTeam = {{ team_potential_all_result|safe }};
      let safezoneDataTeam = () => {
        let arr = [];
        for (let item of dataTeam) {
          arr.push(item.statusSide);
        }
        return arr;
      };
      new AppGraph({
        container: ".custom-graph-wrapper.user",
        range: [0, 100],
        labelRange: ['High', 'Low'],
        mobile: 1200,
        statistic: true,
        data: dataTeam,
        safezoneData: safezoneDataTeam()
      });
      document.querySelector(".custom-graph.statistic").style['margin'] = '0 70px';

  </script>

<div id='popup_buttons' class="popup">
    <div class="popup_body">
        <div class="popup_content">
            <form class="popup_form" action="#" method="post">
              {% csrf_token %}
              <button class="modal_button" type="submit" id="button" >Continue once all</br> players are GREEN</button>
              <button class="modal_button" type="button" >Wait for </br> More players</button>
            </form>
        </div>
    </div>
</div>
<div id='popup_less_players' class="popup">
    <div class="popup_body">
        <div class="popup_content">
            Invite more players! It takes at least 3 to play this game.
        </div>
    </div>
</div>
<div id='popup_less_ready_players' class="popup">
    <div class="popup_body">
        <div class="popup_content">
            Wait until more players have been arriving here in the waiting room.
        </div>
    </div>
</div>

</body>
</html>
