{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Waiting-Room-SQUAD</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/wartezimmer.css">
    <link rel="stylesheet" href="/static/css/app_graph.css">
    <link rel="stylesheet" href="/static/css/team-potential.css">
    <link rel="stylesheet" href="/static/css/assessment.css">
    <link rel="stylesheet" href="/static/css/load.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"> -->
    <script src="/static/jspdf.umd.min.js"></script>
    <script src="/static/dom-to-image.min.js"></script>
    <script src="/static/vue.js"></script>
        <!-- 引入样式 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://cdn.staticfile.org/element-ui/2.15.9/index.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- <script src="/static/html2canvas.min.js"></script> -->

    <!-- vue cdn  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <icon classs="icon" onClick="window.open('https://info.arks.ch/');">
                <span class="icon-logo"></span>
                <span>ARKS</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                        <span class="icon-link" data-clipboard-text="#link_url"></span>
                    </div>
                    <img src="{{avatar}}" alt="boar">
                    <div class="user__title">
                        <!-- Vasilisa Kochetkova  -->
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>EVERYONE HERE?</label>
                    <div class="progress__bar">
                        <div style="width: 70%; border-radius: 10px;">70%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen wartezimmer">
                <div class="wartezimmer__data">
                    <h1>
                        {% trans "Wartezimmer" %}
                    </h1>
                <div style="background-color: #FFFFFF; border: 1px solid #ccc; border-radius: 10px; padding: 10px;">
                <p style="background-color: #9FE2BF; border-radius: 10px; padding: 0 10px;"><br>
                        {% trans "Erinnerst du dich an deine Einschätzung der Team-Performance? Hier siehst du euer Ergebnis:" %}
                        <br><br>

                <div class="custom-graph-info">
                    <div class="custom-graph-info__item small" data-text="{% trans 'Minimal' %}">
                        {{ minimal }}
                    </div>
                    <div class="custom-graph-info__item base" data-text="{% trans 'Durchschnitt' %}">
                        {{ median }}
                    </div>
                    <div class="custom-graph-info__item large" data-text="{% trans 'Maximal' %}">
                        {{ maximal }}
                    </div>
                </div>
                </p>
                <div style="background-color: #FFFFFF; border: 1px solid #ccc; border-radius: 10px; padding: 10px;">


                <div class="custom-graph-wrapper"></div>

                </div>
            </div>


                <div class="google-slides-container">
                        <iframe style="padding: 0 10px;" src={% trans "https://docs.google.com/presentation/d/1gyEYqnALw4y9yLPUTb1VYQO9IADDD4r-1-yf0sgkvo4/embed?start=true&loop=false&delayms=8000"  %} frameborder="0" width="850" height="400" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        
                        <style>
                        .google-slides-container{
                        position: relative;
                        width: 100%;
                        padding-top: 56.25%;
                        overflow: hidden;
                        background-color: #9FE2BF;
                        border-radius: 10px
                        }
                        .google-slides-container iframe{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #9FE2BF;
                        border-radius: 10px
                        }
                        .controls {
                        position: absolute;
                        top: 10px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: flex;
                        gap: 10px;
                        }
                        .control-button {
                        padding: 10px 20px;
                        background-color: #007BFF;
                        color: white;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        }
                        </style>

                </div>

                <p>
                <div class="wartezimmer__addition" id="app-1">
                    <div class="user-connect active" v-for='(value, index) in waiting_list_active'>
                        <img :src="value.avatar" alt=""/>
                        <div class="user-connect__name">
                            [[ value.name ]]
                        </div>
                        <div class="user-connect__now">
                            {% trans "bereit?" %}
                        </div>
                    </div>

                    <div class="user-connect" v-for='(value, index) in waiting_list_yet'>
                        <img :src="value.avatar" alt=""/>
                        <div class="user-connect__name">
                            [[ value.name ]]
                        </div>
                        <div class="user-connect__now">
                            {% trans "..." %}
                        </div>
                    </div>
                </div>
            </p>
            </main>
            <form action="#" method="POST" class="form">
            {% csrf_token %}
                <div class="center">
                    <button id='main_btn' type="button" onclick="choosePopup()">
                        {% trans "Weiter" %}
                    </button>
                    <p>
                        <br><br>
                    </p>
                    <p style="background-color: #52CEEC; color: #FFFFFF; border-radius: 10px; padding: 0 10px;"><br>
                        {% trans "Die Reise kann weitergehen, sobald alle Mitspieler hier im Warteraum angekommen sind." %}<br><br>
                    </p>
                </div>
                    <p style="text-align: center; font-size: 10px;"><br><br>
                        <a href="https://github.com/joe-the-ark/ark" target="_blank">ARKS is published under a GPLv3</a> license by 
                        <a href="https://www.linkedin.com/in/dr-joe-maier/" target="_blank">Dr. Joe Maier</a>.
                    </p>
            </form>
        </div>
    </div>
</div>





<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script src="/static/js/utils.js"></script>
<script>

    //Button remover
    function buttonRemover() {
      let initiator = "{{host}}";
      let user = "{{player_name}}";
      console.log(initiator, user);
      let btn = document.querySelector('#main_btn')
      if (initiator != user) {
        btn.style.display = 'none'
      }
    }
    buttonRemover();

    // Copy and tooltip
    new ClipboardJS('.icon-link');
    tippy('.icon-link', {
      content: 'Copy gamelink to clipboard',
    });
    tippy('.icon-link', {
      trigger: 'click',
      content: 'Copied',
    });

    // Link creation
    // TODO Code bellow Link must be from backend.
    var temp_link = '{{game.link}}';
    var url_host = window.location.host;
    var temp_link_ = url_host + '/link/' + temp_link + '/';
    document.querySelector('.icon-link').dataset.clipboardText = temp_link_;

    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-1',
        data() {
            return {
                activeIndex: '1',
                message: 'Hello Vue!',
                waiting_list_active: [
                {
                    'id': -1,
                    'name': '',
                    'avatar': '',
                }],
                waiting_list_yet:[{
                    'id': -1,
                    'name': '',
                    'avatar': '',
                }],
            }
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
        },
    })


    function popupOpen(selector) {
      console.log('opened', selector);
      selector.classList.add('open');
    }

    function popupClose(selector, timeout) {
      console.log('closed', selector);
      setTimeout(() => {selector.classList.remove('open')}, timeout);

    }

    function choosePopup() {
      let userList = document.querySelectorAll('.user-connect');
      let readyCount = 0;
      for (let item of userList) {
        if(item.classList.contains('active')) {
          readyCount++;
        }
      }
      if (userList.length < 3) {
        morePlayersNeeded();
      }
      else if (userList.length >= 3 && readyCount < 3) {
        letsWaitMorePlayers();
      }
      else if (userList.length >= 3 && readyCount >=3 && userList.length > readyCount){
        waitOrGo();
        console.log('waitOrGo')
      }
      else if (userList.length == readyCount) {
        start();
      }
    }

    function morePlayersNeeded() {
      let popup = document.querySelector('#popup_less_players');
      popupOpen(popup);
      popupClose(popup, 1500);
    }

    function letsWaitMorePlayers() {
      let popup = document.querySelector('#popup_less_ready_players');
      popupOpen(popup);
      popupClose(popup, 1500);
    }

    function waitOrGo() {
      let popup = document.querySelector('#popup_buttons');
      popupOpen(popup);
      let closeBtn = document.querySelector('.modal_button[type=button]')
      console.log(closeBtn);
      closeBtn.addEventListener('click', () => {popupClose(popup)})
    }

    function start() {
      document.forms[0].submit();
    }

    function sleep (time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    async function get_mem_list(){
        while (1){
            var waiting_post = {"player_id": "{{player_id}}","link":"{{link}}"};
            await sleep(3000).then(() => {
                axios
                    .post(`/api/waiting_room2_active/`,waiting_post)
                    .then(function(response){
                        var result = response.data.result;
                        //console.log('result', result);
                        app.waiting_list_active.splice(0);
                        var uu = 0;
                        while (uu < result.length){
                            app.waiting_list_active.push((result)[uu]);
                            uu += 1;
                        }
                        app.waiting_list_active = result;

                        axios
                            .post(`/api/waiting_room2_yet/`,waiting_post)
                            .then(function(response){
                                var result = response.data.result;
                                //console.log('result', result);
                                app.waiting_list_yet.splice(0);
                                var uu = 0;
                                while (uu < result.length){
                                    app.waiting_list_yet.push((result)[uu]);
                                    uu += 1;
                                }
                                app.waiting_list_yet = result;

                            })
                            .catch(function(error) { // 请求失败处理
                                console.log(error);
                            });

                    })
                    .catch(function(error) { // 请求失败处理
                        console.log(error);
                    });
            })
            
        }
    }

    async function check_game_start(){
        var uu = 0
        while (1){
            if (uu%10 === 9){
                alert("Time-out. Please click, if you are ready to continue.")
            }
            var data_ = {'link': '{{link}}'};
            await sleep(10000).then(() => {
                axios
                    .post(`/api/waiting_room2_game_start/`, data_)
                    .then(function(response){
                        var result = response.data.result;
                            if (result === 1){
                                window.location.href="/psychologischer/";
                            }else{
                                uu += 1
                                console.log(uu)
                            }
                        })
                    .catch(function(error){
                        console.log(error);
                    });
            })
        }
    }  

    get_mem_list()
    check_game_start()







</script>

<script src="/static/js/AppGraph.js"></script>
<script src="/static/axios.min.js"></script>
<script>

    var app1 = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-1',
        data(){
            return{
                loading: false,
        circles: {{ circles|safe }},
        players: {{ players|safe }},
        current: 16,
            width: 800,
            height: 800
            } 
        },
        created(){
            var loading_ = '{{ loading }}';
            console.log('loading', loading_)
            if (loading_ === '0'){
                this.loading = false;
            }else{
                this.loading = true;
            }
        },
    mounted() {
        this.redraw();
    },
        methods:{
            waiting_room(){
                window.location.href='/waiting-room2/'
            },
        getValue1() {
        let { players, circles } = this.circles;
        for (const key in circles) {
            return key;
        }
        },
        getValue2() {
            let { circles } = this.circles;
            let maxKey = -1;
            for (const key in circles) {
                if (parseInt(key) > maxKey) {
                    maxKey = parseInt(key);
                }
            }
            return maxKey;
        },
        getValue3() {
            let { circles, players } = this.circles;
            for (const key of Object.keys(circles).map(e=>parseInt(e)).reverse()) {
                if (Object.keys(circles[key].circle_count).length <= (players.length-1)) {
                    return key;
                }
            }
        },
        getValue4() {
            let { circles, players } = this.circles;
            let maxCircles = -1;
            let result = -1;
            for (const key in circles) {
                let s = 0;
                for(const p in circles[key].circle_count) {
                    s += circles[key].circle_count[p];
                }
                if (s > maxCircles) {
                    maxCircles = s;
                    result = key;
                }
            }
            return result;
        },
        getCircles() {
            const { players } = this.circles;
            if (!this.circles.circles[this.current]) return [];
            const { circles, circle_count } = this.circles.circles[this.current];
                if (!circles) return [];
            return circles.map(e => e.map(u => players[u]).join(' '));
        },
        redraw() {
            const canvas = this.$refs.canvas;
            const ctx = canvas.getContext('2d');

            const { width, height } = this;
            const players = this.circles.players;
            const avatars = this.players;
            const { circles, circle_count } = this.circles.circles[this.current] || { circles: [], circle_count: {}} ;

            ctx.clearStyle = 'white';
            ctx.clearRect(0, 0, width, height);

            const font = ctx.font = '18px STheiti, SimHei';
            ctx.textAlign = 'center';
            ctx.textBaseline = ' middle';

            ctx.strokeStyle = 'blue';

            const colors = ['red', 'orange', 'green', 'blue', 'purple', 'cyan', 'black'];

            const n = players.length;

            const [centerX, centerY] = [width/2, height/2];
            const r0 = Math.min(width, height);
            const dR = 16;
            const [r1, r2] = [r0*0.4, r0*0.4+dR];
            const theta = Math.PI * 2 / n;

        let s = 0;
            const total_circle_count = [0, ...Object.values(circle_count)].reduce((s, e) => s+e);
        ctx.font = '32px Arial';
        ctx.fillText('Safe Circles', centerX, centerY-32);
        ctx.font = '60px Arial';
        ctx.fillText(total_circle_count, centerX, centerY+32);
        ctx.font = font;

            const x = players.map((e, i) => centerX + r2*Math.cos(theta*i));
            const y = players.map((e, i) => centerY + r2*Math.sin(theta*i));

            function drawPerson(i) {
                const x = r1*Math.cos(theta*i);
                const y = r1*Math.sin(theta*i);

                const img = new Image();
                img.src = avatars[players[i]];

                const xx = centerX+x;
                const yy = centerY+y;

                img.onload = () => {
                ctx.drawImage(img, xx-32, yy-32, 64, 64);

                    ctx.fillText(players[i], xx, yy+48, 100);

                    const xxx = xx + 24;
                    const yyy = yy - 24;

                    ctx.fillStyle = '#9FE2BF';
                    ctx.beginPath();
                    ctx.arc(xxx, yyy, 20, 0, Math.PI*2, true);
                    ctx.fill();

                    ctx.font = 'bold 32px STheiti, SimHei';
                    ctx.fillStyle = 'black';

                    ctx.fillText(`${circle_count[i] || 0}`, xxx, yyy+12);

                    ctx.font = font;
                    ctx.fillStyle = 'black';
                }
            }

            for (let i=0; i<n; ++i) {
                drawPerson(i);
            }

            circles.forEach((circle, i) => {
                const points = circle.map(e => e);
                
                let [x0, y0] = [0, 0];
                for (let i=0; i<points.length; ++i) {
                    x0 += x[points[i]] / points.length;
                    y0 += y[points[i]] / points.length;
                }

                const calc = (x1, y1, x2, y2) => [Math.sqrt((x1-x2)*(x1-x2)+(y1-y2)*(y1-y2)), Math.atan2(y2-y1, x2-x1)];
                function moveP(x0, y0, x, y) {
                    let [d, theta] = calc(x0, y0, x, y);

                    d += dR;
                    return [x0+d*Math.cos(theta), y0+d*Math.sin(theta)];
                }
 
                const oldStyle = ctx.strokeStyle;
                ctx.strokeStyle = colors[i % colors.length];
 
                ctx.beginPath();
                for (let i=0; i<points.length; ++i) {

                    function getTheta(i) {
                        const thisI = points[i];
                        const prevI = i > 0 ? points[i-1] : points[points.length-1];
                        const nextI = (i < points.length-1) ? points[i+1] : points[0];

                        const [thisX, thisY] = moveP(x0, y0, x[thisI], y[thisI]);
                        const [prevX, prevY] = moveP(x0, y0, x[prevI], y[prevI]);
                        const [nextX, nextY] = moveP(x0, y0, x[nextI], y[nextI]);

                        const theta1 = Math.atan2(nextY-thisY, nextX-thisX);
                        const theta2 = Math.atan2(prevY-thisY, prevX-thisX);

                        let theta = (theta1+theta2)/2;
                        if (theta < theta1) theta += Math.PI;

                        return [ thisX, thisY, nextX, nextY, theta, calc(x0, y0, thisX, thisY)[0]];
                    }

                    const r = 120;
                    let [thisX, thisY, nextX, nextY, theta, r1] = getTheta(i);
                    theta -= Math.PI/2;
                    const c1X = thisX + r * Math.cos(theta);
                    const c1Y = thisY + r * Math.sin(theta);

                    let [nX, nY, nnX, nnY, theta2, r2] = getTheta(i < points.length-1 ? i + 1 : 0);
                    theta2 += Math.PI/2;
                    const c2X = nX + r * Math.cos(theta2);
                    const c2Y = nY + r * Math.sin(theta2);

                    ctx.moveTo(thisX, thisY);
                //ctx.lineTo(nextX, nextY);
                    ctx.bezierCurveTo(c1X, c1Y, c2X, c2Y, nextX, nextY);
                }

                ctx.stroke();
                ctx.strokeStyle = oldStyle;
            })  
        }
    },
    watch: {
        current: function(oldValue, newValue) {
            this.redraw();
        }
    }
    })

    let data = {{ all_result|safe }};
    let safezoneData = () => {
        let arr = [];
        for(let item of data) {
            arr.push(item.statusSide);
        }
        return arr
    }

    const {log} = console;

    const app = new AppGraph({
        container: ".custom-graph-wrapper",
        range: [1, 99],
        labelRange: ['Low', 'High'],
        statistic: true,
        mobile: 1200,
        data: data,
        safezoneData: safezoneData(),
        {% comment %} [
            {
               statusSide: 10
            },
            {
               statusSide: 20
            },
            {
               statusSide: 45
            },
            {
               statusSide: 49
            },
            {
                name: 'Vasilisa Kochetkova',
                avatar: '/static/images/avatars/boar.svg',
               statusSide: 49
            },
            {
               statusSide: 49
            },
            {
               statusSide: 49
            },
            {
               statusSide: 49
            },
            {
               statusSide: 60
            },
            {
               statusSide: 70
            },
            {
               statusSide: 99
            },
        ] {% endcomment %}
    });
    console.log({{ circles|safe }});

    console.log({{ players|safe }});
    console.log({{ all_result|safe }});
    {% comment %} var css_change = function(t,s){
        s = document.createElement('style');
        s.innerText = t;
        document.body.appendChild(s);
    };

    var median = {{ median }};
    var low = median - 16;
    var high = median + 16;
    if (low < 0){
        low = 0;
    }
    if (high > 100){
        high = 100;
    }
    var blue_range = high - low;
    console.log('median',median,low,high);
    css_change(`.statistic .custom-graph__items:before{left:${low}%;width:min(${blue_range}%);}`); {% endcomment %}


    //document.getElementById('button').addEventListener('click', function (e) {
    //    e.preventDefault();
    //    log(app.getData())
    //});

</script>


</script>


<div id='popup_buttons' class="popup">
    <div class="popup_body">
        <div class="popup_content">
            <form class="popup_form" action="#" method="post">
              {% csrf_token %}
              <button class="modal_button" type="submit" id="button" >Continue once all</br> players are GREEN</button>
              <button class="modal_button" type="button" >Wait for </br> More players</button>
            </form>
        </div>
    </div>
</div>
<div id='popup_less_players' class="popup">
    <div class="popup_body">
        <div class="popup_content">
            Invite more players! It takes at least 3 to play this game.
        </div>
    </div>
</div>
<div id='popup_less_ready_players' class="popup">
    <div class="popup_body">
        <div class="popup_content">
            Wait until more players have been arriving here in the waiting room.
        </div>
    </div>
</div>


</body>
</html>
