{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Wartezimmer</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/wartezimmer.css">

    <!-- vue cdn  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        {{game.name}}
                        <span class="icon-link" data-clipboard-text="#link_url"></span>
                    </div>
                    <img src="{{avatar}}" alt="boar">
                    <div class="user__title">
                        <!-- Vasilisa Kochetkova  -->
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 20%">20%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen wartezimmer">
                <div class="wartezimmer__data">
                    <h1>
                        Wartezimmer
                    </h1>
                    <p>
                        Was ermöglicht ein erfolgreiches Zusammenspiel im Team? Die kurze Antwort: Psychologische
                        Sicherheit! Schau dir für eine Einführung in Psychologische Sicherheit den Clip von Charles
                        Duhigg an.
                        <br/>
                        <br/>
                        Lade dein Team ein, um spielerisch herauszufinden, wie es um eure Psychologische Sicherheit
                        steht. Starte richtig im Spiel durch, sobald alle Mitspieler hier im Warteraum sichtbar sind.
                        Nur wer jetzt mit an Bord ist, kann am Spiel teilnehmen!
                    </p>
                </div>
                <div class="wartezimmer__thumbnail">
                    <span class="icon-player"></span>
                    <iframe src="https://player.vimeo.com/video/459637793" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/459637793">Charles Duhigg Asks What Makes a Great Team</a> from <a href="https://vimeo.com/user123496204">Joachim Maier</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                </div>
                <div class="wartezimmer__addition" id="app-1">
                    <div class="user-connect active" v-for='(value, index) in waiting_list_active'>
                        <img :src="value.avatar" alt=""/>
                        <div class="user-connect__name">
                            [[ value.name ]]
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>

                    <div class="user-connect" v-for='(value, index) in waiting_list_yet'>
                        <img :src="value.avatar" alt=""/>
                        <div class="user-connect__name">
                            [[ value.name ]]
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    {% comment %} <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect active">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>  {% endcomment %}
                </div>
            </main>
            <form action="#" method="POST" class="form">
            {% csrf_token %}
                <div class="center">
                    <button type="submit" id="button">
                        Weiterspielen
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script>
    // Copy and tooltip
    new ClipboardJS('.icon-link');
    tippy('.icon-link', {
      content: 'Copy to clipboard',
    });
    tippy('.icon-link', {
      trigger: 'click',
      content: 'Copied',
    });

    // Link creation
    // TODO Code bellow Link must be from backend.
    var a = Date.now();
    var temp_link = btoa(a);
    var url_host = window.location.host;
    var temp_link_ = url_host + '/link/' + temp_link + '/';
    document.querySelector('.icon-link').dataset.clipboardText = temp_link_;

    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-1',
        data() {
            return {
                activeIndex: '1',
                message: 'Hello Vue!',
                waiting_list_active: [
                {
                    'id': -1,
                    'name': '',
                    'avatar': '',
                }],
                waiting_list_yet:[{
                    'id': -1,
                    'name': '',
                    'avatar': '',
                }],
            }
        },
        mounted(){
            var waiting_post = {"player_id": "{{player_id}}","link":"{{link}}"};
            axios
                .post(`/api/waiting_room_active/`,waiting_post)
                .then(function(response){
                    var result = response.data.result;
                    //console.log('result', result);
                    app.waiting_list_active.splice(0);
                    var uu = 0;
                    while (uu < result.length){
                        app.waiting_list_active.push((result)[uu]);
                        uu += 1;
                    }
                    this.waiting_list_active = result;
                })
                .catch(function(error) { // 请求失败处理
                    console.log(error);
                });
            axios
                .post(`/api/waiting_room_yet/`,waiting_post)
                .then(function(response){
                    var result = response.data.result;
                    //console.log('result', result);
                    app.waiting_list_yet.splice(0);
                    var uu = 0;
                    while (uu < result.length){
                        app.waiting_list_yet.push((result)[uu]);
                        uu += 1;
                    }
                    this.waiting_list_yet = result;
                })
                .catch(function(error) { // 请求失败处理
                    console.log(error);
                });

            setInterval(function (){
                var waiting_post = {"player_id": "{{player_id}}","link":"{{link}}"};
                axios
                    .post(`/api/waiting_room_active/`,waiting_post)
                    .then(function(response){
                        var result = response.data.result;
                        //console.log('result', result);
                        app.waiting_list_active.splice(0);
                        var uu = 0;
                        while (uu < result.length){
                            app.waiting_list_active.push((result)[uu]);
                            uu += 1;
                        }
                        this.waiting_list_active = result;
                    })
                    .catch(function(error) { // 请求失败处理
                        console.log(error);
                    });
                axios
                    .post(`/api/waiting_room_yet/`,waiting_post)
                    .then(function(response){
                        var result = response.data.result;
                        //console.log('result', result);
                        app.waiting_list_yet.splice(0);
                        var uu = 0;
                        while (uu < result.length){
                            app.waiting_list_yet.push((result)[uu]);
                            uu += 1;
                        }
                        this.waiting_list_yet = result;
                    })
                    .catch(function(error) { // 请求失败处理
                        console.log(error);
                    });
            },6000);

        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
        },
    })

</script>

</body>
</html>
