{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#51ceec"/>
    <meta name="description" content="ARK"/>
    <title>Wartezimmer</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/wartezimmer.css">

    <!-- vue cdn  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
<div class="app">
    <div class="app__head">
        <header class="header-main container">
            <div class="header-main__title">
                <span class="icon-logo"></span>
                <span>ARK</span>
            </div>
            <div class="header-main__user">
                <div class="user">
                    <div class="user__subtitle">
                        Fische im Aquarium
                    </div>
                    <img src="{{avatar}}" alt="boar">
                    <div class="user__title">
                        <!-- Vasilisa Kochetkova  -->
                        {{player_name}}
                    </div>
                </div>
            </div>
            <div class="header-main__progress">
                <div class="progress">
                    <label>Mission 1</label>
                    <div class="progress__bar">
                        <div style="width: 10%">10%</div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="app__body">
        <div class="container">
            <main class="screen wartezimmer">
                <div class="wartezimmer__data">
                    <h1>
                        Wartezimmer
                    </h1>
                    <p>
                        Was ermöglicht ein erfolgreiches Zusammenspiel im Team? Die kurze Antwort: Psychologische
                        Sicherheit! Schau dir für eine Einführung in Psychologische Sicherheit den Clip von Charles
                        Duhigg an.
                        <br/>
                        <br/>
                        Lade dein Team ein, um spielerisch herauszufinden, wie es um eure Psychologische Sicherheit
                        steht. Starte richtig im Spiel durch, sobald alle Mitspieler hier im Warteraum sichtbar sind.
                        Nur wer jetzt mit an Bord ist, kann am Spiel teilnehmen!
                    </p>
                </div>
                <div class="wartezimmer__thumbnail">
                    <span class="icon-player"></span>
                    <iframe width="699" height="400" src="https://www.youtube.com/embed/4CC2yDX_yBc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="wartezimmer__addition" id="app-1">
                    <div class="user-connect active" v-for='(value, index) in waiting_list'>
                        <img :src="value.avatar" alt=""/>
                        <div class="user-connect__name">
                            [[ value.name ]]
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>

                    {% comment %} <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect active">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div>
                    <div class="user-connect">
                        <img src="/static/images/avatars/penguin-1.svg" alt=""/>
                        <div class="user-connect__name">
                            Constantin
                            Constantinopol
                        </div>
                        <div class="user-connect__now">
                            bereit
                        </div>
                    </div> {% endcomment %}
                </div>
            </main>
            <div class="center">
                <a href="#" class="button">
                    Weiterspielen
                </a>
            </div>
        </div>
    </div>
</div>


<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-1',
        data() {
            return {
                activeIndex: '1',
                message: 'Hello Vue!',
                waiting_list: [
                {
                    'id': -1,
                    'name': '',
                    'avatar': '',
                }],
            }
        },
        mounted(){
            var waiting_post = {"player_id": "{{player_id}}","link":"{{link}}"};
            axios
                .post(`/api/waiting_room/`,waiting_post)
                .then(function(response){
                    var result = response.data.result;
                    //console.log('result', result);
                    app.waiting_list.splice(0);
                    var uu = 0;
                    while (uu < result.length){
                        app.waiting_list.push((result)[uu]);
                        uu += 1;
                    }
                    this.waiting_list = result;
                })
                .catch(function(error) { // 请求失败处理
                    console.log(error);
                }); 
            
            setInterval(function (){
                var waiting_post = {"player_id": "{{player_id}}","link":"{{link}}"};
                axios
                    .post(`/api/waiting_room/`,waiting_post)
                    .then(function(response){
                        var result = response.data.result;
                        //console.log('result', result);
                        app.waiting_list.splice(0);
                        var uu = 0;
                        while (uu < result.length){
                            app.waiting_list.push((result)[uu]);
                            uu += 1;
                        }
                        this.waiting_list = result;
                    })
                    .catch(function(error) { // 请求失败处理
                        console.log(error);
                    }); 
            },6000);

        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
        },
    })

</script>

</body>
</html>
