.terms_str{
  font-size: var(--ls-font-large);
  margin-bottom: 25px;
  display: block;
  color: var(--ls-alfa-color);
  text-align: left;
}
.terms {
  text-decoration: underline;
}
.slider {
  padding: 10px 20px;
  border: 1px solid var(--ls-between-color);
  box-sizing: border-box;
}
.slider label {
  color: var(--ls-alfa-color);
  font-size: var(--ls-font-large);
  line-height: 29px;
  text-align: left;
  display: block;
}
.slider img {
  max-height: 100px;
  border: 5px solid transparent;
  border-radius: 50%;
  padding: 5px;
}
.slider .swiper-container {
  padding: 0 30px;
  box-sizing: border-box;
  text-align: center;
  margin: 10px 0 4px;
}
.slider .swiper-slide-active img {
  border-color: var(--ls-accent-2-color);
}
.slider .swiper-button-prev:after,
.slider .swiper-button-next:after {
  font-size: 19px;
  font-weight: bold;
}
.slider .swiper-button-prev {
  display: none;
  left: -8px;
}
.slider .swiper-button-next {
  display: none;
  right: -8px;
}
.form__field {
  position: relative;
}
.form__field:not(:last-child) {
  margin-bottom: 20px;
}
.form input:focus + .form__placeholder,
.form input:valid + .form__placeholder {
  font-size: var(--ls-font-less);
  line-height: 17px;
  top: -7px;
}
.form input[name="link"] {
  padding-right: 55px;
}
.form span[class*="icon"] {
  font-size: 20px;
  position: absolute;
  right: 20px;
  bottom: 18px;
}
.form p {
  text-align: left;
}
@media screen and (min-width: 769px) {
  .form p + input {
    margin-top: 20px;
  }
}
.form__placeholder {
  color: var(--ls-between-color);
  font-size: var(--ls-font-large);
  line-height: 42px;
  position: absolute;
  top: 7px;
  left: 20px;
  pointer-events: none;
  transition: var(--ls-transition);
  background-color: var(--ls-thin-color);
  padding: 0 2px;
}
.auth-link {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}
@media screen and (max-width: 1201px) and (min-width: 1050px) {
  .form span[class*="icon"] {
    bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .auth-link h1 {
    margin-bottom: 30px;
  }
}
.auth-link h1 + p {
  margin: 20px 0 50px;
}
@media screen and (max-width: 768px) {
  .auth-link p {
    display: none;
  }
}
.auth-link .form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
  grid-column-gap: 60px;
}
@media screen and (min-width: 769px) {
  .auth-link .form {
    margin-top: 51px;
  }
}
@media screen and (max-width: 1640px) {
  .auth-link .form {
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  }
}
@media screen and (max-width: 1640px) and (max-height: 763px) and (min-width: 1200px) {
  .auth-link .form {
    grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
  }
}
@media screen and (max-width: 540px) {
  .auth-link .form {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
@media screen and (min-width: 1201px) {
  .auth-link .form__field:nth-child(2) {
    grid-row: span 2;
  }
  .auth-link .form__field:last-child {
    grid-column: span 2;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .auth-link .form__field:nth-last-child(3) {
    display: none;
  }
}
.auth-link .form__field p + button {
  display: none;
}
@media screen and (min-width: 540px) and (max-width: 768px) {
  .auth-link .form__field p + button {
    color: var(--ls-alfa-color);
    font-size: var(--ls-font-large);
    line-height: 1;
    display: block;
    position: absolute;
    background-color: #dcf5fb;
    box-shadow: none;
    top: 1px;
    bottom: 1px;
    left: 1px;
    border-right: 1px solid var(--ls-between-color);
    padding: 0 20px;
  }
  .auth-link .form__field p + button + input {
    padding-left: 243px;
  }
}
#nutzername:focus {
  border: 3px solid red;
}