.container-table {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
	font-size: 20px;
	padding-bottom: 100px;

}

.heat {
	font-size: 36px;
	text-align: center;
	padding: 20px 20px 20px 20px;
}

.player {
	writing-mode: vertical-lr;
	align-self: end;
	justify-self: center;
}

.average_all_players {
	text-align: right;
	padding-right: 20px;
	align-self: center;
}

.ava {

	max-width: 60px;

}

.property {
	display: grid;
	justify-content: space-between;
	padding-left: 30px;
}

.player_average {
	justify-self: center;
}
