.container {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.heatmap {
  display: grid;

/*  grid-template-columns: [lft] minmax(50px, 100px) repeat(3, minmax(50px, 100px)) [prop] 150px [rght] minmax(50px, 100px) ;
*/
  font-size: 20px;
  color: black;
  padding: 0 calc(50% - (1640px/2 + (15px)));
  margin: 50px 0 30px 15px;
  gap: 2px;
}
.main-column {
  display: grid;
  grid-template-rows: 50px auto 50px 50px 50px 50px 50px 50px;
  grid-gap: 3px;
}

.main-column.left {
  grid-column: lft;

}
.main-column.prop {
  grid-column: prop;
}
.main-column.right {
  grid-column: rght;
}
.heat_player {
  display:grid;
  justify-items: center;
  padding: 10px;
  background-color: #e6e6e6;
  align-items: end;
}
.heat_player>.name {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  max-height: 150px;
}
.heat_player>img {
  padding-top: 10px;
  max-width: 70%;
  max-height: none;
}
.heat_value {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
}
.average_by_players {
  background-color: #e6e6e6;
}

.average-by-player {
  background-color: #e6e6e6;
}

.over_player{
  background-color: #e6e6e6;
}

.property_value {
  background-color: #e6e6e6;
}
.property{
  padding-left: 15px;
  background-color: #e6e6e6;
}
.property>p {
  font-size: 20px;
  line-height: normal;
}

.property .property_one:after {
  content: '';
  display: block;

  width: 50px;
  height: 1px;
  background-color: black;
  padding-left: 20px;
  margin-left: 10px;
}

.one {
  background-color: #E29635;
  color: black;
}
.two {
  background-color: #3b4252;
  color: white;
}
.three {
  background-color: #eceff4;
  color: black;
}
.four {
  background-color: #fa5252;
  color: white;
}
