.container {
  max-width: 1000px;
}

.heatmap {
  display: grid;

/*  grid-template-columns: [lft] minmax(50px, 100px) repeat(3, minmax(50px, 100px)) [prop] 150px [rght] minmax(50px, 100px) ;
*/
  font-size: 20px;
  color: black;
  padding: 0 calc(50% - (1640px/2 + (15px)));
  margin: 50px 0 30px 15px;
  gap: 2px;
}
.main-column {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-gap: 3px;
}

.teamtension {
  background-color: #51ceec;
  color: white;
}

.corner {
  background-color: #9FE2BF;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
}

.main-column.left {
  grid-column: lft;

}
.main-column.prop {
  grid-column: prop;
}
.main-column.right {
  grid-column: rght;
}

.heat_player {
  display:grid;
  justify-items: center;
  background-color: #e6e6e6;
  color: black;
  padding: 0px;
  align-items: end;
}
.heat_player>.name {
  writing-mode: horizontal-tb;
  transform: rotate(0deg);
  max-height: 150px;
}
.heat_player>img {
  padding-top: 10px;
  max-width: 70%;
  max-height: none;
}
.heat_value {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
}

.heat_value.property_value {
  background-color: #9FE2BF;
  color: white;
}

.heat_value.over_player {
  background-color: #e6e6e6;
  color: white;
}

.average_by_players {
  background-color: #e6e6e6;
}

.average-by-player {
  background-color: #e0bfbf;
  color: white;

}

.over_player{
  background-color: #e6e6e6;
}

.property_value {
  background-color: #e6e6e6;
}
.property{
  padding-left: 15px;
  background-color: none;
}
.property>p {
  font-size: 20px;
  color: black;
  line-height: normal;
}


.property .property_two {
  color: #e0bfbf;
}


.property .property_one:after {
  content: '';
  display: block;

  width: 50px;
  height: 1px;
  background-color: black;
  padding-left: 20px;
  margin-left: 10px;
}

.one {
  background-color: #FAE03C;
  color: white;
}
.two {
  background-color: #3b4252;
  color: white;
}
.three {
  background-color: #9FE2BF;
  color: black;
}
.four {
  background-color: #fa5252;
  color: white;
}


/* Beef Table */

p.font-size-small {
	font-size: var(--ls-font-small);
}

.dashboard {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 80px;
}

.beef-table td, 
.beef-table th {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 3px solid white;
}

table.beef-table td,
table.beef-table th {
	color: var(--ls-alfa-color);
    font-size: var(--ls-font-base);
    line-height: 29px;
}
			
table.beef-table {
	background: rgb(212,255,191);
	background: linear-gradient(180deg, rgba(81,206,236, 0.8) 0%, rgba(81,206,236, 0.8) 54%, rgba(81,206,236, 0.8) 100%);

	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

table.beef-table th {
	background: #e6e6e6;
}

table.beef-table td:nth-child(1) {
	width: 40%;
}
table.beef-table th:nth-child(2),
table.beef-table td:nth-child(2) {
	width: 40%;
	text-align: center;
}

table.beef-table th {
	font-weight: bold;
}

table.beef-table th > span:after {
	position: absolute;
	content: '\2304';
	display: none;
	font-size: 28px;
	margin-left: 0.5em;
} 

table.beef-table a {
	color: white;
}

table.beef-table a:hover {
	text-decoration: underline;
}

table.beef-table td.active a { 
    font-weight: bold;
    text-decoration: underline;
}

table.beef-table th.active > span:after {
	display: inline-block;
}


.beef-table-tools {
	float: right;
	font-size: 0.5em;
}

.beef-table-tools.hide {
	visibility: hidden;
}

.beef-table-tools p {
	font-size: var(--ls-font-less);
}

.beef-table-tools a {
	color: var(--ls-alfa-color);
}

.beef-table-tools a:hover {
	text-decoration: underline;
}

