.team-average {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 386px;
  max-height: 228px;
  border: 1px solid var(--ls-between-color);
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .team-average {
    max-width: 100%;
  }
}
.team-average__wrapper {
  position: relative;
  max-width: 261px;
  border-right: 1px solid var(--ls-alfa-color);
  border-left: 1px solid var(--ls-alfa-color);
  height: 19px;
  margin: 130px auto 50px;
  width: 100%;
}
.team-average__wrapper:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: 100%;
  background: linear-gradient(89.69deg, #3dff39 50%, #e1f131 50%, #f53131 80%);
}
.team-average__range {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.team-average__circle {
  color: var(--ls-alfa-color);
  font-size: var(--ls-h-font-small);
  line-height: 72px;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid #3781ee;
  position: absolute;
  bottom: calc(100% + 18px);
  left: 100%;
  transform: translateX(-50%);
}
.team-average__circle:before {
  content: " ";
  position: absolute;
  top: calc(100% + 4px);
  height: 26px;
  border-right: 1px solid var(--ls-alfa-color);
  left: 50%;
}
.team-average__down,
.team-average__up {
  color: var(--ls-alfa-color);
  font-size: var(--ls-font-small);
  line-height: 1;
  position: absolute;
  top: calc(100% + 4px);
}
.team-average__down {
  left: -6px;
}
.team-average__up {
  right: -6px;
}
.distry {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: min(560px, 100%);
  margin: 0 auto;
  border: 1px solid var(--ls-between-color);
}
.distry.active {
  border-color: #3781EE;
}
.distry__description {
  color: var(--ls-alfa-color);
  font-size: var(--ls-font-large);
  line-height: 29px;
  border-right: 1px solid var(--ls-between-color);
  padding: 10px 18px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: calc(50% + 70px);
  min-height: 152px;
  max-width: 307px;
}
.distry__thumbnails {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 20px 10px;
  margin: 0 -5px;
  width: calc(50% - 70px);
}
.distry__user {
  width: 50px;
  height: 50px;
  background-color: var(--ls-between-color);
  display: inline-block;
  margin: 0 5px 10px;
  border-radius: 50%;
}
.distry__user:nth-last-child(7):first-child,
.distry__user:nth-last-child(7):first-child ~ div {
  width: 30px;
  height: 30px;
}
.distry__user:nth-last-child(8):first-child,
.distry__user:nth-last-child(8):first-child ~ div {
  width: 30px;
  height: 30px;
}
.distry__user:nth-last-child(9):first-child,
.distry__user:nth-last-child(9):first-child ~ div {
  width: 30px;
  height: 30px;
}
.distry__user:nth-last-child(10):first-child,
.distry__user:nth-last-child(10):first-child ~ div {
  width: 30px;
  height: 30px;
}
.distry__user:nth-last-child(11):first-child,
.distry__user:nth-last-child(11):first-child ~ div {
  width: 30px;
  height: 30px;
}
.distry__user:nth-last-child(12):first-child,
.distry__user:nth-last-child(12):first-child ~ div {
  width: 30px;
  height: 30px;
}
.distry__user:nth-last-child(13):first-child,
.distry__user:nth-last-child(13):first-child ~ div {
  width: 30px;
  height: 30px;
}
.distry__user:nth-last-child(14):first-child,
.distry__user:nth-last-child(14):first-child ~ div {
  width: 30px;
  height: 30px;
}
.distry__user:nth-last-child(15):first-child,
.distry__user:nth-last-child(15):first-child ~ div {
  width: 30px;
  height: 30px;
}
.psychologischer {
  background: red;
}
.psychologischer p {
  max-width: 908px;
  margin: 42px 0 20px;
}
.psychologischer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
  margin: 30px 0 40px;
}
@media (max-height: 763px) and (min-width: 1200px) {
  .psychologischer__container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
.psychologischer__container .team-average {
  grid-row: span 3;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .psychologischer__container .distry {
    max-width: 100%;
    order: 1;
  }
}
