.team-potential p {
  max-width: 908px;
  margin: var(--ls-paragraph-offset);
}
@media screen and (min-width: 769px) {
  .team-potential p {
    float: left;
  }
}
@media screen and (min-width: 769px) {
  .team-potential .custom-graph-info {
    float: right;
  }
}
@media screen and (max-width: 768px) {
  .team-potential .custom-graph-info {
    justify-content: center;
  }
}
.team-potential .custom-graph {
  clear: both;
}
@media (max-height: 763px) and (min-width: 1200px) {
  .team-potential .custom-graph-info {
    margin-top: -40px;
  }
  .team-potential .custom-graph {
    padding-top: 20px;
    padding-bottom: 108px;
  }
  .team-potential .custom-graph__status {
    top: 20px;
    height: calc(100% - 128px);
  }
}
