.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #51CEEC, #ff0000, #51CEEC);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #51CEEC
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.user span[class*="icon"] {
  font-size: 20px;
  padding-left: 20px;
  position: relative;
}
.user-connect {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  transition: var(--ls-transition);
}
.user-connect.outline {
  outline: 1px solid var(--ls-accent-1-color);
  padding: 10px;
}
body > .user-connect {
  max-width: 210px;
  transition: none;
  cursor: pointer;
  pointer-events: none;
}
body > .user-connect img {
  max-width: 60px;
}
body > .user-connect .user-connect__name {
  padding: 2px 6px 2px 31px;
}
.user-connect > * {
  pointer-events: none;
}
.user-connect:not(.active) {
  filter: grayscale(100%);
}
.user-connect img {
  max-height: 80px;
  position: relative;
  z-index: 0;
}
.user-connect__name {
  color: var(--ls-alfa-color);
  font-size: var(--ls-font-base);
  line-height: 24px;
  width: min(194px, 100%);
  border: 1px solid var(--ls-alfa-color);
  box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 8px 8px 8px 41px;
  margin-left: -26px;
  background-color: var(--ls-thin-color);
  min-width: 176px;
  min-height: 54px;
}
.user-connect__now {
  color: var(--ls-alfa-color);
  font-size: var(--ls-font-base);
  line-height: 24px;
  background: linear-gradient(90.51deg, #45FE39 0.2%, rgba(255, 255, 255, 0) 99.8%);
  line-height: 66px;
  margin-left: -15px;
  padding: 0 35px;
  box-sizing: border-box;
  position: relative;
  z-index: -1;
}
.property .property_one:after {
  content: '';
  display: block;

  width: 50px;
  height: 1px;
  background-color: black;
  padding-left: 20px;
  margin-left: 10px;
}
.wartezimmer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  grid-gap: 60px;
}
@media screen and (max-width: 1200px) {
  .wartezimmer {
    grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
  }
}
.wartezimmer p {
  margin: 42px 0 20px;
}
.wartezimmer ul {
  margin-bottom: 30px;
}
.wartezimmer:before,
.wartezimmer:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-size: auto;
  background-repeat: no-repeat;
}
.wartezimmer iframe {
  background-color: #e4e4e4;
  width: 100%;
}
.wartezimmer__addition {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
  grid-gap: 40px;
  max-width: 1450px;
  margin: 40px 0;
}
@media screen and (min-width: 1201px) {
  .wartezimmer__addition {
    grid-column: span 2;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  transition: all 0.8s ease 0s;
  opacity: 0;
  visibility: hidden;
  margin: 0;

}
#popup_buttons.open {
  visibility: visible;
  opacity: 1;
}
#popup_buttons.open .popup_content {
  visibility: visible;
  opacity: 1;
  transform: translate(0px,0px);
}
#popup_less_players.open {
  visibility: visible;
  opacity: 1;
  transform: translate(0px,0px);
}
#popup_less_players.open .popup_content{
  visibility: visible;
  opacity: 1;
  transform: translate(0px,0px);
}
#popup_less_ready_players.open {
  visibility: visible;
  opacity: 1;
}
#popup_less_ready_players.open .popup_content{
  visibility: visible;
  opacity: 1;
  transform: translate(0px,0px);
}
.popup_body {
  padding: 0;
  display: block;
}
/* #popup_buttons>.popup_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
} */
.modal_button {
  margin: 20px;
  font-size: 18px;
  line-height: 30px;
  padding: 10px;
}

#popup_less_players .popup_content {
  font-size: 24px;
  background-color: #51CEEC;
  padding: 30px;
  color: black;
  text-align: center;
  opacity: 0;
  transition: all 0.8s ease 0s;
  transform: translate(0px, -100%);
}

#popup_less_ready_players .popup_content {
  font-size: 24px;
  background-color: #51CEEC;
  padding: 30px;
  color: black;
  text-align: center;
  opacity: 0;
  transition: all 0.8s ease 0s;
  transform: translate(0px, -100%);
}
#popup_buttons{
  display: flex;
  align-content: center;
  justify-content: center;
}
#popup_buttons .popup_body{
  display: flex;
  align-items: center;
  justify-content: center;
}
#popup_buttons .popup_content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 30px;
  opacity: 0;
  transition: all 0.8s ease 0s;
  transform: translate(0px, -100%);
}
